<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseInfo">
		<select id="selectProjectBaseInfo" resultType="camel">
		/* baseInfo.selectProjectBaseInfo */
		SELECT	A.PROJECT_ID
		,		A.CORP_ID
		,		A.PROJECT_NAME
		,		A.PROJECT_DESC
		,		A.PAY_TYPE
		,		A.NOPAY_YN
		,		CASE
					WHEN A.NOPAY_YN = 'Y' THEN '무과금'
					ELSE
						CASE
							WHEN A.PAY_TYPE = 'PRE' THEN '선불'
							WHEN A.PAY_TYPE = 'POST' THEN '후불'
							ELSE ''
						END
				END AS PAY_TYPE_NAME
		,		A.BILL_ID
		,		A.SMART_CH_CODE
		,		DATE_FORMAT(A.REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		,		A.UPD_DT
		,		A.USE_YN
		,		A.USE_CH_GRP_INFO
		,		A.RESEND_TITLE
		,		A.NOPAY_YN
		,		A.SUBBILL_YN
		,		DATE_FORMAT(A.SUBBILL_START_DAY, '%Y-%m-%d') as SUBBILL_START_DAY
		,		( SELECT COUNT(USER_ID) + 1 FROM cm_console.CM_PROJECT_USER WHERE PROJECT_ID = A.PROJECT_ID ) AS PROJECT_MEMBER_CNT
		FROM	cm_console.CM_PROJECT A
		WHERE	A.PROJECT_ID	= #{projectId}
		AND		A.CORP_ID		= #{corpId}
	</select>

	<update id="updateProjectBaseInfo">
		/* baseInfo.updateProjectBaseInfo */
		UPDATE	cm_console.CM_PROJECT
		SET		PROJECT_NAME		= #{projectName}
		,		PROJECT_DESC		= #{projectDesc}
		,		USE_YN				= #{useYn}
		,		USE_CH_GRP_INFO		= #{jsonInfo}
		WHERE	PROJECT_ID			= #{projectId}
	</update>
	
	<select id="selectApiKeyList" resultType="camel">
		/* baseInfo.selectApiKeyList */
		SELECT	API_KEY
		,		CORP_ID
		,		PROJECT_ID
		,		API_PWD
		,		IP_CHK_YN
		,		CPS
		,		DAY_SENDER_CHK_YN
		,		MON_SENDER_CHK_YN
		,		API_KEY_NAME
		,		STATUS
		,		RPT_YN
		,		LINE_TYPE
		,		DUP_CHK_YN
		,		WEB_SENDER_YN
		,		IF(WEB_SENDER_YN = 'Y', '예', '아니오') AS WEB_SENDER_YN_NAME
		,		DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT
		,		DAY_SENDER_LIMIT_AMOUNT
		,		MON_SENDER_LIMIT_AMOUNT
		,		IP_LIST
		,		DATE_FORMAT(UPD_DT, '%Y-%m-%d') AS UPD_DT
		,		CASE STATUS
				WHEN 'USE' THEN '사용' ELSE '미사용'
				END			STATUS_NAME
		FROM cm.CM_APIKEY
		WHERE CORP_ID = #{corpId}
		AND PROJECT_ID = #{projectId}
	</select>

	<insert id="insertApiKey">
		/* baseInfo.insertApiKey APIKEY 등록 */
		INSERT INTO	cm.CM_APIKEY (
				API_KEY
		,		CORP_ID
		,		PROJECT_ID
		,		API_PWD
		,		IP_CHK_YN
		,		CPS
		,		DAY_SENDER_CHK_YN
		,		MON_SENDER_CHK_YN
		,		API_KEY_NAME
		,		STATUS
		,		RPT_YN
		,		LINE_TYPE
		,		DUP_CHK_YN
		,		WEB_SENDER_YN
		,		REG_DT
				<if test="daySenderLimitAmount != null and daySenderLimitAmount != ''">
		,		DAY_SENDER_LIMIT_AMOUNT
				</if>
				<if test="monSenderLimitAmount != null and monSenderLimitAmount != ''">
		,		MON_SENDER_LIMIT_AMOUNT
				</if>
		,		IP_LIST
		,		UPD_DT
		)	VALUES (
				#{apiKey}
		,		#{corpId}
		,		#{newProjectId}
		,		#{apiPwd}
		,		#{ipChkYn}
		,		30
		,		#{daySenderChkYn}
		,		#{monSenderChkYn}
		,		#{apiKeyName}
		,		#{status}
		,		#{rptYn}
		,		'BATCH'
		,		#{dupChkYn}
		,		#{webSenderYn}
		,		NOW()
				<if test="daySenderLimitAmount != null and daySenderLimitAmount != ''">
		,		#{daySenderLimitAmount}
				</if>
				<if test="monSenderLimitAmount != null and monSenderLimitAmount != ''">
		,		#{monSenderLimitAmount}
				</if>
		,		#{jsonInfo}
		,		NOW()
		)
	</insert>
	
	<update id="updateApiKey" parameterType="hashmap">
		/* baseInfo.updateApiKey APIKEY 수정*/
		UPDATE cm.CM_APIKEY
		SET
			API_PWD					= #{apiPwd} 
		,	WEB_SENDER_YN			= #{webSenderYn}
		,	IP_CHK_YN				= #{ipChkYn}
		,	IP_LIST					= #{jsonInfo}
		,	STATUS					= #{status}
		,	RPT_YN					= #{rptYn}
		,	DUP_CHK_YN				= #{dupChkYn}
		,	DAY_SENDER_CHK_YN		= #{daySenderChkYn}
		<if test="daySenderLimitAmount != null and daySenderLimitAmount != ''">
		,	DAY_SENDER_LIMIT_AMOUNT	= #{daySenderLimitAmount}
		</if>
		,	MON_SENDER_CHK_YN		= #{monSenderChkYn}
		<if test="monSenderLimitAmount != null and monSenderLimitAmount != ''">
		,	MON_SENDER_LIMIT_AMOUNT	= #{monSenderLimitAmount}
		</if>
		,	API_KEY_NAME			= #{apiKeyName}
		,	UPD_DT					= NOW()
		WHERE
			API_KEY					= #{apiKey}
	</update>
	
	<select id="selectApiKeyPassword" resultType="int">
	/* baseInfo.selectApiKeyPassword APIKEY 암호 검증*/
		SELECT	COUNT(1)
		FROM	cm.CM_APIKEY
		WHERE	API_PWD = #{apiPwd}
		AND		API_KEY = #{apiKey}
	</select>
</mapper>