<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="baseInfo">
		<select id="selectProjectBaseInfo" resultType="camel">
		/* baseInfo.selectProjectBaseInfo */
		SELECT	A.PROJECT_ID
		,		A.CORP_ID
		,		A.PROJECT_NAME
		,		A.PROJECT_DESC
		,		A.PAY_TYPE
		,		CASE 
					WHEN A.PAY_TYPE = 'Y' THEN '선불'
					WHEN A.PAY_TYPE = 'N' THEN '후불'
					ELSE ''
				END AS PAY_TYPE_NAME
		,		A.BILL_ID
		,		A.SMART_CH_CODE
		,		date_format(A.REG_DT, '%Y-%m-%d') AS REG_DT
		,		A.UPD_DT
		,		A.USE_YN
		,		A.USE_CH_GRP_INFO
		,		A.RESEND_TITLE
		,		A.NOPAY_YN
		,		A.SUBBILL_YN
		,		date_format(A.SUBBILL_START_DAY, '%Y-%m-%d') as SUBBILL_START_DAY
		,		( SELECT COUNT(USER_ID) + 1 FROM cm_console.CM_PROJECT_USER WHERE PROJECT_ID = A.PROJECT_ID ) AS PROJECT_MEMBER_CNT
		,		REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO, '$.RCS[0]'), "\"", "") AS RCS_YN
		,		REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO, '$.SMSMMS[0]'), "\"", "") AS SMSMMS_YN
		,		REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO, '$.PUSH[0]'), "\"", "") AS PUSH_YN
		,		REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO, '$.KAKAO[0]'), "\"", "") AS KAKAO_YN
		,		REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO, '$.MO[0]'), "\"", "") AS MO_YN
		FROM	cm_console.CM_PROJECT A
		WHERE	A.PROJECT_ID = #{projectId}
	</select>

	<update id="updateProjectBaseInfo">
		/* baseInfo.updateProjectBaseInfo */
		UPDATE	cm_console.CM_PROJECT
		SET		PROJECT_NAME		= #{projectName}
		,		PROJECT_DESC		= #{projectDesc}
		,		USE_YN				= #{useYn}
		,		USE_CH_GRP_INFO		= #{jsonInfo}
		WHERE	PROJECT_ID			= #{projectId}
	</update>
</mapper>