<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="channel">

	<select id="selectRcsBrandList" resultType="camel">
		SELECT	A.BRAND_ID
		,		MAX(A.CORP_ID) AS CORP_ID
		,		MAX(A.BRAND_NAME) AS BRAND_NAME
		,		MAX(A.BRAND_DESC) AS BRAND_DESC
<!-- 		,		MAX(A.BRAND_KEY) AS BRAND_KEY -->
<!-- 		,		MAX(A.CATEGORY_ID) AS CATEGORY_ID  -->
<!-- 		,		MAX(A.SUB_CATEGORY_ID) AS SUB_CATEGORY_ID -->
<!-- 		,		MAX(A.BRAND_INFO) AS BRAND_INFO -->
<!-- 		,		MAX(A.REG_DT) AS REG_DT -->
<!-- 		,		MAX(A.REQ_DT) AS REQ_DT -->
<!-- 		,		'' -->
		FROM	cm.CM_RCS_BRAND_REQ A
		WHERE	A.PROJECT_ID = #{projectId}
<!-- 		<if test="srcBrandText != '' and srcBrandText != null" > -->
<!-- 			<choose> -->
<!-- 				<when test="srcBrandType == 'brandId'.toString() "> -->
<!-- 				AND	A.BRAND_ID = #{srcBrandText} -->
<!-- 				</when> -->
<!-- 				<when test="srcBrandType == 'brandName'.toString() "> -->
<!-- 				AND	A.BRAND_NAME = #{srcBrandText} -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 		</if> -->
		GROUP BY A.BRAND_ID
<!-- 		UNION ALL -->
<!-- 		SELECT	A.BRAND_ID -->
<!-- 		,		A.CORP_ID -->
<!-- 		,		A.BRAND_NAME -->
<!-- 		,		A.BRAND_DESC -->
<!-- 		,		A.BRAND_KEY -->
<!-- 		,		A.CATEGORY_ID  -->
<!-- 		,		A.SUB_CATEGORY_ID -->
<!-- 		,		A.BRAND_INFO -->
<!-- 		,		A.REG_DT -->
<!-- 		,		'' -->
<!-- 		,		A.APPROVAL_DT -->
<!-- 		FROM	CM_RCS_BRAND A -->
<!-- 		WHERE	A.BRAND_ID NOT IN ( -->
<!-- 			SELECT	AA.BRAND_ID -->
<!-- 			FROM	cm.CM_RCS_BRAND_REQ AA -->
<!-- 			WHERE	AA.PROJECT_ID = #{projectId} -->
<!-- 			<if test="srcBrandText != '' and srcBrandText != null" > -->
<!-- 				<choose> -->
<!-- 					<when test="srcBrandType == 'brandId'.toString() "> -->
<!-- 					AND	AA.BRAND_ID = #{srcBrandText} -->
<!-- 					</when> -->
<!-- 					<when test="srcBrandType == 'brandName'.toString() "> -->
<!-- 					AND	AA.BRAND_NAME = #{srcBrandText} -->
<!-- 					</when> -->
<!-- 				</choose> -->
<!-- 			</if> -->
<!-- 			GROUP BY AA.BRAND_ID -->
<!-- 		) -->
<!-- 		AND	A.PROJECT_ID = #{projectId} -->
<!-- 		<if test="srcBrandText != '' and srcBrandText != null" > -->
<!-- 			<choose> -->
<!-- 				<when test="srcBrandType == 'brandId'.toString() "> -->
<!-- 				AND	A.BRAND_ID = #{srcBrandText} -->
<!-- 				</when> -->
<!-- 				<when test="srcBrandType == 'brandName'.toString() "> -->
<!-- 				AND	A.BRAND_NAME = #{srcBrandText} -->
<!-- 				</when> -->
<!-- 			</choose> -->
<!-- 		</if> -->
<!-- 		ORDER BY REG_DT DESC -->
	</select>
	
</mapper>