<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="channel">

	<select id="selectRcsBrandList" resultType="camel">
	/* channel.selectRcsBrandList */
		SELECT	A.BRAND_ID
		,		MAX(A.CORP_ID) AS CORP_ID
		,		MAX(A.BRAND_NAME) AS BRAND_NAME
		,		MAX(A.BRAND_DESC) AS BRAND_DESC
		,		'????' AS OTHER_PROJECT_USE_YN
		
		,		( 	SELECT	COUNT(MESSAGEBASE_ID) 
					FROM	cm_console.CM_RCS_TMP_MSGBASE
					WHERE	BRAND_ID  = A.BRAND_ID 
				) AS TMPL_CNT
		,		( 	SELECT	COUNT(CHATBOT_ID) 
					FROM	cm.CM_RCS_CHATBOT
					WHERE	BRAND_ID  = A.BRAND_ID 
				) AS CALLBACK_CNT
		FROM	cm.CM_RCS_BRAND_REQ A
		WHERE	A.PROJECT_ID = #{projectId}
		AND		A.BRAND_ID NOT IN (
			SELECT	A.BRAND_ID
			FROM	cm.CM_RCS_BRAND A
			WHERE	A.PROJECT_ID = #{projectId}
			GROUP BY A.BRAND_ID
		) 
		GROUP BY A.BRAND_ID
		
		UNION  ALL
		
		SELECT 	A.BRAND_ID
		,		A.CORP_ID
		,		A.BRAND_NAME
		,		'' as BRAND_DESC
		,		'??????????????' AS OTHER_PROJECT_USE_YN
		,		( 	SELECT	COUNT(MESSAGEBASE_ID) 
					FROM	cm_console.CM_RCS_TMP_MSGBASE
					WHERE	BRAND_ID  = A.BRAND_ID 
				) AS TMPL_CNT
		,		( 	SELECT	COUNT(CHATBOT_ID) 
					FROM	cm.CM_RCS_CHATBOT
					WHERE	BRAND_ID  = A.BRAND_ID 
				) AS CALLBACK_CNT
		FROM	cm.CM_RCS_BRAND A
		WHERE	A.PROJECT_ID = #{projectId}
	</select>
	
	
	<select id="selectRcsRegTmpltList" resultType="camel">
		/* channel.selectRcsRegTmpltList */
		SELECT	MESSAGEBASE_ID
		,		MESSAGEBASEFORM_ID
		,		BRAND_ID
		,		CORP_ID
		,		TMPLT_NAME
		,		PRODUCT_CODE
		,		MESSAGEBASE_INFO
		,		APPROVAL_STATUS
		,		REG_ID
		,		UPD_ID
		,		USE_YN
		,		REG_DT
		,		UPD_DT
		,		APPROVAL_DT
		FROM	cm.CM_RCS_MSGBASE
		WHERE	BRAND_ID = #{brandId}
	</select>
	
	<select id="selectRcsCallbackList" resultType="camel">
		/* channel.selectRcsCallbackList */
		SELECT	CHATBOT_ID
		,		BRAND_ID
		,		CORP_ID
		,		SVC_TYPE
		,		CHATBOT_INFO
		,		APPROVAL_STATUS
		,		USE_YN
		,		REG_DT
		,		UPD_DT
		,		APPROVAL_DT
		FROM	CM_RCS_CHATBOT
		WHERE	BRAND_ID = #{brandId}
	</select>
	
</mapper>