<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="signUp">

	<select id="selectDomainChkCount" resultType="int">
		/* signUp.selectDomainChkCount */
		SELECT	COUNT(*)
		FROM	CM_CORP
		WHERE	DOMAIN_NAME = #{domainName}
	</select>

	<insert id="insertCmUser">
		/* signUp.insertCmUser */
		INSERT INTO CM_USER (
				USER_ID
		,		LOGIN_ID
<!-- 		,		MAIL_CERTIFY_NUMBER -->
<!-- 		,		MAIL_CERTIFY_SENDER_DT -->
		,		APPROVAL_STATUS
		,		ROLE_CD
		,		REG_ID
		,		REG_DT
		) VALUES (
				#{userId}
		,		#{email}
<!-- 		,		#{ranDomNum} -->
<!-- 		,		SYSDATE() -->
		,		'ING'
		,		#{cmRole}
		,		#{regId}
		,		SYSDATE()
		)
	</insert>

	<select id="selectCmUseTerms" resultType = "camel">
		/* signUp.selectCmUseTerms */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'Y'
		ORDER BY REG_DT DESC
		LIMIT 1
	</select>

	<select id="selectCmUseTermsPriVersion" resultType = "camel">
		/* signUp.selectCmUseTermsPriVersion */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		,		REVISE_DAY
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'N'
		ORDER BY REVISE_DAY DESC
	</select>

	<insert id="insertCmCorp">
		/* signUp.insertCmCorp */
		INSERT INTO CM_CORP (
				CORP_ID
		,		CUST_NO
		,		CORP_NAME
		,		REGNO
<!-- 		,		REG_ID -->
		,		REG_DT
		,		CEO_NAME
		,		ZIPCODE
		,		WOPLACE_ADDRESS
		,		WOPLACE_ADDRESS_DETAIL
		,		BUSITYPE
		,		BUSICLASS
<!-- 		,		SVC_TERMS_ID -->
		,		SMS_CERTIFY_YN
		,		WIRE_TEL
		,		FILE_ID
		,		DOMAIN_NAME
		) VALUES (
				#{corpId}
		,		#{custNo}
		,		#{corpNm}
		,		#{regno}
<!-- 		,		#{userId} -->
		,		NOW()
		,		#{ceoNm}
		,		#{zipCode}
		,		#{woplaceAddress}
		,		#{woplaceAddressDetail}
		,		#{busiType}
		,		#{busiClass}
<!-- 		,		#{svcTermsId} -->
		,		#{smsCertifyYn}
		,		#{wireTel}
		,		#{fileId}
		,		#{domainName}
		)
	</insert>
</mapper>