<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="signUp">
	
	<select id="selectDomainChkCount" resultType="int">
		/* signUp.selectDomainChkCount */
		SELECT	COUNT(1)
		FROM	cm_console.CM_CORP
		WHERE	DOMAIN_NAME = #{domainName}
	</select>

	<insert id="insertCmUser">
		/* signUp.insertCmUser */
		INSERT INTO cm_console.CM_USER (
				USER_ID
		,		LOGIN_ID
		,		USER_NAME
		,		LOGIN_PWD
		,		PWD_UPD_DT
		,		HP_NUMBER
		,		APPROVAL_STATUS
		,		DEL_YN
		,		CORP_ID
		,		ROLE_CD
		,		PROMOTION_YN
		,		REG_ID
		,		REG_DT
		,		SALT
		) VALUES (
				#{userId}
		,		#{loginId}
		,		#{userNm}
		,		#{password}
		,		NOW()
		,		#{phoneCerti}
		,		'Y'
		,		'N'
		,		#{corpId}
		,		#{cmRole}
		,		#{promotionYn}
		,		#{userId}
		,		NOW()
		,		#{salt}
		)
	</insert>

	<select id="selectCmUseTerms" resultType = "camel">
		/* signUp.selectCmUseTerms */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'Y'
		ORDER BY REG_DT DESC
		LIMIT 1
	</select>

	<select id="selectCmUseTermsPriVersion" resultType = "camel">
		/* signUp.selectCmUseTermsPriVersion */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		,		REVISE_DAY
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'N'
		ORDER BY REVISE_DAY DESC
	</select>

	<insert id="insertCmCorp">
		/* signUp.insertCmCorp */
		INSERT INTO cm_console.CM_CORP (
				CORP_ID
		,		CUST_NO
		,		CORP_NAME
		,		REGNO
		,		REG_ID
		,		REG_DT
		,		CEO_NAME
		,		ZIPCODE
		,		WOPLACE_ADDRESS
		,		WOPLACE_ADDRESS_DETAIL
		,		BUSITYPE
		,		BUSICLASS
<!-- 		,		SMS_CERTIFY_YN -->
		,		WIRE_TEL
		,		FILE_ID
<!-- 		,		DOMAIN_NAME -->
		,		UPD_DT
		,		SALES_ID
		,		SELF_TOKEN
		) VALUES (
				#{corpId}
		,		#{custNo}
		,		#{corpNm}
		,		#{regno}
		,		#{userId}
		,		NOW()
		,		#{ceoNm}
		,		#{zipCode}
		,		#{woplaceAddress}
		,		#{woplaceAddressDetail}
		,		#{busiType}
		,		#{busiClass}
<!-- 		,		#{smsCertifyYn} -->
		,		#{wireTel}
		,		#{fileId}
<!-- 		,		#{domainName} -->
		,		NOW()
		,		#{salesMan}
		,		#{coInfo1}
		)
	</insert>
	
	<select id="checkMailCertifyByAuthKey" resultType="camel">
		/* signUp.checkMailCertifyByAuthKey */
		SELECT	EMAIL
		,		DATE_FORMAT(MAIL_CERTIFY_DT, '%Y-%m-%d %H:%i:%s')	AS MAIL_CERTIFY_DT
		,		PROMOTION_YN
		FROM	cm_console.CM_MAIL_CERTIFY
		WHERE	MAIL_CERTIFY_KEY =#{authKey}
	</select>
	
	<insert id="insertCmMailCertify">
		/* signUp.insertCmMailCertify */
		INSERT INTO cm_console.CM_MAIL_CERTIFY (
				EMAIL
		,		MAIL_CERTIFY_KEY
		,		MAIL_CERTIFY_DT
		<if test="promotionYn != '' and promotionYn != null">
		,		PROMOTION_YN
		</if>
		,		REG_DT
		) VALUES (
				#{email}
		,		#{authKey}
		<choose>
			<when test="time != '' and time != null">
		,		#{time}
			</when>
			<otherwise>
		,		DATE_ADD(NOW(), INTERVAL 24 HOUR)
			</otherwise>
		</choose>
		<if test="promotionYn != '' and promotionYn != null">
		,		#{promotionYn}
		</if>
		,		NOW()
		)
	</insert>
	
	<select id="selectIsExistCustNo" resultType="int">
		/* signUp.selectIsExistCustNo */
		SELECT EXISTS (
			SELECT CUST_NO
			FROM cm_console.CM_CORP
			WHERE CUST_NO = #{custNo}
		)
	</select>
	
	<select id="selectCustNoDuplicateYn" resultType="string">
		/* signUp.selectCustNoDuplicateYn */
		SELECT	USE_YN
		FROM	cm_bo.CM_CODE_TYPE
		WHERE	CODE_TYPE_CD = 'CUST_NO_DULICATE'
	</select>
	
	<select id="selectDefaultSalesManId" resultType="string">
		/* signUp.selectDefaultSalesManId */
		SELECT	CODE_VAL_1
		FROM	cm_bo.CM_CODE cc 
		WHERE	CODE_TYPE_CD = 'SALES_MAN'
		AND		CODE_VAL_3  = 'Y'
		LIMIT 1
	</select>
</mapper>