<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="signUp">
	
	<select id="selectDomainChkCount" resultType="int">
		/* signUp.selectDomainChkCount */
		SELECT	COUNT(1)
		FROM	cm_console.CM_CORP
		WHERE	DOMAIN_NAME = #{domainName}
	</select>

	<insert id="insertCmUser">
		/* signUp.insertCmUser */
		INSERT INTO cm_console.CM_USER (
				USER_ID
		,		LOGIN_ID
		,		USER_NAME
		,		LOGIN_PWD
		,		PWD_UPD_DT
		,		HP_NUMBER
		,		APPROVAL_STATUS
		,		DEL_YN
		,		CORP_ID
		,		ROLE_CD
		,		PROMOTION_YN
		,		REG_ID
		,		REG_DT
		,		SALT
		) VALUES (
				#{userId}
		,		#{loginId}
		,		#{userNm}
		,		#{password}
		,		NOW()
		,		#{phoneCerti}
		,		'Y'
		,		'N'
		,		#{corpId}
		,		#{cmRole}
		,		#{promotionYn}
		,		#{userId}
		,		NOW()
		,		#{salt}
		)
	</insert>

	<select id="selectCmUseTerms" resultType = "camel">
		/* signUp.selectCmUseTerms */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'Y'
		ORDER BY REG_DT DESC
		LIMIT 1
	</select>

	<select id="selectCmUseTermsPriVersion" resultType = "camel">
		/* signUp.selectCmUseTermsPriVersion */
		SELECT	SVC_TERMS_ID
		,		TERMS_CONTENT
		,		REVISE_DAY
		FROM	cm_bo.CM_USE_TERMS
		WHERE	TERMS_CD = #{srcTermsCd}
		AND		USE_YN = 'N'
		ORDER BY REVISE_DAY DESC
	</select>

	<insert id="insertCmCorp">
		/* signUp.insertCmCorp */
		INSERT INTO cm_console.CM_CORP (
				CORP_ID
		,		CUST_NO
		,		CORP_NAME
		,		REGNO
		,		REG_ID
		,		REG_DT
		,		CEO_NAME
		,		ZIPCODE
		,		WOPLACE_ADDRESS
		,		WOPLACE_ADDRESS_DETAIL
		,		BUSITYPE
		,		BUSICLASS
<!-- 		,		SMS_CERTIFY_YN -->
		,		WIRE_TEL
		,		FILE_ID
		,		FILE_ID1
		,		FILE_ID2
		<if test="fileId3 != null and fileId3 != ''">
		,		FILE_ID3
		</if>
<!-- 		,		DOMAIN_NAME -->
		,		UPD_DT
		,		SALES_ID
		,		SELF_TOKEN
        ,       FEE_TYPE
        ,       MON_SENDER_LIMIT_AMOUNT
		) VALUES (
				#{corpId}
		,		#{custNo}
		,		#{corpNm}
		,		#{regno}
		,		#{userId}
		,		NOW()
		,		#{ceoNm}
		,		#{zipCode}
		,		#{woplaceAddress}
		,		#{woplaceAddressDetail}
		,		#{busiType}
		,		#{busiClass}
<!-- 		,		#{smsCertifyYn} -->
		,		#{wireTel}
		,		#{fileId}
		,		#{fileId1}
		,		#{fileId2}
		<if test="fileId3 != null and fileId3 != ''">
		,		#{fileId3}
		</if>
<!-- 		,		#{domainName} -->
		,		NOW()
		,		#{salesMan}
		,		#{coInfo1}
        ,       #{feeType}
        ,       3000000
		)
	</insert>
	
	<select id="checkMailCertifyByAuthKey" resultType="camel">
		/* signUp.checkMailCertifyByAuthKey */
		SELECT	EMAIL
		,		DATE_FORMAT(MAIL_CERTIFY_DT, '%Y-%m-%d %H:%i:%s')	AS MAIL_CERTIFY_DT
		,		PROMOTION_YN
		FROM	cm_console.CM_MAIL_CERTIFY
		WHERE	MAIL_CERTIFY_KEY =#{authKey}
	</select>
	
	<insert id="insertCmMailCertify">
		/* signUp.insertCmMailCertify */
		INSERT INTO cm_console.CM_MAIL_CERTIFY (
				EMAIL
		,		MAIL_CERTIFY_KEY
		,		MAIL_CERTIFY_DT
		<if test="promotionYn != '' and promotionYn != null">
		,		PROMOTION_YN
		</if>
		,		REG_DT
		) VALUES (
				#{email}
		,		#{authKey}
		<choose>
			<when test="time != '' and time != null">
		,		#{time}
			</when>
			<otherwise>
		,		DATE_ADD(NOW(), INTERVAL 24 HOUR)
			</otherwise>
		</choose>
		<if test="promotionYn != '' and promotionYn != null">
		,		#{promotionYn}
		</if>
		,		NOW()
		)
	</insert>
	
	<select id="selectIsExistCustNo" resultType="int">
		/* signUp.selectIsExistCustNo */
		SELECT EXISTS (
			SELECT	CUST_NO
			FROM	cm_console.CM_CORP
			WHERE	CUST_NO = #{custNo}
			AND		STATUS IN ('USE', 'STOP')
		)
	</select>
	
	<select id="selectCustNoDuplicateYn" resultType="string">
		/* signUp.selectCustNoDuplicateYn */
		SELECT	USE_YN
		FROM	cm_bo.CM_CODE_TYPE
		WHERE	CODE_TYPE_CD = 'CUST_NO_DULICATE'
	</select>
	
	<select id="selectDefaultSalesManId" resultType="string">
		/* signUp.selectDefaultSalesManId */
		SELECT	CODE_VAL_1
		FROM	cm_bo.CM_CODE cc 
		WHERE	CODE_TYPE_CD = 'SALES_MAN'
		AND		CODE_VAL_3  = 'Y'
		LIMIT 1
	</select>
	
	<insert id="insertBill">
        /* signUp.insertBill - 청구정보 등록 */
        INSERT INTO cm_console.CM_BILL (
            CORP_ID
          , BILL_ID
          , BILL_REG_NO
          , BILL_TYPE
          , BILL_NAME
          , BILL_STATUS
          , NAP_CUST_KD_CD
          , BILL_KIND
          , BILL_EMAIL
          , BILL_TEL_NO
          , BILL_ZIP
          , BILL_JUSO
          , BILL_JUSO2
          , PAY_MTHD_CD
          , PAY_DT
          , NAP_CMP_NM
          , NAP_JUMIN
          , BANK_CD
          , BANK_NO
          , CARD_CD
          , CARD_NO
          , CARD_VALD_END_YYMM
          , SERVICE_ID
          , SMS_EXP_CNT
          , RCS_EXP_CNT
          , KKO_EXP_CNT
          , PUSH_EXP_CNT
          , MONTH_EXP_AMOUNT
          , REG_ID
          , REG_DT
          <if test="isUnCertSign != '' and isUnCertSign != null">
          , UNCERTIFIED_Y
          </if>
        ) VALUES (
            #{corpId}
          , #{billId}
          , #{billRegNo}
          , #{billType}
          , #{billName}
          , #{billStatus}
          , #{napCustKdCd}
          , #{billKind}
          , #{billEmail}
          , #{billTelNo}
          , #{billZip}
          , #{billJuso}
          , #{billJuso2}
          , #{payMthdCd}
          , #{payDt}
          , #{napCmpNm}
          , #{napJumin}
          , #{bankCd}
          , #{bankNo}
          , #{cardCd}
          , #{cardNo}
          , #{cardValdEndYymm}
          , #{serviceId}
          , #{smsExpCnt}
          , #{rcsExpCnt}
          , #{kkoExpCnt}
          , #{pushExpCnt}
          , #{monthExpAmount}
          , #{userId}   
          , now()
          <if test="isUnCertSign != '' and isUnCertSign != null">
          , #{isUnCertSign}
          </if>
        )
	</insert>
	
	<update id="updateBill">
        /* signUp.updateBill - 청구정보 수정 */
        UPDATE cm_console.CM_BILL
           SET BILL_REG_NO        = #{billRegNo}        
             , BILL_TYPE          = #{billType}            
             , BILL_NAME          = #{billName}       
             , BILL_STATUS        = #{billStatus}     
             , NAP_CUST_KD_CD     = #{napCustKdCd}    
             , BILL_KIND          = #{billKind}       
             , BILL_EMAIL         = #{billEmail}      
             , BILL_TEL_NO        = #{billTelNo}      
             , BILL_ZIP           = #{billZip}        
             , BILL_JUSO          = #{billJuso}       
             , BILL_JUSO2         = #{billJuso2}      
             , PAY_MTHD_CD        = #{payMthdCd}      
             , PAY_DT             = #{payDt}          
             , NAP_CMP_NM         = #{napCmpNm}       
             , NAP_JUMIN          = #{napJumin}       
             , BANK_CD            = #{bankCd}         
             , BANK_NO            = #{bankNo}         
             , CARD_CD            = #{cardCd}         
             , CARD_NO            = #{cardNo}         
             , CARD_VALD_END_YYMM = #{cardValdEndYymm}
             , SERVICE_ID         = #{serviceId}      
             , SMS_EXP_CNT        = #{smsExpCnt}      
             , RCS_EXP_CNT        = #{rcsExpCnt}      
             , KKO_EXP_CNT        = #{kkoExpCnt}      
             , PUSH_EXP_CNT       = #{pushExpCnt}     
             , MONTH_EXP_AMOUNT   = #{monthExpAmount}
             , HANDLE_REASON      = null
             , HANDLE_ID          = null
             , HANDLE_DT          = null
             , REG_ID             = #{userId}
             , REG_DT             = now()
         WHERE CORP_ID            = #{corpId}
           AND BILL_ID            = #{billId}  
	</update>
	
	<select id="selectStandardInfo" parameterType="string" resultType="hashmap">
	/* signUp.selectStandardInfo */
		SELECT	COMMON_MGR_INFO
		FROM	cm.CM_COMMON
		WHERE	1=1
	</select>	
	
		<select id="selectBillList" resultType="hashMap">
		/* signUp.selectBillList */
		select	FORMAT(cb.SMS_EXP_CNT, 0) AS SMS_EXP_CNT
		,		FORMAT(cb.RCS_EXP_CNT, 0) AS RCS_EXP_CNT
		,		FORMAT(cb.KKO_EXP_CNT, 0) AS KKO_EXP_CNT
		,		FORMAT(cb.PUSH_EXP_CNT, 0) AS PUSH_EXP_CNT
		,		FORMAT(cb.MONTH_EXP_AMOUNT, 0) AS MONTH_EXP_AMOUNT
		,		cb.HANDLE_REASON AS HANDLE_REASON
		,		cb.BILL_NAME AS BILL_NAME
		,		cb.BILL_KIND AS BILL_KIND
		,		cb.BILL_REG_NO AS BILL_REG_NO
		,		cb.BILL_EMAIL AS BILL_EMAIL
		,		cb.BILL_ZIP AS BILL_ZIP
		,		cb.BILL_JUSO AS BILL_JUSO
		,		cb.BILL_JUSO2 AS BILL_JUSO2
		,		nap_cust.CODE_NAME_1 AS NAP_CUST_NAME
		,		cb.PAY_MTHD_CD AS PAY_MTHD_CD
		,		cb.PAY_DT AS PAY_DT
		,		cb.NAP_CMP_NM AS NAP_CMP_NM
		,		cb.NAP_JUMIN AS NAP_JUMIN
		,		(select bank.CODE_NAME_1 FROM cm_console.CM_BILL cb  
				INNER JOIN cm_bo.CM_CODE bank
 				ON  bank.CODE_TYPE_CD = 'BANK'
 				AND bank.CODE_VAL_1 = cb.BANK_CD
 				WHERE cb.CORP_ID = #{corpId}
 				AND cb.BILL_TYPE ='PROJECT') AS BANK_NAME
		,		cb.BANK_NO AS BANK_NO
		,		(select card.CODE_NAME_1 FROM cm_console.CM_BILL cb  
				INNER JOIN cm_bo.CM_CODE card
 				ON  card.CODE_TYPE_CD = 'CARD'
 				AND card.CODE_VAL_1 = cb.CARD_CD
 				WHERE cb.CORP_ID = #{corpId}
 				AND cb.BILL_TYPE ='PROJECT') AS CARD_NAME
		,		cb.CARD_NO AS CARD_NO
		,		cb.CARD_VALD_END_YYMM AS CARD_VALD_END_YYMM
		,		cc.CORP_NAME AS CORP_NAME
		,		FORMAT(cc.MON_SENDER_LIMIT_AMOUNT, 0) AS MON_SENDER_LIMIT_AMOUNT	
		,		cb.NAP_CUST_KD_CD AS NAP_CUST_KD_CD
		,		cb.CARD_CD AS CARD_CD 
		,		cb.BANK_CD AS BANK_CD 
		,		CASE WHEN cb.BILL_ID = 0 THEN '' ELSE cb.BILL_ID END AS BILL_ID
		<if test="salesMan != '' and salesMan != null">
		,		REPLACE( cbcc.CODE_VAL_4,'-','') AS SALES_MAN_NUMBER 
		,		cbcc.CODE_NAME_1 AS SALES_MAN
		</if>
		from 	cm_console.CM_BILL cb 
		INNER JOIN cm_console.CM_CORP cc 
 		ON   	cc.CORP_ID = cb.CORP_ID
 		INNER JOIN cm_bo.CM_CODE nap_cust
 		ON  	nap_cust.CODE_TYPE_CD = 'NAP_CUST_KD'
 		AND 	nap_cust.CODE_VAL_1 = cb.NAP_CUST_KD_CD 
 		<if test="salesMan != '' and salesMan != null">
 		INNER JOIN cm_bo.CM_CODE cbcc 
 		ON   cbcc.CODE_TYPE_CD = 'SALES_MAN'
   		AND   cbcc.CODE_VAL_1  = cc.SALES_ID 
 		</if>
		WHERE 	cb.CORP_ID = #{corpId}
		AND 	cb.BILL_TYPE ='PROJECT'
	</select>
	
	<update id="updateBillStatus">
		/* signUp.updateBillStatus */
		UPDATE	cm_console.CM_BILL cb 
		INNER 	JOIN cm_console.CM_CORP cc
		ON 		cb.CORP_ID = cc.CORP_ID 
		, 		cm.CM_CMD ccc 
		SET 	cb.BILL_ID = #{billId}
		,		cb.SERVICE_ID = #{serviceId}
		,		cb.BILL_STATUS = 'APP'
		, 		cb.HANDLE_REASON = '예상 한도 금액 300만원 미만 시 승인 처리 '
		, 		cc.MON_SENDER_LIMIT_AMOUNT = 3000000
		, 		cb.HANDLE_ID = #{handleId}
		, 		cb.HANDLE_DT = NOW()
		,		cb.UNCERTIFIED_Y = #{isUnCertSign}
		,		cc.UPD_DT  = NOW()
		,		ccc.UPD_DT = NOW()
		WHERE 	cb.CORP_ID = #{corpId}
		AND 	cb.BILL_TYPE = 'PROJECT'		
		AND 	ccc.CMD_TGT ='CM_CORP'	
	</update>
	
	
	<select id="selectCmuserCorpId" resultType="hashMap">
		/* signUp.selectCmuserCorpId */
		SELECT 	CORP_ID
		, 		REG_ID
		 FROM cm_console.CM_USER
		WHERE LOGIN_ID = #{loginId}
	</select>
	
	<select id="selectCmbillAmount" resultType="int">
		/* signUp.selectCmbillAmount */
		SELECT MONTH_EXP_AMOUNT  FROM cm_console.CM_BILL 
		WHERE CORP_ID = #{corpId}
		AND BILL_TYPE ='PROJECT'
	</select>
	
	
	
	<delete id="deleteCmuserCorp">
		/* signUp.deleteCmuserCorp */
		DELETE	FROM cm_console.CM_USER
		WHERE LOGIN_ID = #{loginId}
	</delete>

	<delete id="deleteCmbill">
		/* signUp.deleteCmbill */
		DELETE	FROM cm_console.CM_BILL 
		WHERE CORP_ID = #{corpId}
		AND BILL_TYPE ='PROJECT'
	</delete>

	<select id="selectCmbillStatus" resultType="String">
		/* signUp.selectCmbillStatus */
		SELECT BILL_STATUS FROM cm_console.CM_BILL 
		WHERE CORP_ID = #{corpId}
		AND BILL_TYPE ='PROJECT'
	</select>
	


</mapper>