<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="messageStatus">

    <sql id ="whereSelectMessageStatusList">
        AND A.CORP_ID = #{corpId}
		AND A.PROJECT_ID = #{projectId}
         <if test="searchText != '' and searchText != null ">
            <if test="searchCondi == 'receiverId' ">
            AND C.CU_INFO_ID LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="searchCondi == 'receiverName' ">
            AND C.CU_NAME LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="searchCondi == 'receiverPhone' ">
            AND C.HP_NUMBER LIKE CONCAT('%', #{searchText}, '%')
            </if>
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            AND A.REQ_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchStartDate}, ' 23:59:59')
        </if>
        <if test='searchResultY and !searchResultN'>
        	AND A.GW_RESULT_CODE = '10000'
        </if>
        <if test='searchResultN and !searchResultY'>
        	AND A.GW_RESULT_CODE != '10000'
        </if>
        <if test='searchSendCloud and !searchSendAPI'>
        	AND A.WEB_REQ_ID IS NOT NULL
        </if>
        <if test='searchSendAPI and !searchSendCloud'>
        	AND A.WEB_REQ_ID IS NULL
        </if>
    </sql>

    <select id="selectMessageStatusListCnt" parameterType="hashmap" resultType="int">
    /* selectMessageStatusListCnt 메시지 현황 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm.CM_MSG A LEFT OUTER JOIN cm_console.CM_WEB_MSG B
		                 ON A.WEB_REQ_ID = B.WEB_REQ_ID
		                 LEFT OUTER JOIN cm_console.CM_CU_INFO C
		                 ON A.PHONE = C.HP_NUMBER
        WHERE 1=1
        <include refid="whereSelectMessageStatusList"/>
    </select>

	<select id="selectMessageStatusList" parameterType="hashmap" resultType="camel">
		/* 메시지 현황 리스트 조회 */
		SELECT @rownum:=@rownum+1 AS ROW_NUM
		    , A.YMD, A.MSG_KEY, A.CORP_ID, A.PROJECT_ID
		    , A.REQ_CH  /*채널구분*/
			, DATE_FORMAT(A.REG_DT, '%Y.%m.%d %H:%i:%s') AS REG_DT /*발송일시*/
			, A.SENDER_TYPE /*발송타입*/
			, CASE WHEN A.SENDER_TYPE = 'C' THEN '개별방송'
			       WHEN A.SENDER_TYPE = 'M' THEN '통합발송'
			       WHEN A.SENDER_TYPE = 'S' THEN '스마트발송'
			       END AS SENDER_TYPE_NM /*발송타입명*/
			, A.GW_RESULT_CODE /*결과*/
			, CASE WHEN A.GW_RESULT_CODE = '10000' THEN '성공'
			       ELSE '실패'
			       END AS GW_RESULT_NM  /*결과명*/
			, A.PUSH_CUID /*push수신자ID
			, B.CAMPAIGN_ID /*테그*/
			, A.PHONE /*수신자전화번호*/
			, CONCAT(SUBSTR(A.PHONE,1,3), '-',  SUBSTR(A.PHONE,4,4), '-', SUBSTR(A.PHONE,8,4)) AS PHONE_NUMBER
			, '' AS MESSAGE
		FROM cm.CM_MSG A LEFT OUTER JOIN cm_console.CM_WEB_MSG B ON A.WEB_REQ_ID = B.WEB_REQ_ID
		                 LEFT OUTER JOIN cm_console.CM_CU_INFO C ON A.PHONE = C.HP_NUMBER
		   , (SELECT @rownum:=0) TMP
		WHERE 1=1
        <include refid="whereSelectMessageStatusList"/>
        <if test='pagingYn == "Y" '>
        LIMIT #{offset}, #{listSize}
        </if>
    </select>

	<select id="selectMessageStatusDetail" parameterType="hashmap" resultType="camel">
	/* 메시지 현황 상세 조회 */
		SELECT	A.YMD, A.MSG_KEY, A.CORP_ID, A.PROJECT_ID
		,		A.REQ_CH  /*채널구분*/
		,	DATE_FORMAT(A.REG_DT, '%Y.%m.%d %H:%i:%s') AS REG_DT /*발송일시*/
		,	A.SENDER_TYPE /*발송타입*/
		,	CASE WHEN A.SENDER_TYPE = 'C' THEN '개별방송'
				WHEN A.SENDER_TYPE = 'M' THEN '통합발송'
				WHEN A.SENDER_TYPE = 'S' THEN '스마트발송'
			END AS SENDER_TYPE_NM /*발송타입명*/
		,	A.GW_RESULT_CODE /*결과*/
		,	CASE WHEN A.GW_RESULT_CODE = '10000' THEN '성공'
				ELSE '실패'
			END AS GW_RESULT_NM  /*결과명*/
		,	A.PUSH_CUID /*push수신자ID
		,	B.CAMPAIGN_ID /*테그*/
		,	A.PHONE /*수신자전화번호*/
		,	CONCAT(SUBSTR(A.PHONE,1,3), '-',  SUBSTR(A.PHONE,4,4), '-', SUBSTR(A.PHONE,8,4)) AS PHONE_NUMBER
		,	'' AS MESSAGE
		FROM	cm.CM_MSG A
		LEFT OUTER JOIN cm_console.CM_WEB_MSG B
			ON	A.WEB_REQ_ID = B.WEB_REQ_ID
		LEFT OUTER JOIN cm_console.CM_CU_INFO C
			ON A.PHONE = C.HP_NUMBER
		WHERE 1=1
		AND A.MSG_KEY = #{msgKey}
	</select>

</mapper>