<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="webSend">

    <sql id ="whereSelectWebSendList">
        AND A.CORP_ID = #{corpId}
		AND A.PROJECT_ID = #{projectId}
        <if test="searchText != '' and searchText != null ">
            AND C.CORP_ID LIKE CONCAT('%', #{searchText}, '%')
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            AND A.REG_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchStartDate}, ' 23:59:59')
        </if>
    </sql>

    <select id="selectWebSendListCnt" parameterType="hashmap" resultType="int">
    /* 웹 현황 리스트 카운트 조회 */
        SELECT
            COUNT(DISTINCT A.WEB_REQ_ID) AS CNT
        FROM cm_console.CM_WEB_MSG A LEFT OUTER JOIN cm.CM_MSG B ON A.WEB_REQ_ID = B.WEB_REQ_ID
		                             LEFT OUTER JOIN cm_console.CM_CORP C ON A.CORP_ID = C.CORP_ID
        WHERE 1=1
        <include refid="whereSelectWebSendList"/>
    </select>

    <select id="selectWebSendList" parameterType="hashmap" resultType="camel">
    /* 웹발송 현황 리스트 조회 */
		SELECT	AA.*
		,		@rownum:=@rownum+1 AS ROW_NUM
		FROM (
			SELECT  
			       A.WEB_REQ_ID
			      , A.CH_STRING
				  , A.SENDER_TYPE
				  , CASE WHEN A.SENDER_TYPE = 'C' THEN '개별방송'
			       WHEN A.SENDER_TYPE = 'M' THEN '통합발송'
			       WHEN A.SENDER_TYPE = 'S' THEN '스마트발송'
			       END AS SENDER_TYPE_NM /*발송타입명*/
				  , A.SENDER_CNT
				  , DATE_FORMAT(A.REG_DT, '%Y.%m.%d %H:%i:%s') AS REG_DT /*발송일시*/
				  , C.CORP_NAME
				  , SUM(CASE WHEN IFNULL(B.GW_RESULT_CODE,'0') = '10000' THEN 0 ELSE 1 END) AS SEND_FAIL_CNT
			FROM cm_console.CM_WEB_MSG A LEFT OUTER JOIN cm.CM_MSG B ON A.WEB_REQ_ID = B.WEB_REQ_ID
			                             LEFT OUTER JOIN cm_console.CM_CORP C ON A.CORP_ID = C.CORP_ID
			WHERE 1=1
			<include refid="whereSelectWebSendList"/>
	        GROUP BY A.WEB_REQ_ID, A.CH_STRING, A.SENDER_TYPE, A.SENDER_TYPE, A.SENDER_CNT, A.REG_DT, C.CORP_NAME
			ORDER BY A.REG_DT
		) AA
		, (SELECT @rownum:=0) TMP
		ORDER BY ROW_NUM DESC
        <if test='pagingYn == "Y" '>
        LIMIT #{offset}, #{listSize}
        </if>
    </select>



    <sql id ="whereSelectWebSendFailList">
        AND A.WEB_REQ_ID = #{webReqId}

    </sql>



	<select id="selectWebSendFailListCnt" parameterType="hashmap" resultType="camel">
	/* 웹 현황 발송실패 리스트 카운트 조회 */
		SELECT	COUNT(A.WEB_REQ_ID)															AS TOT_CNT
		,		SUM(CASE WHEN IFNULL(B.GW_RESULT_CODE, '0') != '10000' THEN 1 ELSE 0 END)	AS FAIL_CNT
		,		MAX(A.CH_STRING)															AS CH_STRING
		,		MAX(A.SENDER_TYPE)															AS SENDER_TYPE
		,		MAX(
					CASE
						WHEN A.SENDER_TYPE = 'C' THEN '개별발송'
						WHEN A.SENDER_TYPE = 'M' THEN '통합발송'
						WHEN A.SENDER_TYPE = 'S' THEN '스마트발송'
					END
				)																			AS SENDER_TYPE_NM /*발송타입명*/
		FROM	cm_console.CM_WEB_MSG A
		LEFT OUTER JOIN cm.CM_MSG B
			ON A.WEB_REQ_ID = B.WEB_REQ_ID
		WHERE	1=1
		<include refid="whereSelectWebSendFailList"/>
	</select>
	
	<select id="selectWebSendFailList" parameterType="hashmap" resultType="camel">
	/* 웹발송 현황 발송실패 리스트 조회 */
		SELECT	@rownum:=@rownum+1 AS ROW_NUM
		,		B.PHONE
		,		B.PUSH_CUID
		,		B.GW_RESULT_CODE
		,		B.GW_RESULT_DESC
		FROM	cm_console.CM_WEB_MSG A
		LEFT OUTER JOIN	cm.CM_MSG B
			ON A.WEB_REQ_ID = B.WEB_REQ_ID
		,		(SELECT @rownum:=0) TMP
		WHERE	1=1
		AND		IFNULL(B.GW_RESULT_CODE, '0') != '10000'
		<include refid="whereSelectWebSendFailList"/>
		ORDER BY A.REG_DT DESC
		<if test='pagingYn == "Y" '>
		LIMIT #{offset}, #{listSize}
		</if>
	</select>
</mapper>