<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">

	<select id="qrySelectUserName" parameterType="string" resultType="kr.co.uplus.cm.common.model.AuthUser">
	/* login.qrySelectUserName */
		SELECT
			CU.USER_ID,
			CU.LOGIN_ID,
			CU.USER_NAME,
			CU.LOGIN_PWD AS USER_PWD,
			CU.PWD_UPD_DT,
			CU.HP_NUMBER,
			CU.RECENT_CONN_DT,
			CU.SMS_CERTIFY_NUMBER,
			CU.LOGIN_FAIL_CNT,
			CU.APPROVAL_STATUS,
			CR.ROLE_CD,
			CU.DEL_YN,
			CU.REG_ID,
			CU.REG_DT,
			CU.UPD_DT,
			CASE
				WHEN CU.APPROVAL_STATUS = 'Y' AND IFNULL(CU.LOGIN_FAIL_CNT, 0) <![CDATA[<]]> 5 THEN 'USE'
				WHEN CU.APPROVAL_STATUS = 'ING' THEN 'NOTAUTH'
				WHEN IFNULL(CU.LOGIN_FAIL_CNT, 0) <![CDATA[>=]]> 5 THEN 'LOCK'
				ELSE 'NOTUSE'
			END	AS STATUS,
			CC.STATUS AS CORP_STATUS,
			CR.ROLE_CD AS ROLE,
			CU.CORP_ID,
			CR.SVC_TYPE_CD,
			CASE
				WHEN CU.REP_PROJECT_ID IS NULL THEN PJT.PROJECT_ID
				WHEN CU.REP_PROJECT_ID = '' THEN PJT.PROJECT_ID
				ELSE CU.REP_PROJECT_ID
			END AS REP_PROJECT_ID,
			CSB.REQ_TYPE AS BIZ_TYPE,
			DATEDIFF(NOW(), CU.PWD_UPD_DT) AS DIFF_DATE,
			CC.REGNO AS REG_NO
		FROM cm_console.CM_USER CU
		INNER JOIN cm_console.CM_CORP CC
			ON CU.CORP_ID = CC.CORP_ID
		LEFT OUTER JOIN	cm_bo.CM_ROLE CR
			ON CR.ROLE_CD = CU.ROLE_CD
		LEFT OUTER JOIN (
			SELECT
				PROJECT_ID,
				CORP_ID,
				USER_ID
			FROM 	cm_console.CM_PROJECT_USER
			WHERE USER_ID = (SELECT USER_ID FROM cm_console.CM_USER WHERE LOGIN_ID = #{userId})
			ORDER BY REG_DT DESC LIMIT 1
		) PJT
			ON PJT.USER_ID = CU.USER_ID
		LEFT OUTER JOIN cm_console.CM_SPECIAL_BUSI CSB
			ON CSB.CORP_ID = PJT.CORP_ID AND CSB.APPROVAL_STATUS = 'APP'
		WHERE	CU.LOGIN_ID = #{userId}
		AND (CR.SVC_TYPE_CD = 'AC' OR CR.SVC_TYPE_CD = 'UC'
		OR (CR.SVC_TYPE_CD = 'BO' AND CR.ROLE_CD = 'GUEST'))
	</select>

	<select id="qrySelectSaltInfo" parameterType="string" resultType="string">
		/* login.qrySelectSaltInfo */
		SELECT
			USER.SALT
		FROM cm_console.CM_USER USER
		WHERE LOGIN_ID = #{userId}
		LIMIT 1
	</select>

    <select id="qrySelectPwd" parameterType="string" resultType="string">
        /* login.qrySelectPwd */
        SELECT
            USER.LOGIN_PWD
        FROM cm_console.CM_USER USER
        WHERE LOGIN_ID = #{userId}
        LIMIT 1
    </select>
	
	<select id="qrySelectSaltInfoByUserId" parameterType="string" resultType="camel">
		/* login.qrySelectSaltInfoByUserId */
		SELECT	USER.SALT
		,		USER.BEFORE_SALT
		FROM	cm_console.CM_USER USER
		WHERE	1=1
		<choose>
		<when test="loginId != null and loginId != ''">
		AND		LOGIN_ID = #{loginId}
		</when>
		<otherwise>
		AND		USER_ID = #{userId}
		</otherwise>
		</choose>
		LIMIT 1
	</select>

	<select id="qryInsertAuthUser" parameterType="kr.co.uplus.cm.common.model.AuthUser" resultType="Integer">
		/* login.qryInsertAuthUser */
		INSERT INTO CLOUD_TEST_USER
		(
			USER_ID, USER_PWD, STATUS, ROLE
		)
		VALUES
		(
    		#{userId}, #{userPwd}, #{status}, #{role}
   		)
	</select>

	<select id="getProjectForUser" parameterType="string" resultType="camel">
		/* login.getProjectForUser */
		SELECT
			CP.PROJECT_ID,
			CP.CORP_ID,
			CP.PROJECT_NAME
		FROM CM_PROJECT_USER CPU
			JOIN CM_PROJECT CP ON CPU.PROJECT_ID = CP.PROJECT_ID
		WHERE CPU.USER_ID = #{userId}
		AND USE_YN = 'Y'
		AND DEL_YN = 'N'
		ORDER BY CPU.REG_DT DESC
	</select>


	<select id="getProjectChUseListForUser" parameterType="string" resultType="camel">
		/* login.getProjectChUseListForUser */
		SELECT
			REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO , '$.MO[0]'), "\"", "")  AS MO_YN
		,	REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO , '$.KKO[0]'), "\"", "")  AS KKO_YN
		,	REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO , '$.RCS[0]'), "\"", "")  AS RCS_YN
		,	REPLACE(JSON_EXTRACT(A.USE_CH_GRP_INFO , '$.PUSH[0]'), "\"", "")  AS PUSH_YN
		,	REPLACE(JSON_EXTRACT(REPLACE(A.USE_CH_GRP_INFO, '/', '') , '$.SMSMMS[0]'), "\"", "")  AS SMSMMS_YN
		FROM cm_console.CM_PROJECT A
		WHERE	A.PROJECT_ID = #{projectId}
	</select>

    <select id="getMenuForRole" resultType="kr.co.uplus.cm.common.dto.Menu">
    /* login.getMenuForRole */
    SELECT  e.ROLE_CD
      ,   a.MENUS_CD
      ,   CASE
            WHEN MENUS_LEVEL = 0 THEN '운영사'
            WHEN MENUS_LEVEL = 1 THEN '대메뉴'
            WHEN MENUS_LEVEL = 2 THEN '중메뉴'
            WHEN MENUS_LEVEL = 3 THEN '소메뉴'
          END AS GUBUN
      ,   MENUS_NAME
      ,   IMG_TAG
      ,   TOP_MENUS_CD
      ,   PAR_MENUS_CD
      ,   MENUS_LEVEL
      ,   DIS_ORDER
      ,   WEB_URL
      ,   a.SVC_TYPE_CD
      ,   c.ACTIVITY_CD
      FROM  cm_bo.CM_MENU               a
         ,  cm_bo.CM_MENU_ACTIVITY      b
         ,  cm_bo.CM_ACTIVITY           c
         ,  cm_bo.CM_ROLE_MENU_ACTIVITY d
         ,  cm_bo.CM_ROLE               e
      WHERE 1 = 1
      AND   a.SVC_TYPE_CD = #{svc_type_cd}
      AND   a.USE_YN      = 'Y'
      AND   a.MENUS_CD    = b.MENUS_CD
      AND   b.ACTIVITY_CD = c.ACTIVITY_CD
      AND   c.USE_YN      = 'Y'
      AND   b.MENUS_CD    = d.MENUS_CD
      AND   b.ACTIVITY_CD = d.ACTIVITY_CD
      AND   d.ROLE_CD     = e.ROLE_CD
      AND	e.SVC_TYPE_CD IN ('AC', 'UC')
      AND   e.USE_YN      = 'Y'
    ORDER BY e.ROLE_CD, a.MENUS_LEVEL, a.DIS_ORDER
    </select>
	
	<update id="updatePassword">
		/* login.updatePassword */
		UPDATE	cm_console.CM_USER
		SET		BEFORE_LOGIN_PWD = LOGIN_PWD
		,		BEFORE_SALT = SALT
		,		LOGIN_PWD = #{pwd}
		,		PWD_UPD_DT = NOW()
		,		APPROVAL_STATUS = 'Y'
		,		SALT = #{salt}
		WHERE	LOGIN_ID = #{loginId}
	</update>

	<select id="findLoginId" resultType="camel">
		/* login.findLoginId */
		SELECT	LOGIN_ID
		FROM	cm_console.CM_USER
		WHERE	USER_NAME = #{findUserName}
		AND		HP_NUMBER = #{findHpNumber}
		AND		DEL_YN = 'N'
	</select>

	<update id="updateRecentConnDt">
		/* login.updateRecentConnDt */
		UPDATE	cm_console.CM_USER
		SET
			RECENT_CONN_DT = NOW(),
			LOGIN_FAIL_CNT = 0,
			APPROVAL_STATUS = 'Y'
		WHERE	LOGIN_ID = #{userId}
	</update>

	<update id="updateLoginFailCnt">
		/* login.updateLoginFailCnt */
		UPDATE cm_console.CM_USER
		SET
			LOGIN_FAIL_CNT = IFNULL(LOGIN_FAIL_CNT, 0)+1,
			APPROVAL_STATUS = (
				SELECT tmp.status FROM (
					SELECT IF(LOGIN_FAIL_CNT >= 4, 'N', 'Y') AS STATUS
					FROM cm_console.CM_USER
					WHERE LOGIN_ID = #{userId}
				) tmp
			)
		WHERE	LOGIN_ID = #{userId}
	</update>
	
	<select id="selectExLoginPwd" resultType="camel">
		/* login.selectExPwdChk */
		SELECT	LOGIN_PWD
		,		BEFORE_LOGIN_PWD
		FROM	cm_console.CM_USER
		WHERE	1=1
		<choose>
		<when test="loginId != null and loginId != ''">
		AND		LOGIN_ID = #{loginId}
		</when>
		<otherwise>
		AND		USER_ID = #{userId}
		</otherwise>
		</choose>
	</select>

    <insert id="insertConsoleProcLog">
    /* login.insertConsoleProcLog */
    INSERT INTO cm_console.CM_CONSOLE_PROC_LOG (
           USER_ID
         , BO_USER_ID
         , CONN_URL
         , MENUS_CD
         , ACTIVITY_CD
         , REG_ID
         , REG_DT
    ) VALUES (
           #{userId}
         , #{boUserId}
         , #{connUrl}
         , #{menusCd}
         , #{activityCd}
         , #{userId}
         , NOW()
    )
    </insert>
</mapper>