<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="integratedSend">

    <sql id ="whereSelectIntegratedSendList">
        <!-- AND A.CORP_ID = #{corpId} -->
        AND A.TMPLT_STATUS = 'COMPLETE'
        AND A.TMPLT_TYPE = 'M'
		AND (A.PROJECT_ID = #{projectId} || A.PROJECT_ID = 'ALL')
        <if test="searchText != '' and searchText != null ">
            AND A.TMPLT_TITLE = CONCAT('%', #{searchText}, '%')
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            <if test="searchEndDate != '' and searchEndDate != null ">
            AND A.REG_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchEndDate}, ' 23:59:59')
            </if>
        </if>
    </sql>

    <select id="selectIntegratedSendListCnt" parameterType="hashmap" resultType="int">
    /* 통합발송 템플릿 카운트 조회 */
        SELECT
            COUNT(PROJECT_ID) AS CNT
        FROM cm.CM_SMART_TMPLT A
        WHERE 1=1
        <include refid="whereSelectIntegratedSendList"/>
    </select>

    <select id="selectIntegratedSendList" parameterType="hashmap" resultType="camel">
    /* 통합발송 템플릿 리스트 조회 */
		SELECT  @rownum:=@rownum+1 AS ROW_NUM
		      , A.PROJECT_ID
		      , CASE WHEN A.PROJECT_ID = 'ALL' THEN '프로젝트 공용'
		             ELSE '프로젝트 개별'
		        END AS otherProjectUseYn
		      , A.TMPLT_CODE
		      , A.MSG_KIND
		      , CASE WHEN A.MSG_KIND = 'I' THEN '정보성'
		             WHEN A.MSG_KIND = 'A' THEN '광고성'
		        END AS MSG_KIND_NAME
		      , A.MSG_TYPE
		       , CASE WHEN A.MSG_TYPE = 'IMAGE' THEN '텍스트'
		             WHEN A.MSG_TYPE = 'BASE' THEN '이미지'
		        END AS MSG_TYPE_NAME
		      , A.TMPLT_TITLE
		      , A.TMPLT_INFO
		      , A.TMPLT_TYPE
		      , A.USE_YN
		      , A.TMPLT_INFO ->> '$[0].chTypeList' AS TMPLT_CHANNEL
		      , JSON_EXTRACT(A.TMPLT_INFO, '$[*].chType') CHECKED_CHANNEL
		      , REG_ID
		      , REG_DT
		FROM cm.CM_SMART_TMPLT A
		   , (SELECT @rownum:=0) TMP
		WHERE 1=1
		<include refid="whereSelectIntegratedSendList"/>
		ORDER BY A.REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>



    
        
    <insert id="insertIntegratedSend" parameterType="hashmap">
    /* integraedtemplate.insertIntegratedSend - 통합 템플릿 등록 */
        INSERT
            INTO cm.CM_SMART_TMPLT
        (
            PROJECT_ID
            , TMPLT_CODE
            , MSG_KIND
            , MSG_TYPE
            , OTHER_PROJECT_USE_YN
			, TMPLT_TITLE
			, TMPLT_INFO
			, TMPLT_TYPE
			, TMPLT_STATUS
			, USE_YN
            , REG_DT
            , REG_ID
            , UPD_DT
            , UPD_ID
        ) VALUES (
            #{projectId}
            , #{tmpltCode}
            , #{msgKind}
            , #{msgType}
            , #{otherProjectUseYn}
            , #{tmpltTitle}
            , #{tmpltInfo}
            , #{tmpltType}
			, #{tmpltStatus}
			, #{useYn}
            , NOW()
            , #{userId}
            , NOW()
            , #{userId}
        )
        ON DUPLICATE KEY UPDATE MSG_KIND = #{msgKind}
					            , MSG_TYPE = #{msgType}
					            , OTHER_PROJECT_USE_YN = #{otherProjectUseYn}
					            , TMPLT_TITLE = #{tmpltTitle}
					            , TMPLT_INFO = #{tmpltInfo}
					            , TMPLT_TYPE = #{tmpltType}
					            , TMPLT_STATUS = #{tmpltStatus}
					            , USE_YN = #{useYn}
					            , UPD_DT = NOW()
					            , UPD_ID = #{userId}
    </insert>

    <update id="updateIntegratedSend" parameterType="hashmap">
    /* integraedtemplate.updateIntegratedSend - 통합 템플릿 수정 */
        UPDATE cm.CM_SMART_TMPLT
        SET
            MSG_KIND = #{msgKind}
            , MSG_TYPE = #{msgType}
            , OTHER_PROJECT_USE_YN = #{otherProjectUseYn}
            , TMPLT_TITLE = #{tmpltTitle}
            , TMPLT_INFO = #{tmpltInfo}
            , TMPLT_TYPE = #{tmpltType}
            , TMPLT_STATUS = #{tmpltStatus}
            , UPD_DT = NOW()
            , UPD_ID = #{userId}
        WHERE PROJECT_ID = #{projectId}
          AND TMPLT_CODE = #{tmpltCode}
    </update>
    

    <delete id="deleteIntegratedSend" parameterType="hashmap">
    /* integraedtemplate.deleteIntegratedSend - 통합 템플릿 삭제 */
        DELETE
        FROM cm.CM_SMART_TMPLT
        WHERE 1=1
		AND TMPLT_TYPE = 'M'
        AND TMPLT_CODE IN <foreach collection="tmpltCodes" item="item" index="index"  open="(" close=")" separator=",">#{item}</foreach>
    </delete>


</mapper>