<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="template">

    <sql id ="whereSelectPushTemplateList">
        <if test="searchText != '' and searchText != null ">
            <if test="searchCondi == 'tmpltId' ">
            AND TMPLT_ID LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="searchCondi == 'tmpltName' ">
            AND TMPLT_NAME LIKE CONCAT('%', #{searchText}, '%')
            </if>
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            <if test="searchEndDate != '' and searchEndDate != null ">
            AND REG_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchEndDate}, ' 23:59:59')
            </if>
        </if>
        <if test="searchOthPrjUseYn != null and searchOthPrjUseYn.size != 0 ">
            AND OTHER_PROJECT_USE_YN IN
            <foreach collection="searchOthPrjUseYn" item="item" index="index"  open="(" close=")" separator=",">#{item}</foreach>
        </if>
        <if test="tmpltId != '' and tmpltId != null ">
            AND TMPLT_ID = #{tmpltId}
        </if>
    </sql>

    <select id="selectPushTemplateListCnt" parameterType="hashmap" resultType="int">
    /* template.selectPushTemplate 푸시 템플릿 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM CM_PUSH_TMPLT
        WHERE 1=1
        <include refid="whereSelectPushTemplateList"/>
    </select>

    <select id="selectPushTemplateList" parameterType="hashmap" resultType="camel">
    /* template.selectPushTemplate 푸시 템플릿 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , TMPLT_ID
            , TMPLT_NAME
            , MSG_TYPE
            , MSG_KIND
            , OTHER_PROJECT_USE_YN
            , TMPLT_TITLE
            , TMPLT_CONTENT
            , RCVBLC_NUMBER
            , ADTN_INFO
            , IMG_URL
            , REG_DT
            , REG_ID
            , UPD_DT
            , UPD_ID
        FROM CM_PUSH_TMPLT, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectPushTemplateList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

    <delete id="deletePushTemplate" parameterType="hashmap">
    /* template.deletePushTemplate - 푸시 템플릿 삭제 */
        DELETE
        FROM CM_PUSH_TMPLT
        WHERE TMPLT_ID IN
        <foreach collection="tmpltIds" item="item" index="index"  open="(" close=")" separator=",">#{item}</foreach>
    </delete>


    <insert id="insertPushTemplate" parameterType="hashmap">
    /* template.insertPushTemplate - 푸시 템플릿 등록 */
        INSERT
            INTO CM_PUSH_TMPLT
        (
            TMPLT_ID
            , TMPLT_NAME
            , MSG_TYPE
            , MSG_KIND
            , OTHER_PROJECT_USE_YN
            , TMPLT_TITLE
            , TMPLT_CONTENT
            , RCVBLC_NUMBER
            , ADTN_INFO
            , IMG_URL
            , REG_DT
            , REG_ID
            , UPD_DT
            , UPD_ID
        ) VALUES (
            #{tmpltId}
            , #{tmpltName}
            , #{msgType}
            , #{msgKind}
            , #{otherProjectUseYn}
            , #{tmpltTitle}
            , #{tmpltContent}
            , #{rcvblcNumber}
            , #{adtnInfo}
            , #{imgUrl}
            , NOW()
            , #{loginId}
            , NOW()
            , #{loginId}
        )
    </insert>

    <update id="updatePushTemplate" parameterType="hashmap">
    /* template.insertPushTemplate - 푸시 템플릿 수정 */
        UPDATE CM_PUSH_TMPLT
        SET
            TMPLT_NAME = #{tmpltName}
            , MSG_TYPE = #{msgType}
            , MSG_KIND = #{msgKind}
            , OTHER_PROJECT_USE_YN = #{otherProjectUseYn}
            , TMPLT_TITLE = #{tmpltTitle}
            , TMPLT_CONTENT = #{tmpltContent}
            , RCVBLC_NUMBER = #{rcvblcNumber}
            , ADTN_INFO = #{adtnInfo}
            , IMG_URL = #{imgUrl}
            , UPD_DT = NOW()
            , UPD_ID = #{loginId}
        WHERE TMPLT_ID = #{tmpltId}
    </update>

	<select id="selectRcsTemplate" parameterType="string" resultType="camel">
		/* template.selectRcsTemplate RCS 템플릿 리스트 조회 */
		SELECT
			TMPLT_ID,
			MESSAGEBASEFORM_ID,
			BRAND_ID,
			CORP_ID,
			TMPLT_NAME,
			AGENCY_ID,
			PRODUCT_CODE,
			MESSAGEBASE_INFO,
			APPROVAL_STATUS,
			REG_ID,
			UPD_ID,
			USE_YN,
			REG_DT,
			UPD_DT,
			APPROVAL_DT
		FROM
			CM_RCS_MSGBASE
	</select>

	<select id="selectKakaoTalkTemplate" parameterType="string" resultType="camel">
		/* template.selectKakaoTalkTemplate 알림톡 템플릿 리스트 조회 */
		SELECT
			KKO_CH_ID,
			PROJECT_ID,
			TMPLT_CODE,
			TMPLT_NAME,
			TMPLT_CONTENT,
			TMPLT_EMPHASIZE_TITLE,
			TMPLT_EMPHASIZE_DESC,
			TMPLT_BUTTONS,
			REG_DT,
			APPROVAL_DT,
			FINAL_TEST_SENDER_DT,
			TMPLT_RELEASE_REQ_DT
		FROM
			CM_KKO_TMPLT
	</select>

	<select id="selectFriendTalkTemplate" parameterType="string" resultType="camel">
		/* template.selectFriendTalkTemplate 친구톡 템플릿 리스트 조회 */
		SELECT
			TMPLT_ID,
			TMPLT_NAME,
			MSG_KIND,
			PROJECT_ID,
			TMPLT_CONTENT,
			IMG_URL,
			TMPLT_BUTTONS,
			REG_DT,
			REG_ID,
			UPD_DT,
			UPD_ID
		FROM
			CM_FRIENDTALK_TMPLT
	</select>

	<insert id="insertFriendTalkTemplate" parameterType="hashmap">
		/* template.insertFriendTalkTemplate 친구톡 템플릿 등록 */
		INSERT INTO CM_FRIENDTALK_TMPLT
		(
			TMPLT_ID, TMPLT_NAME, MSG_KIND, PROJECT_ID
		)
		VALUES
		(
    		#{tmpltId}, #{tmpltName}, #{msgKind}, #{projectId}
   		)
	</insert>

	<update id="updateFriendTalkTemplate" parameterType="hashmap">
		/* template.updateFriendTalkTemplate 친구톡 템플릿 수정 */
		UPDATE CM_FRIENDTALK_TMPLT
		SET
			TMPLT_NAME = #{tmpltName},
			MSG_KIND = #{msgKind},
			TMPLT_CONTENT = #{tmpltContent}
		WHERE TMPLT_ID = #{tmpltId}
	</update>

	<select id="selectSmsTemplate" parameterType="string" resultType="camel">
		/* template.selectSmsTemplate SMS/MMS 템플릿 리스트 조회 */
		SELECT
			TMPLT_ID,
			TMPLT_NAME,
			TMPLT_DESC,
			SENDER_TYPE,
			PROJECT_ID,
			MSG_KIND,
			TMPLT_TITLE,
			TMPLT_CONTENT,
			RCVBLC_NUMBER,
			IMG_URL,
			REG_DT,
			REG_ID,
			UPD_DT,
			UPD_ID
		FROM
			CM_SMS_TMPLT
	</select>

	<insert id="insertSmsTemplate" parameterType="hashmap">
		/* template.insertSmsTemplate SMS/MMS 템플릿 등록 */
		INSERT INTO CM_SMS_TMPLT
		(
			TMPLT_ID, TMPLT_NAME, TMPLT_DESC, SENDER_TYPE
		)
		VALUES
		(
    		#{tmpltId}, #{tmpltName}, #{tmpltDesc}, #{senderType}
   		)
	</insert>

	<update id="updateSmsTemplate" parameterType="hashmap">
		/* template.updateSmsTemplate SMS/MMS 템플릿 수정 */
		UPDATE CM_SMS_TMPLT
		SET
			TMPLT_NAME = #{tmpltName},
			TMPLT_DESC = #{tmpltDesc},
			SENDER_TYPE = #{senderType}
		WHERE TMPLT_ID = #{tmpltId}
	</update>

	<select id="selectMultiSendTemplate" parameterType="string" resultType="camel">
		/* template.selectMultiSendTemplate 통합발송 템플릿 리스트 조회 */
		SELECT
			PROJECT_ID,
			TMPLT_CODE,
			TMPLT_INFO,
			TMPLT_TYPE,
			MSG_KIND,
			OTHER_PROJECT_USE_YN,
			REG_DT,
			UPD_DT
		FROM
			CM_SMART_TMPLT
		WHERE TMPLT_TYPE = 'M'
	</select>

	<insert id="insertMultiSendTemplate" parameterType="hashmap">
		/* template.insertMultiSendTemplate 통합발송 템플릿 등록 */
		INSERT INTO CM_SMART_TMPLT
		(
			PROJECT_ID, TMPLT_CODE, TMPLT_INFO, TMPLT_TYPE, MSG_KIND, OTHER_PROJECT_USE_YN, REG_DT, UPD_DT
		)
		VALUES
		(
    		#{projectId}, #{tmpltCode}, #{tmpltInfo}, 'M', #{msgKind}, #{otherProjectUseYn}, SYSDATE, SYSDATE
   		)
	</insert>

	<update id="updateMultiSendTemplate" parameterType="hashmap">
		/* template.updateMultiSendTemplate 통합발송 템플릿 수정 */
		UPDATE CM_SMART_TMPLT
		SET
			TMPLT_INFO = #{tmpltInfo},
			MSG_KIND = #{msgKind},
			OTHER_PROJECT_USE_YN = #{otherProjectUseYn},
			UPD_DT = SYSDATE
		WHERE PROJECT_ID = #{projectId}
		AND		TMPLT_CODE = #{tmpltCode}
		AND		TMPLT_TYPE = 'M'
	</update>

	<select id="selectSmartTemplate" parameterType="string" resultType="camel">
		/* template.selectSmartTemplate 스마트발송 템플릿 리스트 조회 */
		SELECT
			PROJECT_ID,
			TMPLT_CODE,
			TMPLT_INFO,
			TMPLT_TYPE,
			MSG_KIND,
			OTHER_PROJECT_USE_YN,
			REG_DT,
			UPD_DT
		FROM
			CM_SMART_TMPLT
		WHERE TMPLT_TYPE = 'S'
	</select>

	<insert id="insertSmartTemplate" parameterType="hashmap">
		/* template.insertSmartTemplate 스마트발송 템플릿 등록 */
		INSERT INTO CM_SMART_TMPLT
		(
			PROJECT_ID, TMPLT_CODE, TMPLT_INFO, TMPLT_TYPE, MSG_KIND, OTHER_PROJECT_USE_YN, REG_DT, UPD_DT
		)
		VALUES
		(
    		#{projectId}, #{tmpltCode}, #{tmpltInfo}, 'S', #{msgKind}, #{otherProjectUseYn}, SYSDATE, SYSDATE
   		)
	</insert>

	<update id="updateSmartTemplate" parameterType="hashmap">
		/* template.updateSmartTemplate 스마트발송 템플릿 수정 */
		UPDATE CM_SMART_TMPLT
		SET
			TMPLT_INFO = #{tmpltInfo},
			MSG_KIND = #{msgKind},
			OTHER_PROJECT_USE_YN = #{otherProjectUseYn},
			UPD_DT = SYSDATE
		WHERE PROJECT_ID = #{projectId}
		AND		TMPLT_CODE = #{tmpltCode}
		AND		TMPLT_TYPE = 'S'
	</update>

</mapper>