<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="template">

    <sql id ="whereSelectPushTemplateList">
        <if test="searchText != '' and searchText != null ">
            <if test="searchCondi == 'tmpltId' ">
            AND TMPLT_ID LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="searchCondi == 'tmpltName' ">
            AND TMPLT_NAME LIKE CONCAT('%', #{searchText}, '%')
            </if>
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            <if test="searchEndDate != '' and searchEndDate != null ">
            AND REG_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchEndDate}, ' 23:59:59')
            </if>
        </if>
        <choose>
            <when test="searchOthPrjUseYn != null and searchOthPrjUseYn.size != 0 ">
                AND PROJECT_ID IN
                <foreach collection="searchOthPrjUseYn" item="item" index="index"  open="(" close=")" separator=",">
                    <if test='item == "Y" '>'ALL'</if>
                    <if test='item == "N" '>#{projectId}</if>
                </foreach>
            </when>
            <otherwise>
                AND PROJECT_ID IN ('ALL', #{projectId})
            </otherwise>
        </choose>
        <if test="tmpltId != '' and tmpltId != null ">
            AND TMPLT_ID = #{tmpltId}
        </if>
    </sql>

    <select id="selectPushTemplateListCnt" parameterType="hashmap" resultType="int">
    /* template.selectPushTemplate 푸시 템플릿 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM CM_PUSH_TMPLT
        WHERE 1=1
        <include refid="whereSelectPushTemplateList"/>
    </select>

    <select id="selectPushTemplateList" parameterType="hashmap" resultType="camel">
    /* template.selectPushTemplate 푸시 템플릿 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CIF.TMPLT_ID
            , CIF.TMPLT_NAME
            , CIF.MSG_TYPE
            , cm_console.fnc_get_cd_name('MSG_TYPE', CIF.MSG_TYPE, 1) AS MSG_TYPE_NAME
            , CIF.MSG_KIND
            , cm_console.fnc_get_cd_name('MSG_KIND', CIF.MSG_KIND, 1) AS MSG_KIND_NAME
            , CIF.PROJECT_ID
            , IF(CIF.PROJECT_ID = 'ALL', '공용', '전용') AS PROJECT_ID_NM
            , CIF.TMPLT_TITLE
            , CIF.TMPLT_CONTENT
            , CIF.RCVBLC_NUMBER
            , CIF.IMG_URL
            , CIF.FILE_ID
            , DATE_FORMAT(CIF.REG_DT, '%Y-%m-%d %H:%i:%S') AS REG_DT
            , CIF.REG_ID
            , cm_console.fnc_get_user_name(CIF.REG_ID)  AS REG_NM
            , CIF.UPD_DT
            , CIF.UPD_ID
            , CIF.ADTN_INFO
        FROM CM_PUSH_TMPLT CIF, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectPushTemplateList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

    <delete id="deletePushTemplate" parameterType="hashmap">
    /* template.deletePushTemplate - 푸시 템플릿 삭제 */
        DELETE
        FROM CM_PUSH_TMPLT
        WHERE TMPLT_ID IN
        <foreach collection="tmpltIds" item="item" index="index"  open="(" close=")" separator=",">#{item}</foreach>
    </delete>

    <insert id="insertPushTemplate" parameterType="hashmap">
    /* template.insertPushTemplate - 푸시 템플릿 등록 */
        INSERT
            INTO CM_PUSH_TMPLT
        (
            TMPLT_ID
            , TMPLT_NAME
            , MSG_TYPE
            , MSG_KIND
            , TMPLT_TITLE
            , TMPLT_CONTENT
            , RCVBLC_NUMBER
        <if test="imgUrl != '' and imgUrl != null and fileId != '' and fileId != null ">
            , IMG_URL
            , FILE_ID
        </if>
            , REG_DT
            , REG_ID
            , UPD_DT
            , UPD_ID
            , ADTN_INFO
            , PROJECT_ID
        ) VALUES (
            #{tmpltId}
            , #{tmpltName}
            , #{msgType}
            , #{msgKind}
            , #{tmpltTitle}
            , #{tmpltContent}
            , #{rcvblcNumber}
        <if test="imgUrl != '' and imgUrl != null and fileId != '' and fileId != null ">
            , #{imgUrl}
            , #{fileId}
        </if>
            , NOW()
            , #{userId}
            , NOW()
            , #{userId}
            , #{adtnInfo}
            , #{projectId}
        )
    </insert>

    <update id="updatePushTemplate" parameterType="hashmap">
    /* template.insertPushTemplate - 푸시 템플릿 수정 */
        UPDATE CM_PUSH_TMPLT
        SET
            TMPLT_NAME = #{tmpltName}
            , MSG_TYPE = #{msgType}
            , MSG_KIND = #{msgKind}
            , PROJECT_ID = #{projectId}
            , TMPLT_TITLE = #{tmpltTitle}
            , TMPLT_CONTENT = #{tmpltContent}
            , RCVBLC_NUMBER = #{rcvblcNumber}
        <if test="imgUrl != '' and imgUrl != null and fileId != '' and fileId != null ">
            , IMG_URL = #{imgUrl}
            , FILE_ID = #{fileId}
        </if>
            , UPD_DT = NOW()
            , UPD_ID = #{userId}
            , ADTN_INFO = #{adtnInfo}
        WHERE TMPLT_ID = #{tmpltId}
    </update>

    <insert id="insertSmsTemplate" parameterType="hashmap">
    /* template.insertPushTemplate - SMS 템플릿 등록 */
        INSERT
            INTO CM_SMS_TMPLT
        (
            TMPLT_ID
            , TMPLT_NAME
            , TMPLT_DESC
            , SENDER_TYPE
            , PROJECT_ID
            , MSG_KIND
            , TMPLT_TITLE
            , TMPLT_CONTENT
            , RCVBLC_NUMBER
            , IMG_INFO_LIST
            , REG_DT
            , REG_ID
            , UPD_DT
            , UPD_ID
        ) VALUES (
            #{tmpltId}
            , #{tmpltName}
            , #{tmpltDesc}
            , #{senderType}
            , #{projectId}
            , #{msgKind}
            , #{tmpltTitle}
            , #{tmpltContent}
            , #{rcvblcNumber}
            , #{imgInfoListStr}
            , NOW()
            , #{userId}
            , NOW()
            , #{userId}
        )
    </insert>

    <sql id ="whereSelectSmsTemplateList">
        <if test="searchText != '' and searchText != null ">
            <if test="searchCondi == 'tmpltId' ">
            AND TMPLT_ID LIKE CONCAT('%', #{searchText}, '%')
            </if>
            <if test="searchCondi == 'tmpltName' ">
            AND TMPLT_NAME LIKE CONCAT('%', #{searchText}, '%')
            </if>
        </if>
        <if test="searchStartDate != '' and searchStartDate != null ">
            <if test="searchEndDate != '' and searchEndDate != null ">
            AND REG_DT BETWEEN CONCAT(#{searchStartDate}, ' 00:00:00') AND CONCAT(#{searchEndDate}, ' 23:59:59')
            </if>
        </if>
         <choose>
            <when test="searchOthPrjUseYn != null and searchOthPrjUseYn.size != 0 ">
                AND PROJECT_ID IN
                <foreach collection="searchOthPrjUseYn" item="item" index="index"  open="(" close=")" separator=",">
                    <if test='item == "Y" '>'ALL'</if>
                    <if test='item == "N" '>#{projectId}</if>
                </foreach>
            </when>
            <otherwise>
                AND PROJECT_ID IN ('ALL', #{projectId})
            </otherwise>
        </choose>
        <if test="tmpltId != '' and tmpltId != null ">
            AND TMPLT_ID = #{tmpltId}
        </if>
    </sql>

    <select id="selectSmsTmpltListCnt" parameterType="hashmap" resultType="int">
    /* template.selectSmsTmpltListCnt SMS 템플릿 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM CM_SMS_TMPLT
        WHERE 1=1
        <include refid="whereSelectSmsTemplateList"/>
    </select>

    <select id="selectSmsTmpltList" parameterType="string" resultType="camel">
    /* template.selectSmsTmpltList SMS 템플릿 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CST.TMPLT_ID
            , CST.TMPLT_NAME
            , CST.TMPLT_DESC
            , CST.SENDER_TYPE
            , CST.PROJECT_ID
            , IF(CST.PROJECT_ID = 'ALL', '공용', '전용') AS PROJECT_ID_NM
            , CST.MSG_KIND
            , cm_console.fnc_get_cd_name('MSG_KIND', CST.MSG_KIND, 1) AS MSG_KIND_NAME
            , CST.TMPLT_TITLE
            , CST.TMPLT_CONTENT
            , CST.RCVBLC_NUMBER
            , CST.IMG_INFO_LIST
            , DATE_FORMAT(CST.REG_DT, '%Y-%m-%d %H:%i:%S') AS REG_DT
            , CST.REG_ID
            , cm_console.fnc_get_user_name(CST.REG_ID)  AS REG_NM
            , CST.UPD_DT
            , CST.UPD_ID
        FROM CM_SMS_TMPLT CST, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectSmsTemplateList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

    <update id="updateSmsTmplt" parameterType="hashmap">
    /* template.updateSmsTmplt - SMS 템플릿 수정 */
        UPDATE CM_SMS_TMPLT
        SET
            TMPLT_NAME = #{tmpltName}
            , TMPLT_DESC = #{tmpltDesc}
            , SENDER_TYPE = #{senderType}
            , PROJECT_ID = #{projectId}
            , MSG_KIND = #{msgKind}
            , TMPLT_TITLE = #{tmpltTitle}
            , TMPLT_CONTENT = #{tmpltContent}
            , RCVBLC_NUMBER = #{rcvblcNumber}
            , IMG_INFO_LIST = #{imgInfoListStr}
            , UPD_DT = NOW()
            , UPD_ID = #{userId}
        WHERE TMPLT_ID = #{tmpltId}
    </update>

    <delete id="deleteSmsTmplt" parameterType="hashmap">
    /* template.deleteSmsTmplt - SMS 템플릿 삭제 */
        DELETE
        FROM CM_SMS_TMPLT
        WHERE TMPLT_ID IN
        <foreach collection="tmpltIds" item="item" index="index"  open="(" close=")" separator=",">#{item}</foreach>
    </delete>

</mapper>