<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarm">
    
	<select id="selectAlarmReceptGroupList" resultType="camel">
	    /* alarm.selectAlarmReceptGroupList */
        SELECT a.RECEPT_GROUP_ID 
             , RECEPT_GROUP_NAME
             , (SELECT COUNT(1) FROM cm_console.CM_CORP_GROUP_RECIPIENT x WHERE x.RECEPT_GROUP_ID = a.RECEPT_GROUP_ID) AS RECIPIENT_CNT
          FROM cm_console.CM_ALARM_RECEPT_GROUP a
             , cm_console.CM_CORP_RECEPT_GROUP  b
         WHERE ALARM_ID         = #{alarmId} 
           AND a.RECEPT_GROUP_ID = b.RECEPT_GROUP_ID
         ORDER BY RECEPT_GROUP_NAME ASC 
	</select>
	
	<insert id="insertAlarmReceptGroup">
       /* alarm.insertAlarmReceptGroup */
        INSERT INTO cm_console.CM_ALARM_RECEPT_GROUP (
	           ALARM_ID 
	         , RECEPT_GROUP_ID
        ) VALUES <foreach collection="list2" item="item" separator="," >(#{alarmId}, #{item.receptGroupId})</foreach>
	</insert>
	
	<delete id="deleteAlarmReceptGroup">
       /* alarm.deleteAlarmReceptGroup */
        DELETE 
          FROM cm_console.CM_ALARM_RECEPT_GROUP
         WHERE ALARM_ID         = #{alarmId} 
	</delete>
	
</mapper>