<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="alarm">
    
    <select id="selectalarmRecipientList" resultType="camel">
        /* alarm.selectalarmRecipientList */
        SELECT a.RECIPIENT_ID 
             , RECIPIENT_NAME 
             , HP_NUMBER 
             , EMAIL 
          FROM cm_console.CM_ALARM_RECIPIENT a
             , cm_console.CM_RECIPIENT      b
         WHERE alarm_CODE         = #{alarmCode} 
           AND a.RECIPIENT_ID    = b.RECIPIENT_ID
         ORDER BY RECIPIENT_NAME ASC 
    </select>
    
    <insert id="insertalarmRecipient">
       /* alarm.insertalarmRecipient */
        INSERT INTO cm_console.CM_ALARM_RECIPIENT (
               ALARM_CODE 
             , RECIPIENT_ID
        ) VALUES (
               #{alarmCode} 
             , #{recipientId}
        )
    </insert>
    
    <delete id="deletealarmRecipient">
       /* alarm.deletealarmRecipient */
        DELETE 
          FROM cm_console.CM_ALARM_RECIPIENT
         WHERE ALARM_CODE         = #{alarmCode} 
    </delete>
    
</mapper>