<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dashboard">

	<select id="selectProjectInfo" resultType="camel">
		/* dashboard.selectProjectInfo */
		SELECT
			CP.PROJECT_ID,
			CP.USE_CH_GRP_INFO,
			CONCAT(CU.USER_NAME, '(', CU.LOGIN_ID ,')') AS USER_INFO,
			DATE_FORMAT(CP.REG_DT, '%Y-%m-%d') AS REG_DT
		FROM	cm_console.CM_PROJECT CP
			INNER JOIN cm_console.CM_USER CU
				ON CP.REG_ID = CU.USER_ID
		WHERE	CP.PROJECT_ID	= #{projectId}
	</select>
</mapper>