<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rcsTemplateSend">
	<select id="selectRcsBaseFormPop" resultType="hashMap">
		/* rcsTemplateSend.selectRcsBaseFormPop */
		SELECT	MESSAGEBASE_ID
		,		CONCAT(TMPLT_NAME, '(', MESSAGEBASE_ID, ')') AS TMPLT_NAME
		FROM	cm.CM_RCS_MSGBASE
		WHERE	APPROVAL_STATUS IN ('승인', '반려(수정)')
		AND		USE_YN = 'Y'
		AND		JSON_EXTRACT(MESSAGEBASE_INFO , '$.cardType') = #{cardType}
		AND		BRAND_ID = #{brandId}
		<if test="tmpltNm !='' and tmpltNm != null">
		AND		TMPLT_NAME = #{tmpltNm}
		</if>
	</select>
	
	<select id="selectRcsMessageForm" resultType="hashMap">
		/* rcsTemplateSend.selectRcsMessageForm */
		SELECT	A.TMPLT_NAME
		,		A.MESSAGEBASE_ID
		,		B.MESSAGEBASEFORM_ID
		,		B.FORM_NAME
		,		A.MESSAGEBASE_INFO
		FROM	cm.CM_RCS_MSGBASE A
		INNER JOIN cm.CM_RCS_MSGBASEFORM B
			ON	A.MESSAGEBASEFORM_ID = B.MESSAGEBASEFORM_ID
		WHERE	A.MESSAGEBASE_ID = #{messagebaseId}
	</select>
	
	<select id="selectRcsMessageId" resultType="String">
		/* rcsTemplateSend.selectRcsMessageId */
		SELECT	MESSAGEBASE_ID
		FROM	cm.CM_RCS_MSGBASE
		WHERE	MESSAGEBASEFORM_ID = 'GG000F'
		AND		BRAND_ID = #{brandId}
	</select>
	
	<insert id="insertRcsTmpMsgbase">
		/* rcsTemplateSend.insertRcsTmpMsgbase */
		INSERT INTO cm_console.CM_RCS_TMP_MSGBASE (
				SAVE_BOX_ID
		,		MESSAGEBASE_ID
		,		SAVE_BOX_NAME
		,		CORP_ID
		,		BRAND_ID
		,		MESSAGEBASE_INFO
		,		AD_YN
		,		FREE_RECEIVE_NUM
		,		COPY_POSS_YN
		,		CALLBACK
		,		REPLC_SENDER_CODE
		,		CALLBACK_TITLE
		,		CALLBACK_CONTENTS
		,		REG_ID
		,		REG_DT
		) values (
				#{saveBoxId}
		,		#{msgbaseId}
		,		#{saveBoxName}
		,		#{corpId}
		,		#{brandId}
		,		#{msgBaseInfo}
		,		#{adYn}
		,		#{freeReceiveNum}
		,		#{copyPossYn}
		,		#{callback}
		,		#{replcSenderCode}
		,		#{callbackTitle}
		,		#{callbackContents}
		,		#{userId}
		,		SYSDATE()
		)
	</insert>
	
	<select id="selectRcsTmpMsgbase" resultType="hashMap">
		/* rcsTemplateSend.selectRcsTmpMsgbase */
		SELECT	A.SAVE_BOX_ID
		,		A.SAVE_BOX_NAME
		,		CONCAT(A.BRAND_ID, '(', B.BRAND_NAME, ')') AS BRAND_NAME
		,		C.USER_NAME
		,		DATE_FORMAT(A.REG_DT, '%Y-%m-%d %h:%i:%s') AS REG_DT
		FROM	cm_console.CM_RCS_TMP_MSGBASE A
		INNER JOIN cm.CM_RCS_BRAND B 
			ON	A.BRAND_ID  = B.BRAND_ID 
		INNER JOIN cm_console.CM_USER C
			ON	A.REG_ID = C.USER_ID 
		WHERE	1=1
		<include refid="rcsTepMsgbaseSql"/>
	</select>
	
	<select id="selectRcsTmpMsgbaseCnt" resultType="int">
		/* rcsTemplateSend.selectRcsTmpMsgbaseCnt */
		SELECT	COUNT(*)
		FROM	cm_console.CM_RCS_TMP_MSGBASE A
		INNER JOIN cm.CM_RCS_BRAND B 
			ON	A.BRAND_ID  = B.BRAND_ID 
		INNER JOIN cm_console.CM_USER C
			ON	A.REG_ID = C.USER_ID
		WHERE	1=1
		<include refid="rcsTepMsgbaseSql"/>
	</select>
	
	<sql id="rcsTepMsgbaseSql">
		AND		A.CORP_ID = #{corpId}
		<if test="msgIdArr != null and msgIdArr != ''">
		AND		A.MESSAGEBASE_ID NOT IN 
			<foreach collection="msgIdArr" item="type" open="(" close=")" separator=",">
				#{type}
			</foreach>
		</if>
		<if test="msgbaseId != null and msgbaseId != ''">
		AND		A.MESSAGEBASE_ID = #{msgbaseId}
		</if>
		<choose>
			<when test="srcSelect == 'brand'">
		AND		B.BRAND_NAME LIKE CONCAT('%', #{srcInput}, '%')
			</when>
			<when test="srcSelect == 'msg'">
		AND		B.SAVE_BOX_NAME LIKE CONCAT('%', #{srcInput}, '%')
			</when>
		</choose>
	</sql>
	
	<delete id="deleteRcsTmpMsgbase">
		/* rcsTemplateSend.deleteRcsTmpMsgbase */
		DELETE FROM cm_console.CM_RCS_TMP_MSGBASE
		WHERE	SAVE_BOX_ID = #{saveBoxId}
	</delete>
	
	<select id="deleteRcsTmpMsgbaseDetail" resultType="hashMap">
		/* rcsTemplateSend.deleteRcsTmpMsgbaseDetail */
		SELECT	BRAND_ID
		,		SAVE_BOX_NAME
		,		AD_YN
		,		FREE_RECEIVE_NUM
		,		COPY_POSS_YN
		,		CALLBACK
		,		REPLC_SENDER_CODE
		,		CALLBACK_TITLE
		,		CALLBACK_CONTENTS
		,		MESSAGEBASE_INFO
		FROM	cm_console.CM_RCS_TMP_MSGBASE
		WHERE	SAVE_BOX_ID = #{saveBoxId}
	</select>
	
	<select id="selectRcsCallbackList" resultType="camel">
		/* sendMessage.selectCallbackList */
		SELECT	CHATBOT_ID AS CALLBACK
		FROM	cm.CM_RCS_CHATBOT
		WHERE	APPROVAL_STATUS = #{approvalStatus}
		AND		BRAND_ID = #{brandId}
	</select>
	
</mapper>