<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rcsTemplate">
	<select id="selectRcsTemplate" resultType="hashMap">
		/* rcsTemplate.selectRcsTemplate */
		SELECT	@ROWNUM := @ROWNUM + 1 AS ROWNUM
		,		AA.*
		,		BB.BRAND_NAME
		FROM 	(
				SELECT	A.*
				FROM 	(
						SELECT	MSGBASE.*
						,		case @vData when MESSAGEBASE_ID then @vRank := @vRank + 1 else @vRank := 1 end AS RANKING
						,		(@vData:=MESSAGEBASE_ID) AS vData
						FROM	(
								SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
								,		A.BRAND_ID			AS BRAND_ID
								,		A.CORP_ID			AS CORP_ID
								,		A.TMPLT_NAME		AS TMPLT_NAME
								,		A.PRODUCT_CODE		AS PRODUCT_CODE
								,		A.REG_ID			AS REG_ID
								,		CASE
											WHEN A.UPD_DT IS NULL OR A.UPD_DT=''
											THEN DATE_FORMAT(A.REG_DT, '%Y-%m-%d %H:%i:%s')
											ELSE DATE_FORMAT(A.UPD_DT, '%Y-%m-%d %H:%i:%s')
										END AS REG_DT
								,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
								,		A.APPROVAL_DT		AS APPROVAL_DT
								FROM	cm.CM_RCS_MSGBASE A
								UNION ALL
								SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
								,		A.BRAND_ID			AS BRAND_ID
								,		A.CORP_ID			AS CORP_ID
								,		A.TMPLT_NAME		AS TMPLT_NAME
								,		A.PRODUCT_CODE		AS PRODUCT_CODE
								,		A.REG_ID			AS REG_ID
								,		DATE_FORMAT(A.REG_DT, '%Y-%m-%d %H:%i:%s')		AS REG_DT
								,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
								,		DATE_FORMAT(A.APPROVAL_DT, '%Y-%m-%d %H:%i:%s')	AS APPROVAL_DT
								FROM	cm.CM_RCS_MSGBASE_REQ A
						) MSGBASE, (SELECT @vRank:=0, @vData:='') as r
						ORDER BY MSGBASE.MESSAGEBASE_ID, MSGBASE.REG_DT
				) A
				WHERE	RANKING = 1
		) AA
		INNER JOIN cm.CM_RCS_BRAND BB
			ON	AA.BRAND_ID = BB.BRAND_ID
		WHERE	(@ROWNUM:=0)=0
		<include refid="selectRcsTemplateSql"/>
		ORDER BY AA.REG_DT DESC
		<if test='pagingYn == "Y" '>
		LIMIT #{offset}, #{listSize}
		</if>
	</select>

	<select id="selectRcsTemplateCnt" resultType="int">
		/* rcsTemplate.selectRcsTemplateCnt */
		SELECT	COUNT(*)
		FROM 	(
				SELECT	A.*
				FROM 	(
						SELECT	MSGBASE.*
						,		case @vData when MESSAGEBASE_ID then @vRank := @vRank + 1 else @vRank := 1 end AS RANKING
						,		(@vData:=MESSAGEBASE_ID) AS vData
						FROM	(
								SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
								,		A.BRAND_ID			AS BRAND_ID
								,		A.CORP_ID			AS CORP_ID
								,		A.TMPLT_NAME		AS TMPLT_NAME
								,		A.PRODUCT_CODE		AS PRODUCT_CODE
								,		A.REG_ID			AS REG_ID
								,		case when A.UPD_DT is null or A.UPD_DT='' then A.REG_DT else A.UPD_DT end AS REG_DT
								,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
								,		A.APPROVAL_DT		AS APPROVAL_DT
								FROM	cm.CM_RCS_MSGBASE A
								UNION ALL
								SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
								,		A.BRAND_ID			AS BRAND_ID
								,		A.CORP_ID			AS CORP_ID
								,		A.TMPLT_NAME		AS TMPLT_NAME
								,		A.PRODUCT_CODE		AS PRODUCT_CODE
								,		A.REG_ID			AS REG_ID
								,		A.REG_DT			AS REG_DT
								,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
								,		A.APPROVAL_DT		AS APPROVAL_DT
								FROM	cm.CM_RCS_MSGBASE_REQ A
						) MSGBASE, (SELECT @vRank:=0, @vData:='') as r
						ORDER BY MSGBASE.MESSAGEBASE_ID, MSGBASE.REG_DT
				) A
				WHERE	RANKING = 1
		) AA
		INNER JOIN cm.CM_RCS_BRAND BB
			ON	AA.BRAND_ID = BB.BRAND_ID
		WHERE	1=1
		<include refid="selectRcsTemplateSql"/>
	</select>

	<sql id="selectRcsTemplateSql">
		<if test="corpId != '' and corpId != null">
			AND		AA.CORP_ID = #{corpId}
		</if>
		<if test="status != '' and status != null">
			AND		AA.APPROVAL_STATUS = #{status}
		</if>
		<if test="temNm != '' and temNm != null">
			AND		AA.TMPLT_NAME = #{temNm}
		</if>
		<if test="temId != '' and temId != null">
			AND		AA.MESSAGEBASE_ID = #{temId}
		</if>
		<if test="brandNm != '' and brandNm != null">
			AND		AA.BRAND_NAME = #{brandNm}
		</if>
	</sql>

	<select id="selectCorpBrandCnt" resultType="int">
		/* rcsTemplate.selectCorpBrandCnt */
		SELECT	COUNT(*)
		FROM	cm.CM_RCS_BRAND
		WHERE	CORP_ID = #{corpId}
	</select>

	<select id="selectBrandList" resultType="hashMap">
		/* rcsTemplate.selectBrandList */
		SELECT	BRAND_ID
		,		BRAND_NAME
		FROM	cm.CM_RCS_BRAND
		WHERE	(PROJECT_ID = #{projectId} OR PROJECT_ID = 'ALL')
		AND		CORP_ID = #{corpId}
		AND		USE_YN = 'Y'
		AND		APPROVAL_STATUS IN ('승인', '반려(수정)')
	</select>

	<select id="selectRcsMsgbaseformList" resultType="hashMap">
		/* rcsTemplate.selectRcsMsgbaseformList */
		SELECT	MESSAGEBASEFORM_ID
		,		FORM_NAME
		FROM	cm.CM_RCS_MSGBASEFORM
		WHERE	CARD_TYPE = #{cardType}
	</select>

	<select id="selectRcsTemplateUpdateForm" resultType="hashMap">
		/* rcsTemplate.selectRcsTemplateUpdateForm */
	SELECT	A.*
	FROM 	(
			SELECT	MSGBASE.*
			,		case @vData when MESSAGEBASE_ID then @vRank := @vRank + 1 else @vRank := 1 end AS RANKING
			,		(@vData:=MESSAGEBASE_ID) AS vData
			FROM	(
					SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
					,		A.MESSAGEBASEFORM_ID AS MESSAGEBASEFORM_ID
					,		A.BRAND_ID			AS BRAND_ID
					,		A.CORP_ID			AS CORP_ID
					,		A.TMPLT_NAME		AS TMPLT_NAME
					,		A.PRODUCT_CODE		AS PRODUCT_CODE
					,		A.REG_ID			AS REG_ID
					,		case when A.UPD_DT is null or A.UPD_DT='' then A.REG_DT else A.UPD_DT end AS REG_DT
					,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
					,		A.APPROVAL_DT		AS APPROVAL_DT
					,		A.MESSAGEBASE_INFO	AS MESSAGEBASE_INFO
					FROM	cm.CM_RCS_MSGBASE A
					UNION ALL
					SELECT	A.MESSAGEBASE_ID	AS MESSAGEBASE_ID
					,		A.MESSAGEBASEFORM_ID  AS MESSAGEBASEFORM_ID
					,		A.BRAND_ID			AS BRAND_ID
					,		A.CORP_ID			AS CORP_ID
					,		A.TMPLT_NAME		AS TMPLT_NAME
					,		A.PRODUCT_CODE		AS PRODUCT_CODE
					,		A.REG_ID			AS REG_ID
					,		A.REG_DT			AS REG_DT
					,		A.APPROVAL_STATUS	AS APPROVAL_STATUS
					,		A.APPROVAL_DT		AS APPROVAL_DT
					,		A.MESSAGEBASE_INFO	AS MESSAGEBASE_INFO
					FROM	cm.CM_RCS_MSGBASE_REQ A
			) MSGBASE, (SELECT @vRank:=0, @vData:='') as r
			ORDER BY MSGBASE.MESSAGEBASE_ID, MSGBASE.REG_DT
	) A
	WHERE	RANKING = 1
	AND		A.MESSAGEBASE_ID = #{msgId}
	</select>

	<select id="selectRcsBaseForm" resultType="String">
		/* rcsTemplate.selectRcsBaseForm */
		SELECT	FORMATTED_STRING
		FROM	cm.CM_RCS_MSGBASEFORM
		WHERE	MESSAGEBASEFORM_ID = #{msgFormId}
	</select>
	
	<select id="selectMsgCardType" resultType="String">
		/* rcsTemplate.selectMsgCardType */
		SELECT	CARD_TYPE
		FROM	cm.CM_RCS_MSGBASEFORM
		WHERE	MESSAGEBASEFORM_ID = #{messagebaseformId}
	</select>
</mapper>