<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">

    <insert id="insertImageFile" >
    /* common.insertImageFile - 고객사별 이미지 관리 등록 */
        INSERT
            INTO cm_console.CM_IMAGE_FILE
        (
            FILE_ID
            , CORP_ID
            , USE_CH_INFO
            , WIDE_IMG_YN
            , ORIGIN_FILE_NAME
            , REG_DT
            , UPD_DT
            , REG_ID
            , UPD_ID
        )
        VALUES
        (
            #{fileId}
            , #{corpId}
            , #{useChInfo}
            , #{wideImgYn}
            , #{originFileName}
            , NOW()
            , NOW()
            , #{userId}
            , #{userId}
        )
    </insert>

    <sql id ="whereSelectImageList">
        AND CORP_ID = #{corpId}
        AND JSON_CONTAINS(USE_CH_INFO, JSON_OBJECT('CH', #{useChInfo}))
        <if test="fileIds != null and fileIds.size != 0 ">
            AND FILE_ID IN
            <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
        </if>
    </sql>

    <select id="selectImageListCnt" parameterType="hashmap" resultType="int">
    /* common.selectImageListCnt 고객사별 이미지 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_console.CM_IMAGE_FILE
        WHERE 1=1
        <include refid="whereSelectImageList"/>
    </select>

    <select id="selectImageList" parameterType="hashmap" resultType="camel">
    /* common.selectImageList - 고객사별 이미지 리스트 조회 */
        SELECT
            FILE_ID
            , CORP_ID
            , ORIGIN_FILE_NAME
            , @PATH_TO_NAME := JSON_UNQUOTE(JSON_SEARCH(USE_CH_INFO, "one", #{useChInfo}, NULL, '$[*].CH')) AS PATH_TO_NAME
            , @PATH_TO_PARENT := TRIM(TRAILING '.CH' FROM @PATH_TO_NAME) AS PATH_TO_PARENT
            , @CH_OBJECT := JSON_EXTRACT(USE_CH_INFO, @PATH_TO_PARENT) AS CH_OBJECT
            , @CH_IMG_URL := JSON_UNQUOTE(JSON_EXTRACT(@CH_OBJECT, '$.URL')) AS CH_IMG_URL
            , SUBSTRING_INDEX(@CH_IMG_URL, '/', -1) AS CH_IMG_NM
            , JSON_EXTRACT(USE_CH_INFO, '$[*].CH') as USE_CH_INFO
            , WIDE_IMG_YN
            , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
            , DATE_FORMAT(UPD_DT, '%Y-%m-%d %H:%i') AS UPD_DT
            , REG_ID
            , UPD_ID
        FROM cm_console.CM_IMAGE_FILE
        WHERE 1=1
        <include refid="whereSelectImageList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT #{offset}, #{listSize}
        </if>
    </select>

    <delete id="deleteImage" parameterType="hashmap">
    /* template.deletePushTemplate - 이미지 삭제 */
        DELETE
        FROM cm_console.CM_IMAGE_FILE
        WHERE FILE_ID IN
        <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            AND CORP_ID = #{corpId}
            AND JSON_CONTAINS(USE_CH_INFO, JSON_OBJECT('CH', #{useChInfo}))
    </delete>

    <select id="selectFileIdUseCnt" parameterType="hashmap" resultType="int">
    /* common.selectFileIdUseCnt 이미지 파일 사용수 조회 */
        SELECT (
            (
                SELECT COUNT(FILE_ID) AS PUSH_CNT
                FROM cm_console.CM_PUSH_TMPLT
                WHERE FILE_ID IN <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            )
            +
            (
                SELECT COUNT(FILE_ID) AS FRIENDTALK_CNT
                FROM cm_console.CM_FRIENDTALK_TMPLT
                WHERE FILE_ID IN <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            )
            +
            (
                SELECT COUNT(*) AS MMS_CNT
                FROM cm_console.CM_SMS_TMPLT
                WHERE 1=1
                    AND (
                    <foreach collection="fileIds" item="item" index="index" separator="OR ">
                        JSON_CONTAINS(IMG_INFO_LIST, JSON_OBJECT('fileId', #{item}))
                    </foreach>
                    )
            )
        ) AS USE_CNT
    </select>

    <select id="selectApiKey" parameterType="hashmap" resultType="string">
    /* common.selectApiKey API KEY 조회 */
        SELECT API_KEY
        FROM cm.CM_APIKEY
        WHERE CORP_ID = #{corpId}
            AND PROJECT_ID = #{projectId}
            AND STATUS = 'USE'
            AND WEB_SENDER_YN = 'Y'
        LIMIT 1
    </select>

    <select id="selectApiKey2" parameterType="hashmap" resultType="camel">
    /* common.selectApiKey2 API KEY 조회 */
        SELECT API_KEY, CPS
        FROM cm.CM_APIKEY
        WHERE CORP_ID = #{corpId}
            AND PROJECT_ID = #{projectId}
            AND STATUS = 'USE'
            AND WEB_SENDER_YN = 'Y'
        LIMIT 1
    </select>
    
	<select id="selectApiKey3" parameterType="hashmap" resultType="camel">
	/* common.selectApiKey3 API KEY 조회(발송제한 금액 세팅) */
		SELECT	FEE_TYPE
		,		MON_SENDER_LIMIT_AMOUNT
		FROM	cm_console.CM_CORP
		WHERE	CORP_ID = #{corpId}
		LIMIT 1
	</select>

	<select id="selectCorpInfoByUserId" resultType="camel">
	/* common.selectCorpInfoByUserId */
		SELECT	cu.CORP_ID
		,		cc.CUST_NO
		,		cc.CORP_NAME
		,		cc.REGNO
		,		cc.CEO_NAME
		,		cc.BUSITYPE
		,		cc.BUSICLASS
		,		cc.ZIPCODE
		,		cc.WOPLACE_ADDRESS
		,		cc.WOPLACE_ADDRESS_DETAIL
		,		cc.WIRE_TEL
		,		cc.FILE_ID				AS FILE_ID
		,		caf.ATTACH_FILE_PATH	AS ATTACH_FILE_PATH
		,		caf.ATTACH_FILE_NAME	AS ATTACH_FILE_NAME
		,		cc.FILE_ID1				AS FILE_ID1
		,		caf1.ATTACH_FILE_PATH	AS ATTACH_FILE_PATH1
		,		caf1.ATTACH_FILE_NAME	AS ATTACH_FILE_NAME1
		,		cc.FILE_ID2				AS FILE_ID2
		,		caf2.ATTACH_FILE_PATH	AS ATTACH_FILE_PATH2
		,		caf2.ATTACH_FILE_NAME	AS ATTACH_FILE_NAME2
		,		cc.FILE_ID3				AS FILE_ID3
		,		caf3.ATTACH_FILE_PATH	AS ATTACH_FILE_PATH3
		,		caf3.ATTACH_FILE_NAME	AS ATTACH_FILE_NAME3
		,		cc.DOMAIN_NAME
		,		cc.SALES_ID
		FROM	cm_console.CM_USER cu
		INNER JOIN cm_console.CM_CORP cc
			ON	cu.CORP_ID = cc.CORP_ID
		LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE caf
			ON	cc.FILE_ID = caf.FILE_ID
		LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE caf1
			ON	cc.FILE_ID1 = caf1.FILE_ID
		LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE caf2
			ON	cc.FILE_ID2 = caf2.FILE_ID
		LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE caf3
			ON	cc.FILE_ID3 = caf3.FILE_ID
		WHERE	cu.USER_ID = #{userId}
	</select>

    <insert id="insertAttachFile" >
    /* common.insertAttachFile */
        INSERT cm_bo.CM_ATTACH_FILE
        (
              ATTACH_FILE_NAME
            , ATTACH_FILE_PATH
            , REG_DT
            , UPD_DT
            , REG_ID
            , UPD_ID
        )
        VALUES
        (
              #{attachFileName}
            , #{attachFilePath}
            , NOW()
            , NOW()
            , #{userId}
            , #{userId}
        )
    </insert>

    <select id="selectImgUploadChSet" parameterType="hashmap" resultType="camel">
    /* common.selectImgUploadChSet - 이미지업로드 채널 설정 조회 */
        SELECT
            CODE_VAL_1 AS CH
            , CC.CODE_VAL_2 AS LIMIT_SIZE
            , CC.CODE_VAL_3 AS RESIZE_WIDTH
            , CC.CODE_VAL_4 AS RESIZE_HEIGHT
        FROM cm_bo.CM_CODE_TYPE CCT
        INNER JOIN cm_bo.CM_CODE CC
            ON CCT.CODE_TYPE_CD = CC.CODE_TYPE_CD
            AND CC.USE_YN = 'Y'
        WHERE CCT.USE_YN = 'Y'
            AND CCT.CODE_TYPE_CD = 'IMG_UPLOAD_CH_SET'
    </select>

    <select id="selectFileUploadSet" parameterType="hashmap" resultType="camel">
    /* common.selectFileUploadSet - 파일 업로드 설정 조회 */
        SELECT
            CODE_NAME_2 AS #{codeName2}
        <if test="codeName3 != '' and codeName3 != null ">
            , CODE_NAME_3 AS #{codeName3}
        </if>
        <if test="codeName4 != '' and codeName4 != null ">
            , CODE_NAME_4 AS #{codeName4}
        </if>
        FROM cm_bo.CM_CODE_TYPE CCT
        INNER JOIN cm_bo.CM_CODE CC
            ON CCT.CODE_TYPE_CD = CC.CODE_TYPE_CD
            AND CC.USE_YN = 'Y'
            AND CC.CODE_VAL_1 = #{codeVal1}
        WHERE CCT.USE_YN = 'Y'
            AND CCT.CODE_TYPE_CD = 'FILE_UPLOAD_SET'
        LIMIT 1
    </select>

	<select id="selectCodeList" resultType="camel">
		/* common.selectCodeList */
		SELECT	CODE_ID
		,		CODE_TYPE_CD
		,		CODE_VAL_1
		,		CODE_VAL_2
		,		CODE_VAL_3
		,		CODE_VAL_4
		,		CODE_NAME_1
		,		CODE_NAME_2
		,		CODE_NAME_3
		,		CODE_NAME_4
		,		DIS_ORDER
		,		CASE
					WHEN USE_YN = 'Y' THEN '사용'
					ELSE '미사용'
				END				AS USE_YN_STR
		,		USE_YN
		FROM	cm_bo.CM_CODE
		WHERE	CODE_TYPE_CD = #{codeTypeCd}
		<if test="useYn != null and useYn != ''">
		AND		USE_YN = #{useYn}
		</if>
		<if test="srcSalesManNm != null and srcSalesManNm != ''">
		AND		CODE_NAME_1 LIKE CONCAT('%', #{srcSalesManNm} ,'%')
		</if>
		ORDER BY DIS_ORDER
	</select>

	<select id="selectCodeVal1ByCodeName1" resultType="string">
	/* common.selectCodeVal1ByCodeName1 */
		SELECT	CODE_VAL_1
		FROM	cm_bo.CM_CODE
		WHERE	CODE_TYPE_CD = #{codeTypeCd}
		AND		USE_YN = 'Y'
		<if test="codeName1 != null and codeName1 != ''">
		AND		CODE_NAME_1 = #{codeName1}
		</if>
	</select>

    <select id="selectRelaySvcId" parameterType="hashmap" resultType="string">
    /* common.selectRelaySvcId - 중계사 서비스 ID 조회 */
        SELECT SVC_ID
        FROM cm.CM_RELAY_CH crc
        WHERE RELAY_CH_TYPE = #{relayChType}
            AND RELAY = #{relay}
    </select>

    <select id="selectUseChGrpInfo" parameterType="hashmap" resultType="string">
    /* common.selectUseChGrpInfo - 사용 채널 그룹 정보 조회 */
        SELECT CP.USE_CH_GRP_INFO
        FROM cm_console.CM_PROJECT CP
        WHERE CP.CORP_ID = #{corpId}
            AND CP.PROJECT_ID = #{projectId}
            AND CP.USE_YN = 'Y'
            AND CP.DEL_YN = 'N'
        <if test="chGrp != '' and chGrp != null ">
            AND JSON_EXTRACT(CP.USE_CH_GRP_INFO, CONCAT('$.', #{chGrp})) = 'Y'
        </if>
        LIMIT 1
    </select>

    <select id="selectImageUrlInfo" parameterType="hashmap" resultType="camel">
    /* common.selectImageUrlInfo - 이미지 URL 정보 조회 */
        SELECT
            FILE_ID
            , @PATH_TO_NAME := JSON_UNQUOTE(JSON_SEARCH(USE_CH_INFO, "one", #{ch}, NULL, '$[*].CH')) AS PATH_TO_NAME
            , @PATH_TO_PARENT := TRIM(TRAILING '.CH' FROM @PATH_TO_NAME) AS PATH_TO_PARENT
            , @CH_OBJECT := JSON_EXTRACT(USE_CH_INFO, @PATH_TO_PARENT) AS CH_OBJECT
            , @CH_IMG_URL := JSON_UNQUOTE(JSON_EXTRACT(@CH_OBJECT, '$.URL')) AS CH_IMG_URL
        FROM cm_console.CM_IMAGE_FILE CIF
        WHERE FILE_ID = #{fileId}
    </select>

	<insert id="insertFileInfo" >
		/* common.insertFileInfo */
		INSERT	cm_bo.CM_ATTACH_FILE
		(
			FILE_ID
		,	ATTACH_FILE_NAME
		,	ATTACH_FILE_PATH
		,	REG_DT
		,	REG_ID
		)
		VALUES
		(
			#{attach_file_seq}
		,	#{attach_file_name}
		,	#{attach_file_path}
		,	NOW()
		,	#{userId}
		)
	</insert>

	<select id="selectFilePathByFileId" resultType="string">
		/* common.selectFilePathByFileId */
		SELECT	ATTACH_FILE_PATH
		FROM	cm_bo.CM_ATTACH_FILE
		WHERE	FILE_ID = #{fileId}
	</select>

	<update id="updateCmCmdForRedis">
		/* common.updateCmCmdForRedis */
		UPDATE cm.CM_CMD
		SET UPD_DT = NOW()
		WHERE CMD_TGT = #{cmdTgt}
	</update>
	
	<select id="selectCmCodeExt" resultType="camel">
		/* common.selectCmCodeExt */
		SELECT	EXT_CODE
		,		EXT_MESSAGE
		FROM	cm.CM_CODE_EXT
		WHERE	EXT_CODE = #{code}
	</select>
</mapper>