<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">

    <insert id="insertImageFile" >
    /* common.insertImageFile - 고객사별 이미지 관리 등록 */
        INSERT
            INTO CM_IMAGE_FILE
        (
            FILE_ID
            , CORP_ID
            , USE_CH_INFO
            , WIDE_IMG_YN
            , ORIGIN_FILE_NAME
            , REG_DT
            , UPD_DT
            , REG_ID
            , UPD_ID
        )
        VALUES
        (
            #{fileId}
            , #{corpId}
            , #{useChInfo}
            , #{wideImgYn}
            , #{originFileName}
            , NOW()
            , NOW()
            , #{loginId}
            , #{loginId}
        )
    </insert>

    <sql id ="whereSelectImageList">
        AND CORP_ID = #{corpId}
        AND JSON_CONTAINS(USE_CH_INFO, JSON_OBJECT('CH', #{useChInfo}))
        <if test="fileIds != null and fileIds.size != 0 ">
            AND FILE_ID IN
            <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
        </if>
    </sql>

    <select id="selectImageListCnt" parameterType="hashmap" resultType="int">
    /* common.selectImageListCnt 고객사별 이미지 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM CM_IMAGE_FILE
        WHERE 1=1
        <include refid="whereSelectImageList"/>
    </select>

    <select id="selectImageList" parameterType="hashmap" resultType="camel">
    /* common.selectImageList - 고객사별 이미지 리스트 조회 */
        SELECT
            FILE_ID
            , CORP_ID
            , @PATH_TO_NAME := JSON_UNQUOTE(JSON_SEARCH(USE_CH_INFO, "one", #{useChInfo}, NULL, '$[*].CH')) AS PATH_TO_NAME
            , @PATH_TO_PARENT := TRIM(TRAILING '.CH' FROM @PATH_TO_NAME) AS PATH_TO_PARENT
            , @CH_OBJECT := JSON_EXTRACT(USE_CH_INFO, @PATH_TO_PARENT) AS CH_OBJECT
            , @CH_IMG_URL := JSON_UNQUOTE(JSON_EXTRACT(@CH_OBJECT, '$.URL')) AS CH_IMG_URL
            , SUBSTRING_INDEX(@CH_IMG_URL, '/', -1) AS CH_IMG_NM
            , JSON_EXTRACT(USE_CH_INFO, '$[*].CH') as USE_CH_INFO
            , WIDE_IMG_YN
            , DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i') AS REG_DT
            , DATE_FORMAT(UPD_DT, '%Y-%m-%d %H:%i') AS UPD_DT
            , REG_ID
            , UPD_ID
        FROM CM_IMAGE_FILE
        WHERE 1=1
        <include refid="whereSelectImageList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

    <delete id="deleteImage" parameterType="hashmap">
    /* template.deletePushTemplate - 이미지 삭제 */
        DELETE
        FROM CM_IMAGE_FILE
        WHERE FILE_ID IN
        <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            AND CORP_ID = #{corpId}
            AND JSON_CONTAINS(USE_CH_INFO, JSON_OBJECT('CH', #{useChInfo}))
    </delete>

    <select id="selectFileIdUseCnt" parameterType="hashmap" resultType="int">
    /* common.selectFileIdUseCnt 이미지 파일 사용수 조회 */
        SELECT (
            (
                SELECT COUNT(FILE_ID) AS PUSH_CNT
                FROM CM_PUSH_TMPLT
                WHERE FILE_ID IN <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            )
            +
            (
                SELECT COUNT(FILE_ID) AS FRIENDTALK_CNT
                FROM CM_FRIENDTALK_TMPLT
                WHERE FILE_ID IN <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            )
            +
            (
                SELECT COUNT(FILE_ID) AS MMS_CNT
                FROM CM_SMS_TMPLT
                WHERE FILE_ID IN <foreach collection="fileIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
            )
        ) AS USE_CNT
    </select>

    <select id="selectApiKey" parameterType="hashmap" resultType="string">
    /* common.selectApiKey API KEY 조회 */
        SELECT API_KEY
        FROM cm.CM_APIKEY
        WHERE CORP_ID = #{corpId}
            AND PROJECT_ID = #{projectId}
            AND STATUS = 'USE'
            AND WEB_SENDER_YN = 'Y'
        LIMIT 1
    </select>

	<select id="selectCorpInfoByUserId" resultType="camel">
	/* common.selectCorpInfoByUserId */
		SELECT	cu.CORP_ID
		,		cc.CORP_NAME
		FROM	cm_console.CM_USER cu
		INNER JOIN cm_console.CM_CORP cc
			ON	cu.CORP_ID = cc.CORP_ID
		WHERE	cu.USER_ID = #{userId}
	</select>

    <insert id="insertAttachFile" >
    /* common.insertAttachFile */
        INSERT cm_bo.CM_ATTACH_FILE
        (
              ATTACH_FILE_NAME
            , ATTACH_FILE_PATH
            , REG_DT
            , UPD_DT
            , REG_ID
            , UPD_ID
        )
        VALUES
        (
              #{attachFileName}
            , #{attachFilePath}
            , NOW()
            , NOW()
            , #{loginId}
            , #{loginId}
        )
    </insert>
</mapper>