<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

    <select id="selectFaqTypeList" parameterType="hashmap" resultType="camel">
    /* common.selectFaqTypeList - FAQ 구분 리스트 조회 */
        SELECT
            CC.CODE_VAL_1 AS FAQ_TYPE_CD
            , CC.CODE_NAME_1 AS FAQ_TYPE_CD_NAME
        FROM cm_bo.CM_CODE_TYPE CCT
        INNER JOIN cm_bo.CM_CODE CC
            ON CCT.CODE_TYPE_CD = CC.CODE_TYPE_CD
            AND CC.USE_YN = 'Y'
        WHERE CCT.USE_YN = 'Y'
            AND CCT.CODE_TYPE_CD = 'FAQ_TYPE'
        ORDER BY CC.DIS_ORDER
    </select>

    <sql id ="whereSelectFaqList">
        <if test="faqType != '' and faqType != null ">
            AND CF.FAQ_TYPE = #{faqType}
        </if>
    </sql>

    <select id="selectFaqListCnt" parameterType="hashmap" resultType="int">
    /* template.selectFaqListCnt - FAQ 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_bo.CM_FAQ CF
        WHERE 1=1
        <include refid="whereSelectFaqList"/>
    </select>

    <select id="selectFaqList" parameterType="hashmap" resultType="camel">
    /* template.selectFaqList - FAQ 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CF.FAQ_ID
            , CF.FAQ_TYPE
            , CF.TITLE_CONTENT
            , CF.ANSWER_CONTENT
            , CF.REG_ID
            , CF.REG_DT
        FROM cm_bo.CM_FAQ CF, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectFaqList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

    <sql id ="whereSelectNoticeList">
        AND CN.VIEW_TYPE IN ('ALL', 'OUT')
        <if test="noticeId != '' and noticeId != null ">
            AND CN.NOTICE_ID = #{noticeId}
        </if>
    </sql>

    <select id="selectNoticeListCnt" parameterType="hashmap" resultType="int">
    /* template.selectNoticeListCnt - 공지사항 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_bo.CM_NOTICE CN
        WHERE 1=1
        <include refid="whereSelectNoticeList"/>
    </select>

    <select id="selectNoticeList" parameterType="hashmap" resultType="camel">
    /* template.selectNoticeList - 공지사항 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CN.NOTICE_ID
            , CN.NOTICE_TYPE
            , cm_console.fnc_get_cd_name('NOTICE_TYPE', CN.NOTICE_TYPE, 1) AS NOTICE_TYPE_CD_NAME
            , CN.TITLE
            , CN.CONTENT
            , CN.VIEW_TYPE
            , CN.POP_YN
            , CN.POP_START_DT
            , CN.POP_END_DT
            , CN.REG_ID
            , DATE_FORMAT(CN.REG_DT, '%Y-%m-%d') AS REG_DT
            , CN.UPD_ID
            , CN.UPD_DT
        FROM cm_bo.CM_NOTICE CN, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectNoticeList"/>
        ORDER BY REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT ${offset}, #{listSize}
        </if>
    </select>

</mapper>