<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="customer">

    <sql id ="whereSelectFaqList">
        <if test="faqType != '' and faqType != null ">
            AND CF.FAQ_TYPE = #{faqType}
        </if>
    </sql>

    <select id="selectFaqListCnt" parameterType="hashmap" resultType="int">
    /* customer.selectFaqListCnt - FAQ 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_bo.CM_FAQ CF
        WHERE 1=1
        <include refid="whereSelectFaqList"/>
    </select>

    <select id="selectFaqList" parameterType="hashmap" resultType="camel">
    /* customer.selectFaqList - FAQ 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CF.FAQ_ID
            , CF.FAQ_TYPE
            , CF.TITLE_CONTENT
            , CF.ANSWER_CONTENT
            , CF.REG_ID
            , CF.REG_DT
        FROM cm_bo.CM_FAQ CF, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectFaqList"/>
        ORDER BY CF.REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT #{offset}, #{listSize}
        </if>
    </select>

    <sql id ="whereSelectNoticeList">
        AND CN.VIEW_TYPE IN ('ALL', 'OUT')
        <if test="noticeId != '' and noticeId != null ">
            AND CN.NOTICE_ID = #{noticeId}
        </if>
        <if test='sltPopupYn == "Y" '>
            AND CN.POP_YN = 'Y'
            AND DATE_FORMAT(NOW(), '%Y-%m-%d') BETWEEN CN.POP_START_DT AND CN.POP_END_DT
        </if>
        <if test="exceptNoticeIds != null and exceptNoticeIds.size != 0 ">
            AND CN.NOTICE_ID NOT IN <foreach collection="exceptNoticeIds" item="item" index="index" open="(" close=")" separator=",">#{item}</foreach>
        </if>
    </sql>

    <select id="selectNoticeListCnt" parameterType="hashmap" resultType="int">
    /* customer.selectNoticeListCnt - 공지사항 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_bo.CM_NOTICE CN
        WHERE 1=1
        <include refid="whereSelectNoticeList"/>
    </select>

    <select id="selectNoticeList" parameterType="hashmap" resultType="camel">
    /* customer.selectNoticeList - 공지사항 리스트 조회 */
        SELECT
            @ROWNUM := @ROWNUM + 1 AS ROWNUM
            , CN.NOTICE_ID
            , CN.NOTICE_TYPE
            , cm_console.fnc_get_cd_name('NOTICE_TYPE', CN.NOTICE_TYPE, 1) AS NOTICE_TYPE_CD_NAME
            , CN.TITLE
            , CN.CONTENT
            , CN.VIEW_TYPE
            , CN.POP_YN
            , CN.POP_START_DT
            , CN.POP_END_DT
            , CN.REG_ID
            , DATE_FORMAT(CN.REG_DT, '%Y-%m-%d') AS REG_DT
            , CN.UPD_ID
            , CN.UPD_DT
        FROM cm_bo.CM_NOTICE CN, (SELECT @ROWNUM:=0) TMP
        WHERE 1=1
        <include refid="whereSelectNoticeList"/>
        ORDER BY CN.REG_DT DESC
        <if test='pagingYn == "Y" '>
        LIMIT #{offset}, #{listSize}
        </if>
    </select>

    <sql id ="whereSelectLibraryList">
        <if test="libraryId != '' and libraryId != null ">
            AND CL.LIBRARY_ID = #{libraryId}
        </if>
    </sql>

    <select id="selectLibraryListCnt" parameterType="hashmap" resultType="int">
    /* customer.selectLibraryListCnt - 자료실 리스트 카운트 조회 */
        SELECT
            COUNT(*) AS CNT
        FROM cm_bo.CM_LIBRARY CL
        WHERE 1=1
        <include refid="whereSelectLibraryList"/>
    </select>

    <select id="selectLibraryList" parameterType="hashmap" resultType="camel">
    /* customer.selectLibraryList - 자료실 리스트 조회 */
        SELECT
            T.*
            , @ROWNUM := @ROWNUM + 1 AS ROWNUM
        FROM (
            SELECT
                CL.LIBRARY_ID
                , CL.TITLE
                , CL.CONTENT
                , CL.ATTACH_FILE_LIST
                , CL.REG_ID
                , DATE_FORMAT(CL.REG_DT, '%Y-%m-%d') AS REG_DT
                , CL.UPD_ID
                , CL.UPD_DT
                , IFNULL(CAF1.FILE_ID, '') AS FILE_ID1
                , IFNULL(CAF2.FILE_ID, '') AS FILE_ID2
                , IFNULL(CAF3.FILE_ID, '') AS FILE_ID3
                , IFNULL(CAF1.ATTACH_FILE_NAME, '') AS FILE_NM1
                , IFNULL(CAF2.ATTACH_FILE_NAME, '') AS FILE_NM2
                , IFNULL(CAF3.ATTACH_FILE_NAME, '') AS FILE_NM3
                , CASE
                    WHEN CAF1.FILE_ID IS NOT NULL THEN 'Y'
                    WHEN CAF2.FILE_ID IS NOT NULL THEN 'Y'
                    WHEN CAF3.FILE_ID IS NOT NULL THEN 'Y'
                    ELSE 'N'
                END AS EXISTS_FILE_YN
            FROM cm_bo.CM_LIBRARY CL
            LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE CAF1
                ON JSON_EXTRACT(CL.ATTACH_FILE_LIST, '$.FILE_ID1') = CAF1.FILE_ID
            LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE CAF2
                ON JSON_EXTRACT(CL.ATTACH_FILE_LIST, '$.FILE_ID2') = CAF2.FILE_ID
            LEFT OUTER JOIN cm_bo.CM_ATTACH_FILE CAF3
                ON JSON_EXTRACT(CL.ATTACH_FILE_LIST, '$.FILE_ID3') = CAF3.FILE_ID
            WHERE 1=1
            <include refid="whereSelectLibraryList"/>
            ORDER BY CL.REG_DT DESC
            <if test='pagingYn == "Y" '>
            LIMIT #{offset}, #{listSize}
            </if>
        )T, (SELECT @ROWNUM:=0) TMP
    </select>

    <select id="selectAttachFileInfo" parameterType="hashmap" resultType="camel">
    /* customer.selectAttachFileInfo - 첨부파일 정보 조회 */
        SELECT
            CAF.FILE_ID
            , CAF.ATTACH_FILE_NAME
            , CAF.ATTACH_FILE_PATH
            , CAF.REG_DT
            , CAF.REG_ID
            , CAF.UPD_DT
            , CAF.UPD_ID
        FROM cm_bo.CM_ATTACH_FILE CAF
        WHERE FILE_ID = #{fileId}
    </select>

    <select id="selectCmUseTermsHistList" parameterType="hashmap" resultType="camel">
    /* customer.selectCmUseTermsHistList - 약관 개정이력 리스트 조회 */
        SELECT
            CUT.SVC_TERMS_ID
            , CUT.REVISE_DAY
            , DATE_FORMAT(CUT.REVISE_DAY, '%Y-%m-%d') AS REVISE_DT
        FROM cm_bo.CM_USE_TERMS CUT
        WHERE CUT.TERMS_CD = #{termsCd}
            AND CUT.USE_YN = 'Y'
        ORDER BY REVISE_DAY DESC
    </select>

    <select id="selectCmUseTermsInfo" parameterType="hashmap" resultType="camel">
    /* customer.selectCmUseTermsHistList - 약관 정보 조회 */
        SELECT
            CUT.SVC_TERMS_ID
            , CUT.TITLE
            , CUT.TERMS_CD
            , CUT.TERMS_CONTENT
            , CUT.REVISE_DAY
            , DATE_FORMAT(CUT.REVISE_DAY, '%Y-%m-%d') AS REVISE_DT
            , CUT.USE_YN
            , CUT.REG_ID
            , CUT.REG_DT
        FROM cm_bo.CM_USE_TERMS CUT
        WHERE CUT.SVC_TERMS_ID = #{svcTermsId}
    </select>

</mapper>
