@charset "utf-8";
/* reset css*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; vertical-align:baseline; background:transparent; font-family:'Noto Sans KR', sans-serif}
body {line-height:normal !important; overflow:scroll; width:auto}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
dl,ul,ol,menu,li {list-style:none}
caption, legend {overflow:hidden; text-indent:-9999px; height:1px}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content:none}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none}
a:focus, a:hover {text-decoration:none !important}
ins {background-color:#ff9; color: #000; text-decoration:none}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold}
del {text-decoration:line-through}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help}
table {border-collapse:collapse; border-spacing:0}
hr {display:block; height:1px; border:0; border-top: 1px solid #cccccc; margin:1em 0; padding:0}
input, select {vertical-align:middle}
input[type=checkbox], input[type=radio] {margin:0}
i {vertical-align:middle}
a[href^="tel"] {color:inherit; text-decoration:none}


/* common */
.row-no-margin {margin-left:0px; margin-right:0px} 
.lc-1 {letter-spacing:-1px}
.fr, .float-right {float:right}
.fl, .float-left {float:left}
.mt0 {margin-top:0px !important}
.mt5 {margin-top:5px !important}
.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}
.mr0 {margin-right:0 !important}
.mr5 {margin-right:5px !important}
.mr7 {margin-right:7px !important}
.mr9 {margin-right:9px !important}
.mr10 {margin-right:10px !important}
.mr20 {margin-right:20px !important}
.mr30 {margin-right:30px !important}
.mr100 {margin-right:100px !important}
.mb20 {margin-bottom:20px !important}
.mb30 {margin-bottom:30px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml13{margin-left:13px !important}
.ml20 {margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml38{margin-left:38px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}
.ml60{margin-left:60px !important}
.ml120{margin-left:120px !important}
.ml350{margin-left:350px !important}
.pr0 {padding-right:0}
.pl0 {padding-left:0}
.bt-70 {border-top:1px solid #707070}
.box-shadow {box-shadow:0 2px 4px rgba(0,0,0,0.16)}
.of_h {overflow:hidden}
.absolute {position:absolute}
.top0 {top:0}
.right0 {right:0}
.color1 {color:#FD004E}
.color2 {color:#BA7FFF}
.text-overflow {white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
.font-normal {font-weight:400 !important}
.inline-block {display:inline-block}
.inline {display:inline}
.width70 {width:70px !important}
.width90 {width:90px !important}
.width120 {width:120px !important}
.width150 {width:150px !important}
.width160 {width:160px !important}
.width180 {width:180px !important}
.width291 {width:291px !important}
.Width322 {width:322px;}
.width350 {width:350px !important}
.width393 {width:393px}
.width404 {width:404px}
.minWidth120 {min-width:120px !important}
.maxWidth120 {max-width:120px}
.maxWidth160 {max-width:160px}
.maxWidth200 {max-width:200px}
.maxWidth208 {max-width:208px}
.maxWidth320 {max-width:320px}
.maxWidth322 {max-width:322px}
.maxWidth350 {max-width:350px}
.maxWidth380 {max-width:380px}
.maxWidth430 {max-width:430px}
.borderC2 {border:1px solid #C2C2C2}
.borderC2-right {border-right:1px solid #C2C2C2}
.font-size13 {font-size:13px}
.font-size14 {font-size:14px}
.vertical-middle {vertical-align:middle}
.bt-000 {border-top:1px solid #000}
.draggable {cursor:pointer}
.form01 {display:inline; margin-left:40px}
.form01 input {border: 1px solid #d5d5d5; border-radius: 0; width: 432px !important; height: 45px;}
.modalStyle .modal-body {padding:60px 40px; overflow:hidden}
.modalStyle .modal-body h5 {font-size:18px; color:#000}
.modalStyle .modal-body p {font-size:14px; color:#000}
.modalStyle .modal-body h4 {font-size:14px; color:#000; vertical-align:top; margin-top:10px}
.modalStyle .modal-body input {vertical-align:bottom}
.modalStyle .modal-body .input2 {width: 414px; height: 160px}
.modalStyle .modal-body .input3 {width: 62px; height: 40px; vertical-align:middle; margin-left:6px}
.modalStyle .payment {color: #505050; font-size: 16px; font-weight: 500; vertical-align: sub}
.modalStyle .Modaltext {color: #727272 !important; font-size: 13px; margin-left: 90px}
.modalStyle #payment01 {vertical-align:middle}
.modalStyle #payment02 {vertical-align:middle}
.modalStyle span.spanTitle {color:#707070; font-size:14px; display:inline-block; width:36px; margin-left:15px; letter-spacing:-1px}


/* color */
.bgColorRed {background:#C10C40}

/* inputStyle */
.inputStyle {border:1px solid #D5D5D5; height:45px; line-height:45px; padding:0 15px; width:100%}
.inputStyle:hover, .inputStyle:focus {background-color:rgba(0,0,0,0.05)}
.datepicker {background:url('../images/datepicker.png') #fff no-repeat 90% 50%}

/* button */
.btnGuide {border:1px solid #fff; border-radius:5px; color:#fff; padding:8px 15px; font-size:11px; font-weight:500; display:inline-block; transition:0.3s}
.btnGuide:hover {background:#fff; color:#000 !important}
.btnStyle1 {border:1px solid #E63353; background:#FFF4FB; color:#FD004E; border-radius:2px; padding:10px 17px; font-size:13px; font-weight:500; display:inline-block; transition:0.3s; text-align:center}
.btnStyle1:hover {background:#FD004E; color:#fff !important}
.btnStyle1 i {vertical-align:baseline}
.btnStyle2 {border:1px solid #FD004E; background:#fff; color:#FD004E; border-radius:2px; padding:10px 17px; font-size:16px; font-weight:500; display:inline-block; transition:0.3s; min-width:100px; text-align:center}
.btnStyle2:hover {background:#FD004E; color:#fff !important}
.btnStyle2 i {vertical-align:baseline}
.btnStyle3 {border:1px solid #222; border-radius:2px; padding:9px 10px; font-weight:500; display:inline-block; transition:0.3s; min-width:80px; text-align:center}
.btnStyle3.white {background:#fff; color:#222}
.btnStyle3.black {background:#222; color:#fff}
.btnStyle3.gray {background:#F1F1F1; color:#222; border-color:#999}
.btnStyle3.white:hover {background:#222; color:#fff !important}
.btnStyle3.black:hover {background:#fff; color:#222 !important}
.btnStyle3.gray:hover {background:#222; color:#fff !important; border-color:#222}
.btnStyle3 i {vertical-align:baseline}
.btnStyle3.left {text-align:left}
.btnStyle3.left i {float:right; margin-top:4px}
.btnStyle4 {border:1px solid #FD004E; border-radius:2px; padding:9px 10px; font-size:14px; font-weight:500; display:inline-block; transition:0.3s; min-width:80px; text-align:center}
.btnStyle4.red {background:#FD004E; color:#fff}
.btnStyle4.gray {background:#D5D5D5; color:#222; border-color:#D5D5D5}
.btnStyle4.white {background:#fff; color:#FD004E; border-color:#FD004E}
.btnStyle4 i {vertical-align:baseline}
.btnStyle4.red:hover {background:#fff; color:#FD004E !important}
.btnStyle4.gray:hover {background:#fff; color:#222 !important}
.btnStyle4.white:hover {background:#FD004E; color:#fff !important}
.btnStyle5 {border:1px solid #FD004E; border-radius:2px; padding:10px 10px; font-size:16px; font-weight:500; display:inline-block; transition:0.3s; min-width:80px; text-align:center}
.btnStyle5.red {background:#FD004E; color:#fff}
.btnStyle5.gray {background:#D5D5D5; color:#222; border-color:#D5D5D5}
.btnStyle5 i {vertical-align:baseline}
.btnStyle5.red:hover {background:#fff; color:#FD004E !important}
.btnStyle5.gray:hover {background:#fff; color:#222 !important}
.btnStyle6 {background:#F1F1F1; color:#505050; border:1px solid #ddd; font-size:13px; border-radius:2px; padding:5px 10px; font-weight:500; display:inline-block; transition:0.3s; min-width:74px; text-align:center}
.btnStyle6:hover {background:#222; color:#fff !important; border-color:#222}
.btnStyle7 {background:#F1F1F1; color:#222; border:1px solid #ddd; font-size:13px; border-radius:2px; padding:12px 10px; font-weight:500; display:inline-block; transition:0.3s; min-width:120px; text-align:center}
.btnStyle7:hover {background:#222; color:#fff !important; border-color:#222}
.btnStyle8 {background:#fff; color:#505050; border:1px solid #a5a5a5; font-size:10px; border-radius:2px; padding:4px 11px; font-weight:500; display:inline; transition:0.3s; min-width:74px; text-align:center}
.btnStyle8:hover {background:#222; color:#fff !important; border-color:#222}

.moreBtn {}
.moreBtn:hover img {animation-name:moreBtn; animation-duration:1s; animation-fill-mode:both}
@keyframes moreBtn {
	from {transform:rotate(90deg)}
	to {transform:rotate(180deg)}
}


/* 로그인체크박스 */
label {cursor:pointer}
.checks {position:relative}
input[class="checkStyle"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[class="checkStyle"] + label {display:inline-block; vertical-align:top; position:relative; padding-left:30px; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none}
input[class="checkStyle"] + label:before {content:''; position:absolute; left:0; top:0; width:20px; height:20px; line-height:20px; text-align:center; background:#fff; border:2px solid #bcbcbc}
input[class="checkStyle"]:checked + label:before {border: 7px solid #FF004E}
.checkbox span {color:#707070; font-size:12px; vertical-align:top; margin-left:8px}

/* 체크박스2 */
.consolCheck {position:relative; display:inline-block}
input[class="checkStyle2"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[class="checkStyle2"] + label {display:inline-block; vertical-align:top; position:relative; padding-left:23px; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size:16px; font-weight:300; color:#505050}
input[class="checkStyle2"] + label:before {content:''; position:absolute; left:0; top:5px; width:15px; height:15px; text-align:center; background:#fff; border:1px solid #727272; border-radius:3px}
input[class="checkStyle2"]:checked + label:before {border-color:#FD004E; background:url('../images/consolCheck.svg') #FD004E no-repeat}
.checkbox span {color:#707070; font-size:12px; vertical-align:top; margin-left:8px}

/* 게시판 리스트 체크박스 */
input[class="boardCheckStyle"] {position:absolute; width:1px; height:1px; padding:0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border:0}
input[class="boardCheckStyle"] + label {display:inline-block; vertical-align:top; position:relative; padding-left:15px; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size:16px; font-weight:300; color:#505050}
input[class="boardCheckStyle"] + label:before {content:''; position:absolute; left:0; top:2px; width:15px; height:15px; text-align:center; background:#fff; border:1px solid #727272; border-radius:3px}
input[class="boardCheckStyle"]:checked + label:before {border-color:#FD004E; background:url('../images/consolCheck.svg') #FD004E no-repeat}
.checkbox span {color:#707070; font-size:12px; vertical-align:top; margin-left:8px}

/* 라디오 버튼 */
input[type='radio'] {appearance:none; width:14px; height:14px; border-radius:100%; margin-right:5px; background:#fff; border:1px solid #B2B2B2; cursor:pointer}
input[type='radio']:checked, input[type='radio']:focus {appearance:none; width:14px; height:14px; border-radius:100%; margin-right:5px; background:#fff; border:5px solid #FD004E; outline:none; outline-offset:0}

/* tabs */
.tabStyle {overflow:hidden; border-top:1px solid #E7E7E7; padding-left: 0; margin-top:15px}
.tabStyle li {list-style:none}
.tabStyle li.active a, .tabStyle li a:hover {background:#666; color:#fff}
.tabStyle li:first-child a {border-left:1px solid #E7E7E7}
.tabStyle li a {display:block; float:left; background:#A5A5A5; border-right:1px solid #E7E7E7; border-bottom:1px solid #E7E7E7; box-sizing:border-box; padding:16px 0; text-align:center; font-size:14px; color:#fff; font-weight:700}
.tab6 li a {width:16.66%}
.tab6 li:nth-child(7) a {border-left:1px solid #E7E7E7}
.tab8 li a {width:12.5%; font-size:12px !important}

.tab_s {display:inline-block; overflow:hidden; vertical-align:top}
.tab_s > li {display:inline-block; float:left}
.tab_s > li > a {display:block; width:48px; height:25px; line-height:21px; font-size:12px; color:#B2B2B2; border:1px solid #D5D5D5; background:#fff; text-align:center}
.tab_s > li.active > a, .tab_s > li > a:hover {border-color:#FD004E; color:#FD004E}

.tab_s2 {display:inline-block; overflow:hidden; vertical-align:middle}
.tab_s2 > li {display:inline-block; float:left}
.tab_s2 > li > a {display:block; width:65px; height:45px; line-height:42px; font-size:16px; color:#B2B2B2; border:1px solid #D5D5D5; background:#fff; text-align:center}
.tab_s2 > li.active > a, .tab_s2 > li > a:hover {border-color:#FD004E; color:#FD004E}


/* date */
.date {font-size:16px; color:#000; font-weight:700; display:inline-block; vertical-align:top}
.date > a {display:inline-block}
.date .fa-chevron-left{color:#B5B5B5; border:1px solid #B5B5B5; padding:3px 8px 4px 8px; margin-right:10px; vertical-align:top}
.date .fa-chevron-left:hover {background:#B5B5B5; color:#fff}
.date .fa-chevron-right{color:#B5B5B5; border:1px solid #B5B5B5; padding:3px 8px 4px 8px; margin-left:10px; vertical-align:top}
.date .fa-chevron-right:hover {background:#B5B5B5; color:#fff}


/* pagination */
.pagination1 .number {border: 1px solid #D5D5D5; background-color: #fff; color: #A3A3A5; font-size: 12px; padding: 0; border-radius: 2px; margin-right: 1px; width: 30px; height: 30px; display: inline-block; line-height: 27px}
.pagination1 .number.active, .pagination1 .number:hover {border: 1px solid #FD004E; color: #FD004E}
.pagination1 .fa-chevron-left {border: 1px solid #D5D5D5; background-color: #FBFBFB; color: #B2B2B2; font-size: 12px; padding: 0; border-radius: 2px; margin-right: 1px; width: 30px; height: 30px; display: inline-block; line-height: 27px; vertical-align: bottom; margin-right: 17px}	
.pagination1 .fa-chevron-left:hover {border: 1px solid #9a9a9a; color:#9a9a9a}
.pagination1 .fa-chevron-right {border: 1px solid #D5D5D5; background-color: #FBFBFB; color: #B2B2B2; font-size: 12px; padding: 0; border-radius: 2px; margin-right: 1px; width: 30px; height: 30px; display: inline-block; line-height: 27px; vertical-align: bottom; ; margin-left: 17px}	
.pagination1 .fa-chevron-right:hover {border: 1px solid #9a9a9a; color:#9a9a9a}
.pagination1 .fa-chevron-double-left {border: 1px solid #D5D5D5; background-color: #FBFBFB; color: #B2B2B2; font-size: 12px; padding: 0; border-radius: 2px; margin-right: 1px; width: 30px; height: 30px; display: inline-block; line-height: 27px; vertical-align: bottom}	
.pagination1 .fa-chevron-double-left:hover {border: 1px solid #9a9a9a; color:#9a9a9a}
.pagination1 .fa-chevron-double-right {border: 1px solid #D5D5D5; background-color: #FBFBFB; color: #B2B2B2; font-size: 12px; padding: 0; border-radius: 2px; margin-right: 1px; width: 30px; height: 30px; display: inline-block; line-height: 27px; vertical-align: bottom}	
.pagination1 .fa-chevron-double-right:hover {border: 1px solid #9a9a9a; color:#9a9a9a}

.pagination2 .number {border: 1px solid #E8ECEF; background-color:#fff; color: #727272; font-size: 10px; padding: 3px 8px; border-radius: 5px}
.pagination2 .number.active, .pagination2 .number:hover {border: 1px solid #FD004E; color: #FD004E}
.pagination2 .fa-chevron-left {border: 1px solid #C5C5C5; background-color:#F7F7F7; color: #727272; font-size: 10px; padding: 5px 8px; border-radius: 5px}
.pagination2 .fa-chevron-left:hover {border: 1px solid #969696; color: #969696}
.pagination2 .fa-chevron-right {border: 1px solid #C5C5C5; background-color:#F7F7F7; color: #727272; font-size: 10px; padding: 5px 8px; border-radius: 5px}
.pagination2 .fa-chevron-right:hover {border: 1px solid #969696; color: #969696}


/* menuBox */
.menuBox {background-color:#F1F1F1; padding:35px 45px}
.menuBox > ul.consolLsit {overflow:hidden}
.menuBox > ul > li {float:left; width:90px}


/* 로그인 */
.loginBg1 {background:url(../images/bg_1.png) #f7f7f7 top right no-repeat; background-size:cover}
.loginForm {max-width:555px}
.form-heading { color:#fff; font-size:23px;}
.login-form h2{ color:#1B1E24; font-size:24px; font-weight:500; margin:0 0 54px 0; letter-spacing: -1px}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px; letter-spacing: -1px}
.login-form .form-control {border: 1px solid #E8ECEF; border-radius: 4px; font-size: 14px; height: 52px; line-height: 50px}
.main-div {background: #ffffff none repeat scroll 0 0; border-radius: 2px; margin: 10px auto 30px; width:555px; padding: 54px 98px 54px 98px; margin-top:112px}
.login-form .form-group {margin-bottom:19px}
.login-form{}
.login-form  .btn.btn-primary {background:#BB48D0 none repeat scroll 0 0; border-color: #BB48D0; color: #ffffff; font-size: 16px; width: 100%; height: 54px; line-height: 50px; padding: 0; transition:0.3s}
.login-form  .btn.btn-primary:hover {background:#9D2BB2}
.forgot {text-align: left; margin-bottom:23px}
.botto-text {color: #B2B2B2; font-size: 14px; margin: auto; margin-top: 100px}
.login-form .btn.btn-primary.reset {background: #ff9900 none repeat scroll 0 0}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px; text-decoration: none;}
.form-group p {text-align:left; font-size: 12px; margin-bottom: 11px; color: #252631}
.forgot {text-align:right}
.checkbox {text-align:left}
.forgot a {color:#000; font-size:12px; text-decoration: none; letter-spacing: -1px; vertical-align:sub}
.checkbox label {color:#707070; font-size:12px; letter-spacing: -1px}
.bottom_text {font-size:12px; color:#B2B2B2; letter-spacing:-1px; margin-top:168px; margin-bottom:0}
.bottom_text a {color:#000; text-decoration: none}
.form-control:focus, .form-control:hover {background-color:rgba(0,0,0,0.05)}


/* headerTop */
#headerTop {padding:13px 30px; height:60px; position:relative; width:100%}
#headerTop h1 {float:left; font-size:12px; margin:4px 30px 0 0}
#headerTop .adminName {font-size:14px; font-weight:500; color:#fff; float:left; margin-top:7px}
#headerTop .adminUtil {float:right}
#headerTop .adminUtil > li {float:left; margin-left:10px; position:relative}
#headerTop .adminUtil > li > a {color:#fff; font-size:300; vertical-align:sub}
#headerTop .adminUtil > li > a  i {vertical-align:middle}
.userDrop {border-radius:0; padding:5px 20px; margin-top:10px}
.userDrop>li {border-bottom:1px solid #D5D5D5}
.userDrop>li>a {padding:12px 0; font-size:13px; font-weight:400}
.userDrop>li:last-child {border-bottom:none}
.userDrop>li>a:focus, .userDrop>li>a:hover {background:none; color:#FD004E}
.bellIcon {position:relative}
.bellIcon:before {content:""; width:6px; height:6px; display:inline-block; background:#fd004e; position:absolute; top:4px; left:-1px; border-radius:3px; display:none}
.bellIcon.active:before {display:block}

/* sidebar consoleMenu */
#sidebar {width:230px; height:100%; float:left; padding-top:30px; position:relative}
.sideMenu {position:absolute; top:0; right:-24px; cursor:pointer; z-index:9999}
.SideMenuOn {display:none}
#sidebar > dl > dt {position:relative}
#sidebar > dl > dt > a {display:block; padding:20px 25px; font-size:16px; color:#707070; font-weight:400; position:relative; transition:0.3s}
#sidebar > dl > dt > a i {vertical-align:baseline}
#sidebar > dl > dt > a .navIcon {margin-right:10px}
#sidebar > dl > dt > a .cog {font-size:10px; color:#A3A3A5; margin-left:8px}
#sidebar > dl > dt > a .navArrow {font-size:10px; position:absolute; top:27px; right:20px}
#sidebar > dl > dt.active > a, #sidebar > dl > dt > a:hover {color:#000; font-weight:500}
.consoleMenu {background:url('../images/consoleMenuArr.png') 0 15px no-repeat; display:none; position:absolute; top:10px; right:-212px; width:220px; z-index:999; padding-left:8px}
.consoleMenu ul {border:1px solid #999; background:#fff}
.consoleMenu ul > li > a {display:block; font-size:14px; color:#707070; transition:0.3s; line-height:45px; padding-left:40px; font-weight:400; border-bottom:1px solid #d5d5d5}
.consoleMenu ul > li.active > a, #sidebar > dl > dt > .consoleMenu ul > li > a:hover {color:#FD004E; font-weight:500}
.consoleMenu ul > li.active a {background:url('../images/check.svg') 20px center no-repeat; background-size:12px}
#sidebar > dl > dt.active > .consoleMenu {display:block}


/* sidebar lnb */
#sidebar > ul {border-top:1px solid #999; margin-top:10px}
#sidebar > ul > li {position:relative}
#sidebar > ul > li > a {display:block; padding:20px 25px; font-size:16px; color:#707070; font-weight:400; position:relative; transition:0.3s}
#sidebar.thum > ul > li.active > a {background:#F7F7F7}
#sidebar > ul > li > a i {vertical-align:baseline}
#sidebar > ul > li > a .navIcon {margin-right:10px}
#sidebar > ul > li > a .navArrow {font-size:10px; position:absolute; top:27px; right:20px}
/*#sidebar > ul > li.active > a, */#sidebar > ul > li.on > a, #sidebar > ul > li > a:hover {color:#000; font-weight:500; background:#F7F7F7}
#sidebar > ul > li .depth2Lnb {display:none}
#sidebar > ul > li .depth2Lnb > ul {background:#F7F7F7; padding:0 10px 0 52px}
#sidebar > ul > li .depth2Lnb > ul > li {}
#sidebar > ul > li .depth2Lnb > ul > li > a {display:block; font-size:14px; color:#707070; padding:15px 0; transition:0.3s}
#sidebar > ul > li .depth2Lnb > ul > li.active > a, #sidebar > ul > li .depth2Lnb > ul >  li > a:hover {color:#FD004E; font-weight:500}
#sidebar > ul > li.active .depth2Lnb {display:block}

#sidebar > ul > li .depth2Lnb.thum {background:url('../images/consoleMenuArr.png') 0 15px no-repeat; display:none; position:absolute; top:10px; right:-212px; width:220px; z-index:999; padding-left:8px}
#sidebar > ul > li .depth2Lnb.thum > ul {border:1px solid #999; background:#fff; padding:0}
#sidebar > ul > li .depth2Lnb.thum > ul > li {}
#sidebar > ul > li .depth2Lnb.thum > ul > li > a {display:block; font-size:14px; color:#707070; transition:0.3s; line-height:45px; padding:0 0 0 40px; font-weight:400; border-bottom:1px solid #d5d5d5}
#sidebar > ul > li .depth2Lnb.thum > ul > li.active > a, #sidebar > ul > li .depth2Lnb.thum > ul > li > a:hover {color:#FD004E; font-weight:500}
#sidebar > ul > li.active .depth2Lnb.thum {display:block}


/* content */
#content {float:left; width:1690px; width:calc(100% - 230px); min-height:1500px; padding:40px 70px 200px 70px; border-left:1px solid #E6E6E6; position:relative}
#content > article {max-width:1510px; min-width:1100px}
/*#content {float:left; width:100%; min-width:1100px; max-width:1510px; min-height:1500px; padding:40px 70px 200px 70px; border-left:1px solid #E6E6E6; position:relative}*/
.contentHeader {padding:15px 10px 20px 10px; border-bottom:1px solid #B2B2B2; margin-bottom:40px; position:relative}
.contentHeader h2 {font-size:22px; font-weight:500}
.contentHeader {}


/* table */
.tableScroll {width:100%; overflow:auto}
.tableScroll > table {white-space:nowrap; border-collapse:collapse}
.tableScroll > p {display:inline;}

.tbl-striped tbody tr:nth-child(even) { background-color: #f7f7f7;}

.table_skin1 {width:100%; margin-top: 15px; background:#fff; text-align:center}
.table_skin1 th {background-color:#F1F1F1; font-size:14px; color:#000; padding:15px !important; border-right:1px solid #D5D5D5; border-bottom:1px solid #d5d5d5; vertical-align:middle}
.table_skin1 td {bfont-size:12px; color:#707070; padding:13px !important; border-right:1px solid #D5D5D5;  border-bottom:1px solid #D5D5D5}
.table_skin1 a {color:#707070}
.table_skin1 tr:hover td{background-color:#f7f7f7}
.table_skin1 .end {border-right:0}
.boardTitle {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:inline-block; vertical-align:sub; letter-spacing:-1px}

.table_skin2 {width:100%; background:#fff}
.table_skin2 th {background-color:#A5A5A5; font-size:12px; color:#fff; padding:13px; border-right: 1px solid #b7b7b7}
.table_skin2 td {font-size:10px; color:#707070; padding:13px}
.table_skin2 tr { border:1px solid #E8ECEF}
.table_skin2 a {color:#707070}
.table_skin2 tr:hover td{background-color:#f7f7f7}
.table_skin2 .end {border-right:0}

.table_skin3 {width:100%; margin-top: 15px; background:#fff}
.table_skin3 .th {background-color:#707070; color:#fff}
.table_skin3 th {background-color:#F1F1F1; font-size:14px; color:#000; padding:15px; border-right:1px solid #D5D5D5; font-weight:500}
.table_skin3 td {font-size:12px; color:#000; padding:13px; font-size:14px; border-right:1px solid #D5D5D5;  border-bottom:1px solid #D5D5D5}
.table_skin3 a {color:#707070}
.table_skin3 tr:hover td{background-color:#f7f7f7}
.table_skin3 .end {border-right:0}

.tbl_use_skin {width:100%; background:#fff; text-align:left}
.tbl_use_skin thead th {background-color:#A5A5A5; font-size:12px; color:#fff; padding:13px 10px; border-right: 1px solid #b7b7b7; text-align:center}
.tbl_use_skin tbody td {font-size:10px; color:#707070; padding:13px 10px}
.tbl_use_skin tr {border:1px solid #E8ECEF}
.tbl_use_skin a {color:#707070}
.tbl_use_skin tr:hover td{background-color:#f7f7f7}
.tbl_use_skin .end {border-right:0}


/* select */
.selectStyle {vertical-align:baseline; padding:8px 15px; border:1px solid #707070; font-size:13px; font-weight:400; color:#727272; background:url('../images/selectArrow.png') #fff no-repeat 95% 50%; border-radius:3px; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.selectStyle::-ms-expand {display:none}
.selectStyle2 {vertical-align:baseline; padding:11px 20px; border:1px solid #D5D5D5; font-size:12px; font-weight:400; color:#727272; background:url('../images/selectStyle2Arr.png') #fff no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.selectStyle2::-ms-expand {display:none}
.selectStyle3 {width:100%; vertical-align:baseline; padding:11px 20px; border:1px solid #D5D5D5; font-size:16px; font-weight:400; color:#727272; background:url('../images/selectStyle2Arr.png') #fff no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.selectStyle3::-ms-expand {display:none}


/* Dashboard01 */
.tableScroll {min-height:.01%; overflow-x:auto; margin-bottom:15px; overflow-y:hidden; -ms-overflow-style:-ms-autohiding-scrollbar}
.Dashboard01 {background-color: #fff; padding: 35px 30px; width:100%}
.Dashboard01 h4 {font-size:16px; color:000; font-weight:700; display:inline-block}
.New {font-size:11px; color:#fff; background-color:#FD004E; padding:5px; font-weight:700; margin-right:10px}


/* Dashboard02 */
.Dashboard02 {background-color: #fff; padding: 35px 30px; width:100%}
.Dashboard02 h4 {font-size:16px; color:000; font-weight:700; display:inline-block}
.Reply {font-size:11px; color:#fff; background-color:#B2B2B2; padding:5px; font-weight:700}
.n_Reply {font-size:11px; color:#fff; background-color:#FD004E; padding:5px 10px; font-weight:700}


/* Dashboard03 */
.Dashboard03 {width:100%; background-color: #fff; padding: 35px 30px; overflow:hidden}
.Dashboard03 h4 {font-size:16px; color:000; font-weight:700; display:inline-block}
.Dashboard03 .sub_Text {display:inline; float:right; font-size:18px; color:#000}
.Dashboard03 .sub_Text .color1 {color:#FD004E}
.Dashboard03 .img_chart01 {padding-top: 20px; border-top: 1px solid #CECECE}


/* Dashboard04 */
.Dashboard04 {background-color: #fff; padding: 35px 30px; width:100%}
.Dashboard04 h4 {font-size:16px; color:000; font-weight:700; display:inline-block}
.Dashboard04 .box {border: 1px solid #B2B2B2; padding: 10px; border-radius: 5px}
.Dashboard04 .box > span {font-size: 16px; color: #778CA2; font-weight:700}


/* Dashboard05 */
.Dashboard05 {background-color: #fff; padding: 35px 30px; width:100%}
.Dashboard05 h4 {font-size:16px; color:000; font-weight:700; display:inline-block}
.Dashboard05 .img_chart03 {margin-top:75px}


/* Menu01 */
.Menu01 h4 {font-size:16px; color:000; display:inline}
.Menu01_1 {display:inline; margin-right:100px}
.Menu01_2 {display:inline}

/* Menu02 */
.Menu02 {padding:35px 20px; border-right:1px solid #C2C2C2}
.Menu02 h4 {font-size:16px; display:inline}
.Menu02 i {margin-right:5px}
.Menu02 .tb_subText {color:#B2B2B2; font-size:11px}

/* Menu03 */
.Menu03 {padding:35px 20px; overflow:hidden}
.Menu03 {border-left: 0}
.Menu03 h4 {font-size:14px; color:#252631; position:relative; margin-top:5px}
.editIcon {position:absolute; right:20px; top:-5px; color:#fd004e; font-size:16px}
.editIcon:hover {color:#222}
.Menu03 .tb_subText {color:#B2B2B2; font-size:11px}
.Menu03 .table_back {background-color: #FAFAFA; padding: 20px; margin-bottom:0}
.Menu03 .fa-retweet {color:#Fff; background-color:#FD004E;padding: 10px; border-radius: 25px; margin:20px 0}
.Menu03 .pd_b55 {padding-bottom:55px}

/* footer */
footer {font-size:12px; color:#B2B2B2; font-weight:400; position:absolute; bottom:20px}



/* dataTables */
.dataTables_info {margin-right:20px; margin-bottom:20px}
.dataTables_length {margin-bottom:20px}
.dataTables_info strong {color:#FD004E}
.dataTables_length select {vertical-align:baseline; padding:11px 20px !important; border-radius:0 !important; border:1px solid #D5D5D5; font-size:12px; font-weight:400; color:#727272; background:url('../images/selectStyle2Arr.png') #fff no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none}
.dataTables_wrapper .dataTables_paginate {float:none; text-align:center; margin-top:20px}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {color:#FD004E !important; border:1px solid #FD004E !important; background:#fff !important}
.paginate_button.first, .paginate_button.previous, .paginate_button.next, .paginate_button.last {padding:.5em 1.2em !important; color:#666 !important; border:1px solid #d5d5d5 !important; text-indent:-9999px !important; background: #fbfbfb !important; color:#B2B2B2 !important}
.paginate_button.first {background:url('../fontawesome-pro-5.15.2-web/svgs/solid/chevron-double-left.svg') #fbfbfb center center no-repeat !important; background-size:12px !important}
.paginate_button.previous {margin-right:20px !important; background:url('../fontawesome-pro-5.15.2-web/svgs/solid/chevron-left.svg') #fbfbfb center center no-repeat !important; background-size:8px !important}
.paginate_button.next {margin-left:20px !important; background:url('../fontawesome-pro-5.15.2-web/svgs/solid/chevron-right.svg') #fbfbfb center center no-repeat !important; background-size:8px !important}
.paginate_button.last {background:url('../fontawesome-pro-5.15.2-web/svgs/solid/chevron-double-right.svg') #fbfbfb center center no-repeat !important; background-size:12px !important}
.paginate_button.first:hover, .paginate_button.previous:hover, .paginate_button.next:hover, .paginate_button.last:hover {border-color:#999 !important}



/* admin console */

/* color */
.bgColorGray {background:#323232}

.btnGuideBlack {border:1px solid #fff; border-radius:5px; color:#fff; background-color:#000; padding:8px 15px; font-size:11px; font-weight:500; display:inline-block; transition:0.3s}
.btnGuideBlack:hover {background:#fff; color:#000 !important}

.border-line {border:0.5px solid #d6d6d6; border-radius:3px;}



@media screen and (max-width:1850px) {
	.Menu02 {width:60%}
	.Menu03 {width:40%}
}
@media screen and (max-width:1620px) {
	.Menu02 {width:50%}
	.Menu03 {width:50%}
}