<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sample">

	<select id="qrySelectUserName" parameterType="string" resultType="kr.co.uplus.cloud.common.model.AuthUser">
	/* sample.qrySelectUserName */
		SELECT	USER.USER_ID
		,		USER.LOGIN_ID
		,		USER.USER_NAME
		,		USER.LOGIN_PWD AS USER_PWD
		,		USER.PWD_UPD_DT
		,		USER.HP_NUMBER
		,		USER.RECENT_CONN_DT
		,		USER.SMS_CERTIFY_NUMBER
		,		USER.LOGIN_FAIL_CNT
		,		USER.MAIL_CERTIFY_NUMBER
		,		USER.MAIL_CERTIFY_SENDER_DT
		,		USER.APPROVAL_STATUS
		,		ROLE.ROLE_CD
		,		USER.DEL_YN
		,		USER.REG_ID
		,		USER.REG_DT
		,		USER.UPD_DT
		,		CASE
					WHEN USER.APPROVAL_STATUS = 'Y' THEN 'USE'
					WHEN IFNULL(USER.LOGIN_FAIL_CNT, 0) > 5 THEN 'LOCK'
					ELSE 'NOTUSE'
				END AS STATUS
		,		ROLE.ROLE_CD		AS ROLE
		,		USER.CORP_ID
		,		ROLE.SVC_TYPE_CD
		FROM	cm_console.CM_USER USER
		LEFT OUTER JOIN	cm_bo.CM_ROLE ROLE
			ON	ROLE.ROLE_CD = USER.ROLE_CD
		WHERE	USER.LOGIN_ID = #{userId}
	</select>
	
	
	<select id="qryInsertAuthUser" parameterType="kr.co.uplus.cloud.common.model.AuthUser" resultType="Integer">
		INSERT INTO CLOUD_TEST_USER
		(
			USER_ID, USER_PWD, STATUS, ROLE
		)
		VALUES
		(
    		#{userId}, #{userPwd}, #{status}, #{role}
   		)
	</select>

	<select id="getMenuForRole" parameterType="string" resultType="hashmap">
		/* sample.getMenuForRole */
		SELECT 	MENUS_CD
		,		CASE
					WHEN MENUS_LEVEL = 0 THEN '운영사'
					WHEN MENUS_LEVEL = 1 THEN '대메뉴'
					WHEN MENUS_LEVEL = 2 THEN '중메뉴'
				END AS GUBUN
		,		MENUS_NAME
		,		IMG_TAG
		,		TOP_MENUS_CD
		,		PAR_MENUS_CD
		,		MENUS_LEVEL
		,		DIS_ORDER
		,		SVC_TYPE_CD
		,		FIXED_MENUS_YN
		,		USE_YN
		,		WEB_URL
		,		REG_ID
		,		REG_DT
		FROM	cm_bo.CM_MENU
		WHERE	1 = 1
		AND		MENUS_LEVEL = #{menus_level}
		AND		USE_YN = 'Y'
		<if test="menus_level != 0">
		AND		TOP_MENUS_CD = #{top_menus_cd}
		AND		MENUS_CD IN (
			SELECT B.MENUS_CD 
			FROM cm_bo.CM_USER_ROLE  A
			INNER JOIN cm_bo.CM_ROLE_MENU_ACTIVITY B
				ON A.ROLE_CD  = B.ROLE_CD 
			WHERE	A.USER_ID = #{user_id}
			AND		B.ROLE_CD = #{role_cd}
		)
		</if>
		<if test="svc_type_cd != '' and svc_type_cd != null" >
		AND		SVC_TYPE_CD = #{svc_type_cd}
		</if>
		ORDER BY DIS_ORDER
	</select>
</mapper>