<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sample">

	<select id="qrySelectUserName" parameterType="string" resultType="kr.co.uplus.cloud.sample.model.AuthUser">
		SELECT 
			USER_ID, USER_PWD, STATUS, ROLE
		FROM
			CLOUD_TEST_USER
		WHERE
			USER_ID = #{userId}
	</select>
	
	
	<select id="qryInsertAuthUser" parameterType="kr.co.uplus.cloud.sample.model.AuthUser" resultType="Integer">
		INSERT INTO CLOUD_TEST_USER
		(
			USER_ID, USER_PWD, STATUS, ROLE
		)
		VALUES
		(
    		#{userId}, #{userPwd}, #{status}, #{role}
   		)
	</select>

</mapper>