<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="list">
	<select id="listTest" resultType="HashMap">
		SELECT	SEQ
		,		COL1
		,		COL2
		,		COL3
		,		COL4
		,		COL5
		,		COL6
		FROM	TEST_TABLE
		WHERE	1=1
		<include refid="listTestSql"/>
		ORDER BY SEQ DESC
		LIMIT ${rowsFront}, #{rowsEnd}
	</select>
	
	<select id="listTestCnt" resultType="Integer">
		SELECT	COUNT(*)
		FROM	TEST_TABLE
		WHERE	1=1
		<include refid="listTestSql"/>
	</select>
	
	<sql id ="listTestSql">
		<if test="col1 != null and col1 != ''">
		AND		COL1 = #{col1}
		</if>
		<if test="updateSeq != null and updateSeq != ''">
		AND		SEQ = #{updateSeq}
		</if>
	</sql>
	
	<select id="selectListSeq" resultType="Integer">
		SELECT	MAX(SEQ) + 1
		FROM	TEST_TABLE
	</select>
	
	<insert id="insertList">
		INSERT INTO TEST_TABLE (
				SEQ
		,		COL1
		,		COL2
		,		COL3
		,		COL4
		,		COL5
		,		COL6
		) VALUES (
				#{seq}
		,		#{col1}
		,		#{col2}
		,		#{col3}
		,		#{col4}
		,		#{col5}
		,		#{col6}
		)
	</insert>
	
	<update id="updateList">
		UPDATE	TEST_TABLE
		SET		COL1 = #{col1}
		,		COl2 = #{col2}
		,		COl3 = #{col3}
		,		COl4 = #{col4}
		,		COl5 = #{col5}
		,		COl6 = #{col6}
		WHERE	SEQ = #{updateSeq}
	</update>
</mapper>