<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sendMessage">

    <select id="selectAppIdList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectAppIdList APP ID 리스트 조회 */
        SELECT APLN_ID
        FROM CM_PUSH_SET
        WHERE 1=1
            AND CORP_ID = #{corpId}
            AND OTHER_PROJECT_USE_YN = 'Y' OR PROJECT_ID = #{projectId}
    </select>

    <select id="selectCallbackList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectCallbackList 발신번호 조회 */
        SELECT CHATBOT_ID AS CALLBACK /* 챗봇(대화방)ID, A2P의 경우 발신번호(mdn)과 동일 */
        FROM cm.CM_RCS_CHATBOT
        WHERE SVC_TYPE = 'A2P'
            AND CORP_ID = #{corpId}
        /* TODO - 삭제 : 현재 CM의 해당 테이블에 데이터가 없어서 임의로 넣고 작업 우리쪽 관리 테이블이 아니라 DB에 넣지 않고 작업 */
        UNION ALL
        SELECT '15777011' AS CALLBACK FROM DUAL UNION ALL
        SELECT '15999679' AS CALLBACK FROM DUAL
    </select>














    <insert id="qryInsertSendPushMessage" parameterType="hashmap">
        /* 푸시 메시지 발송내역 등록 */
        INSERT INTO CM_WEB_MSG
        (
            WEB_REQ_ID,
            CORP_ID,
            PROJECT_ID,
            API_KEY,
            CH_GRP,
            CH,
            MSG_INFO,
            CU_INFO,
            SENDER_CNT,
            CALLBACK,
            CAMPAIGN_ID,
            SENDER_TYPE,
            STATUS,
            GW_RESULT_CODE,
            GW_RESULT_DESC,
            RESV_SENDER_YN,
            REG_DT,
            REQ_DT,
        )
        VALUES
        (
            #{webReqId},
            #{corpId},
            #{projectId},
            #{apiKey},
            #{chGrp},
            #{ch},
            #{msgInfo},
            #{cuInfo},
            #{senderCnt},
            #{callback},
            #{campaignId},
            #{senderType},
            #{status},
            #{gwResultCode},
            #{gwResultDesc},
            #{resvSenderYn},
            SYSDATE,
            SYSDATE
           )
    </insert>

</mapper>