<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sendMessage">

    <select id="selectAppIdList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectAppIdList APP ID 리스트 조회 */
        SELECT APLN_ID
        FROM CM_PUSH_SET
        WHERE 1=1
            AND CORP_ID = #{corpId}
            AND OTHER_PROJECT_USE_YN = 'Y' OR PROJECT_ID = #{projectId}
    </select>

    <select id="selectCallbackList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectCallbackList 발신번호 조회 */
        SELECT CHATBOT_ID AS CALLBACK /* 챗봇(대화방)ID, A2P의 경우 발신번호(mdn)과 동일 */
        FROM cm.CM_RCS_CHATBOT
        WHERE SVC_TYPE = 'A2P'
            AND CORP_ID = #{corpId}
        /* TODO - 삭제 : 현재 CM의 해당 테이블에 데이터가 없어서 임의로 넣고 작업 우리쪽 관리 테이블이 아니라 DB에 넣지 않고 작업 */
        UNION ALL
        SELECT '15777011' AS CALLBACK FROM DUAL UNION ALL
        SELECT '15999679' AS CALLBACK FROM DUAL
    </select>

    <select id="selectAddrGrpList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectAddrGrpList 주소록 그룹 목록 조회 */
        SELECT
            CACG.ADDRESS_CATEGORY_GRP_ID
            , NULL AS ADDRESS_CATEGORY_ID
            , CACG.DIS_ORDER AS GRP_DIS_ORDER
            , NULL AS DIS_ORDER
            , CACG.ADDRESS_CATEGORY_GRP_NAME AS ADDRESS_NAME
            , NULL AS PAR_ADDRESS_CATEGORY_ID
        FROM CM_ADDR_CATE_GRP CACG
        WHERE CACG.USE_YN = 'Y'
            AND CACG.CORP_ID = #{corpId}
            AND CACG.OTHER_PROJECT_USE_YN = 'Y' OR CACG.PROJECT_ID = #{projectId}
        ORDER BY CACG.DIS_ORDER
    </select>

    <select id="selectAddrCtgyList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectAddrCtgyList 주소록 카테고리 목록 조회 */
        SELECT
            CAC.ADDRESS_CATEGORY_ID
            , CAC.ADDRESS_CATEGORY_GRP_ID
            , NULL AS GRP_DIS_ORDER
            , CAC.DIS_ORDER
            , CAC.ADDRESS_CATEGORY_NAME  AS ADDRESS_NAME
            , CAC.PAR_ADDRESS_CATEGORY_ID
        FROM CM_ADDR_CATE_GRP CACG
        INNER JOIN CM_ADDR_CATE CAC
            ON CACG.ADDRESS_CATEGORY_GRP_ID = CAC.ADDRESS_CATEGORY_GRP_ID
            AND CAC.DEL_YN = 'N'
        <if test="searchText != '' and searchText != null ">
            AND CAC.ADDRESS_CATEGORY_ID  IN (
                SELECT T._ID
                FROM (
                    SELECT
                        @r AS _ID
                        , (SELECT @r := PAR_ADDRESS_CATEGORY_ID FROM CM_ADDR_CATE WHERE ADDRESS_CATEGORY_ID = _ID) AS _PARENT_ID
                    FROM (
                        SELECT
                            @id := (
                                SELECT XCACM.ADDRESS_CATEGORY_ID
                                FROM CM_ADDR_CATE_MEM XCACM
                                INNER JOIN CM_CU_INFO XCCI
                                    ON XCACM.CU_INFO_ID = XCCI.CU_INFO_ID
                                    AND XCCI.USE_YN = 'Y'
                                WHERE 1=1
                                <if test="searchTextType == 'cuid' ">
                                    AND XCCI.CUID LIKE CONCAT('%', #{searchText}, '%')
                                </if>
                                <if test="searchTextType == 'cuName' ">
                                    AND XCCI.CU_NAME LIKE CONCAT('%', #{searchText}, '%')
                                </if>
                                <if test="searchTextType == 'hpNumber' ">
                                    AND XCCI.HP_NUMBER LIKE CONCAT('%', #{searchText}, '%')
                                </if>
                            ),
                            @r := @id
                    ) AS VARS
                    INNER JOIN (SELECT * FROM CM_ADDR_CATE WHERE ADDRESS_CATEGORY_ID <![CDATA[<=]]> @id) AS CAC
                    WHERE @r <![CDATA[<>]]> 0
                ) T
            )
        </if>
        WHERE CACG.USE_YN = 'Y'
            AND CACG.CORP_ID = #{corpId}
            AND CACG.OTHER_PROJECT_USE_YN = 'Y' OR CACG.PROJECT_ID = #{projectId}
        ORDER BY CAC.DIS_ORDER
    </select>

    <select id="selectCmCuList" parameterType="hashmap" resultType="camel">
    /* sendMessage.selectCmCuList 주소록 카테고리 구성원 목록 조회 */
        SELECT
            CCI.CU_INFO_ID
            , CCI.CU_NAME
            , CCI.CUID
            , CCI.HP_NUMBER
            , CCI.EMAIL
        FROM CM_ADDR_CATE_MEM CACM
        INNER JOIN CM_CU_INFO CCI
            ON CACM.CU_INFO_ID = CCI.CU_INFO_ID
            AND CCI.USE_YN = 'Y'
        WHERE CACM.ADDRESS_CATEGORY_ID = #{addressCategoryId}
    </select>
























    <insert id="qryInsertSendPushMessage" parameterType="hashmap">
        /* 푸시 메시지 발송내역 등록 */
        INSERT INTO CM_WEB_MSG
        (
            WEB_REQ_ID,
            CORP_ID,
            PROJECT_ID,
            API_KEY,
            CH_GRP,
            CH,
            MSG_INFO,
            CU_INFO,
            SENDER_CNT,
            CALLBACK,
            CAMPAIGN_ID,
            SENDER_TYPE,
            STATUS,
            GW_RESULT_CODE,
            GW_RESULT_DESC,
            RESV_SENDER_YN,
            REG_DT,
            REQ_DT,
        )
        VALUES
        (
            #{webReqId},
            #{corpId},
            #{projectId},
            #{apiKey},
            #{chGrp},
            #{ch},
            #{msgInfo},
            #{cuInfo},
            #{senderCnt},
            #{callback},
            #{campaignId},
            #{senderType},
            #{status},
            #{gwResultCode},
            #{gwResultDesc},
            #{resvSenderYn},
            SYSDATE,
            SYSDATE
           )
    </insert>

</mapper>