@charset "utf-8";
body {min-width:1470px; overflow-x:auto}
.height180 {height:180px}
#contentWrap {position:relative}



/* head_type_user */
header.head_type_user {border-bottom:1px solid #E6E6E6}
header.head_type_user.fixed {position:fixed; width:100%; top:0; left:0; z-index:1000; background:#fff}
.wrap_head {width:100%; min-width:1400px; padding:0 50px; height:80px; margin:0 auto; text-align:center}
.wrap_head .tit_logo {float:left}
.wrap_head .tit_logo .userLogo {display:block; margin-top:15px}
.wrap_head .tit_logo .userLogo > img {height:25px}
#userGnb {display:inline-block; vertical-align:top}
#userGnb .list_gnb {margin-top:20px; height:61px}
#userGnb .list_gnb > li {float:left; margin:0 15px; position:relative}
#userGnb .list_gnb > li > a {display:block; position:relative; padding:0 25px 0 25px; font-size:17px; line-height:40px; color:#1e1e1e; font-weight:400}
#userGnb .list_gnb > li > a:hover, #userGnb .list_gnb > li > a:focus {color:#CB1871}
#userGnb .list_gnb > li > ul.dep2 {display:none; position:absolute; top:60px; background:#fff; z-index:999; width:100%; border:1px solid #F1F1F1; padding:0 25px; min-width:140px}
#userGnb .list_gnb > li > ul.dep2 > li {}
#userGnb .list_gnb > li > ul.dep2 > li > a {display:block; border-bottom:1px solid #ddd; font-size:14px; color:#707070; padding:9px 0; font-weight:400; text-align:left}
#userGnb .list_gnb > li > ul.dep2 > li:last-child > a {border-bottom:none}
#userGnb .list_gnb > li > ul.dep2 > li > a:hover, #userGnb .list_gnb > li > ul.dep2 > li > a:focus {color:#000}
#userGnb .list_gnb > li.console > a, #userGnb .list_gnb > li.console > a:hover, #userGnb .list_gnb > li.console > a:focus {background:#000; color:#fff; border-radius:20px}
#userGnb .list_gnb > li.console > a:hover {background:#CB1871}
.list_login {float:right; margin-top:25px}
.list_login li {float:left; margin-left:50px}
.list_login li > a {font-size:16px; color:#727272}
.list_login li.active > a, .list_login li > a:hover, .list_login li > a:focus {color:#000; font-weight:500}

/* userSection */
.userSection {margin:0 auto}
.userSection.width540 {width:540px}

/* userLogin-form */
.userLogin-form {width:460px; margin:0 auto}
.userLogin-form > h2 {font-size:28px !important; margin-bottom:70px; color:#000}
.userLogin-form h3 {font-size:20px; color:#707070; font-weight:400}
.userLogin-form .form-control {border:1px solid #E8ECEF; border-radius:5px; font-size:15px; height:60px; line-height:60px; box-shadow:none}
.userLogin-form .checkbox {margin:0}
.userLogin-form .checkbox label {font-size:15px}
.userLogin-form .forgot {margin:-3px 0 0 0}
.userLogin-form .forgot a {font-size:15px}
.userLogin-form .forgot a i {color:#D5D5D5; vertical-align:baseline}
.userLogin-form .forgot span {vertical-align:sub; padding:0 10px}
.loginThum {background:#B2B2B2; border-radius:28px; width:58px; height:58px; font-size:26px; color:#fff; line-height:58px}

/* join */
.provisionMore {color:#222}
.provisionMore i {color:#B2B2B2}
.provisionMore:hover, .provisionMore:hover i {color:#000}
.provisionWrap {max-height:620px; overflow-y:scroll}
.provisionWrap h5 {font-size:14px !important; font-weight:600 !important; color:#000 !important}
.provisionWrap h6 {font-size:12px !important; font-weight:500 !important; color:#000 !important}
.provisionWrap p {font-size:12px !important; font-weight:300 !important; color:#000 !important}
.provisionWrap .numList {font-size:12px !important; font-weight:300 !important; color:#727272 !important; margin-left:13px}
.provisionWrap .numList > li {list-style:decimal}
.provisionWrap .discList {font-size:12px !important; font-weight:300 !important; color:#727272 !important; margin-left:33px}
.provisionWrap .discList > li {list-style:disc}
.provisionWrap .numList > li > .discList {margin-left:20px}
.joinBox {border:1px solid #D5D5D5; border-radius:4px; padding:20px}

/* foot_type_user */
.foot_type_user {/*border-top:1px solid #E6E6E6;*/ padding:30px 50px; margin-top:150px}
.foot_logo {float:left; margin-right:125px}
.foot_info_wrap {float:left; margin-top:2px; padding-bottom:30px}
.foot_info {overflow:hidden}
.foot_info > li {float:left; margin-right:30px}
.foot_info > li > a {font-size:14px; color:#000}
.foot_info > li > a:hover, .foot_info > li > a:focus {color:#E93978}
.foot_copy {color:#858585; margin-top:25px; font-size:13px}
.foot_copy > p {margin-bottom:5px}
.foot_copy > p span {color:#D0D0D0; padding:0 15px}

/* quickRightWrap */
.quickRightWrap {position:relative}
.quickRight {position:fixed; bottom:40px; right:40px; z-index:999}
.quickRight.fix {position:fixed}
.quickRight .quick_inquiry {display:block; border-radius:30px; width:60px; height:60px; background:#000; text-align:center; padding:10px; box-shadow:0 3px 6px rgb(0,0,0,0.3); transition:.3s; line-height:40px}
.quickRight .quick_inquiry img {margin-left:-2px}
.quickRight .quick_inquiry:hover, .quickRight .quick_inquiry:focus {background:#CB1871}
.quickRight .quick_top {display:block; border-radius:30px; width:60px; height:60px; background:#fff; text-align:center; padding:10px; box-shadow:0 3px 6px rgb(0,0,0,0.3); transition:.3s; margin-top:10px; line-height:35px}
.quickRight .quick_top:hover, .quickRight .quick_top:focus {background:#CB1871}
.quickRight .quick_top:hover img, .quickRight .quick_top:focus img {filter:brightness(0) invert(1)}

/* mainVisualWrap */
#mainVisualWrap {overflow:hidden; height:760px}
#mainVisualWrap section {}
.mainBxslider > li > .mainVisualTitle {position:absolute; top:110px; left:0px; width:100%}
.mainBxslider > li > .mainVisualTitle > div {max-width:1088px; margin:0 auto; position:relative}
.mainBxslider > li > .mainVisualTitle > div > h2 {font-weight:400; font-size:40px !important; color:#000; line-height:70px}
.mainBxslider > li > .mainVisualTitle > div > h2 strong {font-weight:500; font-size:60px !important}
.mainBxslider > li > .mainVisualTitle > div > h2.colorWhite {color:#fff}
.mvBtn {padding:18px 38px; color:#fff; background:#E93978; font-size:17px; border-radius:5px; display:inline-block; margin-top:40px; transition:.3s}
.mvBtn:hover, .mvBtn:focus {background:#000; color:#fff}
#mainVisualWrap .bx-wrapper img {max-width:inherit; width:100%}
#mainVisualWrap .bx-wrapper .bx-controls-direction a {position:absolute; top:50%; margin-top:-18px; outline:0; width:19px; height:37px; text-indent:-9999px; z-index:99; transition:.3s}
#mainVisualWrap .bx-wrapper .bx-prev {left:55px; background:url('../images/mainArrLeft.png') no-repeat}
#mainVisualWrap .bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {opacity:0.6}
#mainVisualWrap .bx-wrapper .bx-next {right:55px; background:url('../images/mainArrRight.png') no-repeat}
#mainVisualWrap .bx-wrapper .bx-next:hover, #mainVisualWrap .bx-wrapper .bx-next:focus {background-position:0; opacity:0.6}
#mainVisualWrap .bx-wrapper .bx-pager, #mainVisualWrap .bx-wrapper .bx-controls-auto {bottom:95px}
#mainVisualWrap .bx-wrapper .bx-pager.bx-default-pager a {background:none; border:1px solid #fff}
#mainVisualWrap .bx-wrapper .bx-pager.bx-default-pager a:hover, #mainVisualWrap .bx-wrapper .bx-pager.bx-default-pager a.active, #mainVisualWrap .bx-wrapper .bx-pager.bx-default-pager a:focus {background:#fff}

/* noticeWrap */
#noticeWrap {margin-top:-70px; position:relative; background:url('../images/noticeWrapBg.png') top center no-repeat; z-index:99}
#noticeWrap > section {width:1198px; margin:0 auto; padding:55px; background:#fff; overflow:hidden}
.noticeList {float:left; width:516px}
.archivesList {float:right; width:516px}
.noticeList h3, .archivesList h3 {font-size:24px; font-weight:500; margin:0}
.noticeList h3 .more, .archivesList h3 .more {display:inline-block; float:right; width:18px; height:18px; background:#707070; border-radius:10px; text-align:center; transition:.3s; padding:5px}
.noticeList h3 .more img, .archivesList h3 .more img {vertical-align:top}
.noticeList h3 .more:hover, .archivesList h3 .more:hover {background:#CB1871}
.listSt {border-top:1px solid #B2B2B2; margin-top:20px}
.listSt > li {}
.listSt > li a {display:block; overflow:hidden; font-size:14px; font-weight:400; padding:15px 0; border-bottom:1px solid #B2B2B2}
.listSt > li a .noti_tt {width:75%; display:block; float:left; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#707070}
.listSt > li a .noti_day {width:25%; display:block; float:right; color:#707070; text-align:right}
.listSt > li a:hover .noti_tt, .listSt > li a:hover .noti_day {color:#000}
.newIcon {color:#fff; font-weight:500; font-size:11px; padding:2px 7px; background:#E0007A; margin:0; display:inline-block; vertical-align:text-top}

/* mainConWrap1 */
#mainConWrap1 {margin-top:90px}
#mainConWrap1 section {max-width:1088px; margin:0 auto; text-align:center}
#mainConWrap1 section h3 {margin-bottom:0}
#mainConWrap1 .CloudIcon {padding:70px 0; overflow:hidden}
#mainConWrap1 .CloudIcon li {float:left; text-align:center; width:25%}
#mainConWrap1 .CloudIcon .IconMainText {font-size:20px; color:#000; margin-top:25px}
#mainConWrap1 .CloudIcon .IconSubText {font-size:14px; color:#676767; margin-top:15px}

/* quiryWrap */
#quiryWrap {background:url('../images/quiryWrapBg.png') #F4F2FC no-repeat; background-size:cover; padding:100px 0}
#quiryWrap section {width:700px; margin:0 auto; text-align:center}
.quiryList {background:#fff; padding:75px 70px}
.quiryList > h3 {font-size:30px; font-weight:400; margin:0 0 45px 0}
.quiryList .form-control {border:1px solid #E8ECEF; border-radius:5px; font-size:15px; height:60px; line-height:60px; box-shadow:none}
.quiryList .form-textarea {border:1px solid #E8ECEF; border-radius:5px; font-size:15px; box-shadow:none; width:100%; padding:10px}
.quiryAgree {text-align:left; font-size:15px; color:#707070; margin-top:15px}
.quiryAgree input[class="checkStyle2"] + label:before {top:4px}
.quiryAgree .provisionMore {border-bottom:1px solid #000}
.quiryList .btnStyle2 {padding:15px 50px; font-size:16px; margin-top:45px}

/*
h2 {margin:0; color:#fff; font-size:28px !important; font-weight:500}
h3 {font-size:30px; color:000}
.image-center {text-align:center}
p {letter-spacing:-0.5px}
.color333 {color:#333}
*/

.image-center {text-align:center}

/* subVisualWrap01 */
#subVisualWrap01 section {background:url(../images/subVisual01.png); height:370px; padding-top:110px}
#subVisualWrap01 section div > p {margin-top:22px; color:#fff; font-size:18px}
#subVisualWrap01 section div > div {margin-top:44px}
#subVisualWrap01 section div > div > a {color:#A142D3; font-size:17px; background-color:#fff; border-radius:5px; padding:15px 40px; font-weight:500}
#subVisualWrap01 section div div a:hover {background-color:#570792; color:#fff}

/* .serviceCon01 */
.serviceCon01 section {max-width:1000px; margin:110px auto}
.serviceCon01 section .subTitle {text-align:center; font-size:24px !important}
.serviceCon01 section .CloudIcon {padding:70px 70px 0 70px; overflow:hidden}
.serviceCon01 section .CloudIcon li {float:left; text-align:center; width:33.3%}
.serviceCon01 section .CloudIcon .IconMainText {font-size:20px; color:#000; margin-top:25px}
.serviceCon01 section .CloudIcon .IconSubText {font-size:14px; color:#676767; margin-top:15px}

/* .serviceCon02 */
.serviceCon02 section .subTitle {text-align: left; font-size: 24px !important}
.serviceCon02 {background-color:#F4F2FC; padding-top:133px}
.serviceCon02 section {max-width:1100px; margin:0 auto}
.serviceCon02 section .subText {font-size:16px; color:#676767; margin-top:34px}
.serviceCon02 section > ul {overflow:hidden; background:url('../images/send.png') top right no-repeat; height:630px}
.serviceCon02 section > ul > li {overflow:hidden; float:left; width:50%}
.serviceCon02 section > ul > li .people01 {float:right}

/* serviceBxsliderWrap */
.serviceBxsliderWrap {}
.serviceBxsliderWrap .bx-wrapper .bx-controls-direction a {position:absolute; top:50%; margin-top:20px; outline:0; width:92px; height:92px; text-indent:-9999px; z-index:99; transition:.3s}
.serviceBxsliderWrap .bx-wrapper .bx-prev {left:2px; background:url('../images/serviceArrLeft.png') no-repeat}
.serviceBxsliderWrap .bx-wrapper .bx-prev:hover, .serviceBxsliderWrap .bx-wrapper .bx-prev:focus {opacity:0.8}
.serviceBxsliderWrap .bx-wrapper .bx-next {right:-10px; background:url('../images/serviceArrRight.png') no-repeat}
.serviceBxsliderWrap .bx-wrapper .bx-next:hover, .serviceBxsliderWrap .bx-wrapper .bx-next:focus {background-position:0; opacity:0.8}
#bx-pager {margin-top:30px}
#bx-pager > li > a {color:#000; font-size:18px; font-weight:400}
#bx-pager > li > a:before {content:""; width:4px; height:34px; display:inline-block; background:#D5D5D5; margin-right:15px; vertical-align:middle}
#bx-pager > li > a.active {color:#FC6D26}
#bx-pager > li > a.active:before {background:#FC6D26}

.serviceCon02_list {color:#000; font-size:18px; font-weight:400; margin-top:20px; line-height:1px}
.serviceCon02_list li {line-height:2em}

/* faqList */
.faqList {}
.faqList > li {border-bottom:1px solid #B2B2B2; padding:10px 0}
.faqTitle {overflow:hidden; cursor:pointer}
.faqTitle .faqBg {color:#9941FF; font-size:14px; background-color:rgba(153,65,255,0.15); font-weight:700; padding:6px 10px; border-radius:5px; display:inline-block; width:4.5%}
.faqTitle p {display:inline-block; font-size:14px; color:#707070; padding:0 15px 0 20px; width:95.5%}
.faqTitle p .faqIcon {float:right; width:13px; height:13px; background:url('../images/icon_plus.png') no-repeat; text-indent:-9999px; margin-top:5px}
.faqAn {font-size:14px; color:#000; margin:15px 0 0 68px; min-height:100px; display:none}
.faqList > li.active .faqAn {display:block}
.faqList > li.active .faqIcon {float:right; width:13px; height:13px; background:url('../images/icon_minus.png') no-repeat; text-indent:-9999px; margin-top:5px}

/* .serviceCon03 */
.serviceCon03 section {max-width:1088px; margin:110px auto}
.serviceCon03 section .subTitle {text-align:center; font-size:24px !important}
.serviceCon03 section .subText {text-align:center; font-size:16px; color:#676767; margin-top:34px; margin-bottom:50px}
.serviceCon03 section .chartWrap {position:relative}
.serviceCon03 section .people02 {position:absolute; left:0; bottom:0}
.serviceCon03 section .people03 {position:absolute; right:0; bottom:0}

/* serviceCon04 */
.serviceCon04 {background-color:#F4F4F4; padding:100px 0}
.serviceCon04 section {max-width:1088px; margin:0 auto}
.serviceCon04 section .textBox {background:url(../images/textBox_bg.png) no-repeat; padding:63px 70px}
.serviceCon04 section .subTitle {color:#fff; font-size:38px !important; margin:0}
.serviceCon04 section .subTitle2 {color:#7FD0FF; margin-top:30px; font-weight:700; font-size:22px}
.serviceCon04 section .subText {font-size:16px; color:#fff; margin-top:94px}
.serviceCon04 section ul {overflow:hidden; margin-top:40px}
.serviceCon04 section ul li {width:50%; float:left}
.serviceCon04 section ul li .AWS_MainText {margin-top:20px; font-size:22px; color:#000}
.serviceCon04 section ul li .AWS_SubText {margin-top:23px; font-size:15px; color:#000}

/* serviceCon05 */
.serviceCon05 {background-color:#FFE13B; padding:110px 0}
.serviceCon05 section {max-width:1088px; margin:0 auto}
.serviceCon05 section .subTitle {text-align:center; font-size:24px !important}
.serviceCon05 section .subText {font-size:16px; color:#000; margin-top:32px; text-align:center}
.serviceCon05 section .btn {margin-top:65px; text-align:center; display:block}
.serviceCon05 section .btn .btnBcackRed {font-size:15px; color:#fff; font-weight:700; padding:20px 43px; background-color:#E0007A; border-radius:5px; margin-right:15px}
.serviceCon05 section .btn .btnBcackRed:hover {color:#E0007A; background-color:#fff}
.serviceCon05 section .btn .btnBcackWhite {font-size:15px; color:#000; font-weight:700; padding:20px 43px; background-color:#fff; border:1px solid #000; border-radius:5px}
.serviceCon05 section .btn .btnBcackWhite:hover {background-color:#000; color:#fff}


/* subVisualWrap02 */
#subVisualWrap02 section {background:url(../images/subVisual02.png); height:370px; padding-top:150px}
#subVisualWrap02 section div > p {margin-top:22px; color:#fff; font-size:18px}
.sub02_conWrap {padding:50px 0; max-width:1088px; margin:0 auto}
.subVisualWrap02 {margin-top:57px}
.subVisualWrap02 .tableTitle {font-size:20px; color:000; font-weight:700}
.subVisualWrap02 .tableTitle i {color:#CB1871}
.subVisualWrap02 .tableTitle2 {position:relative; font-size:20px; color:#fff; font-weight:500; padding:4px 15px; background-image: linear-gradient(to right, rgb(90 5 206), rgba(73,66,253,1))}
.subVisualWrap02 .tableTitle2 img{position:absolute; right:0; top:0}
.subVisualWrap02 .tableText {float:right; font-size:14px; color:#707070; margin-bottom:20px}
.user_table_skin1 {width:100%; border-top:1px solid #000}
.user_table_skin1 td {background-color:#fff; color:#505050; font-size:14px; text-align:center; border-right:1px solid #D5D5D5; padding:17px 0; border-bottom:1px solid #D5D5D5}
.user_table_skin1 th {background-color:#F2E6FF; color:#000; font-size:14px; font-weight:500; border-right:1px solid #D5D5D5; text-align:center; padding:17px 0}
.user_table_skin1 tr .end {border-right:0}
.infoText {font-size:13px; color:#505050; font-weight:100; margin-top:20px}
.infoText i {color:#b2b2b2}
.sub02_conWrap .tab2 {width:100%; overflow:hidden}
.sub02_conWrap .tab2 li {float:left; width:50%}
.sub02_conWrap .tab2 li a {font-size:15px; color:#676767; text-align:center; background-color:#F2F2F2; border:1px solid #D1D1D1; display:block; padding:14px; border-right:0}
.sub02_conWrap .tab2 li:last-child {border-right:1px solid #D1D1D1}
.sub02_conWrap .tab2 li a:hover {font-weight:700; color:#fff; background-color:#9941FF}
.sub02_conWrap .tab2 li.active a{font-weight:700; color:#fff; background-color:#9941FF}
.sub02_conWrap .tab3 {width:100%; overflow:hidden; border-radius:30px 30px 0 0 / 30px 30px 0 0}
.sub02_conWrap .tab3 li {float:left; width:50%}
.sub02_conWrap .tab3 li a {font-size:18px; color:#676767; text-align:center; background-color:#F2F2F2;  display:block; padding:17px; box-shadow:0px -10px 5px -5px #0000001f inset}
.sub02_conWrap .tab3 li:last-child {}
.sub02_conWrap .tab3 li a:hover {font-weight:500; color:#fff; background-color:#601fff}
.sub02_conWrap .tab3 li.active a{font-weight:500; color:#fff; background-color:#601fff}

/* table */
.user_table_skin2 {width:100%; background:#fff; text-align:center; border-top: 1px solid #222; border-bottom: 1px solid #222}
.user_table_skin2 th {font-size:14px; border-bottom:none !important; background-color:#F1F1F1; color:#000 !important; padding:7px !important; border-right:1px solid #D5D5D5; border-bottom:1px solid #d5d5d5; border-top:#222; vertical-align:middle}
.user_table_skin2 td {font-size:14px; color:#707070; padding:7px; border-right:1px solid #D5D5D5;  border-bottom:1px solid #D5D5D5}
.user_table_skin2 a {color:#707070}
.user_table_skin2 tr:hover td{background-color:#f7f7f7}
.user_table_skin2 .end {border-right:0}
.user_table_skin2 tr:last-child td {border-bottom:none}

.user_table_skin3 {width:100%}
.user_table_skin3 td {color:#505050; font-size:17px; text-align:center; border-right:3px solid #fff; padding:13px 0}
.user_table_skin3 th {color: #fff; font-size:20px; font-weight:500; border-right:3px solid #fff; text-align:center; padding:13px 0}
.user_table_skin3 tr .end {border-right:0}
.user_table_skin3 thead .lg{background-image: linear-gradient(to right, rgb(90 5 206), rgba(73,66,253,1))}
.user_table_skin3 tbody tr:nth-child(even) {background-color:#e3edff}

/* subVisualWrap03 */
#subVisualWrap03 section {background:url(../images/subVisual03.png); height:370px; padding-top:140px}
#subVisualWrap03 section div > p {margin-top:22px; color:#fff; font-size:18px}


/* sub03_conWrap */
.sub03_conWrap {padding:50px 0}
.sub03_conWrap section {max-width:1088px; margin:0 auto}
.sub03_conWrap .con01 .tab5 {width:100%; overflow:hidden}
.sub03_conWrap .con01 .tab5 li {float:left; width:20%}
.sub03_conWrap .con01 .tab5 li a {font-size:15px; color:#676767; text-align:center; background-color:#F2F2F2; border:1px solid #D1D1D1; display:block; padding:14px; border-right:0}
.sub03_conWrap .con01 .tab5 li:last-child {border-right:1px solid #D1D1D1}
.sub03_conWrap .con01 .tab5 li a:hover {font-weight:700; color:#fff; background-color:#9941FF}
.sub03_conWrap .con01 .tab5 li.active a{font-weight:700; color:#fff; background-color:#9941FF}

.sub03_conWrap .con01 .question {border-bottom:1px solid #B2B2B2; padding:15px 0; overflow:hidden}
.sub03_conWrap .con01 .question .questionBg {color:#9941FF; font-size:15px; background-color:rgba(153,65,255,0.15); font-weight:700; padding:6px 10px; border-radius:5px}
.sub03_conWrap .con01 .question p {display:inline-block; font-size:14px; color:#707070; margin-left:20px}
.sub03_conWrap .con01 .question .icon_plus {float:right; margin-right:14px}
.sub03_conWrap .con01 .question .icon_minus {float:right; margin-right:14px}

.sub03_conWrap .con01 .Answer {font-size:14px; color:#000; margin-top:15px}
.sub03_conWrap .con01 .Answer {border-bottom:1px solid #B2B2B2; overflow:hidden; height:auto; padding-bottom:30px;}
.sub03_conWrap .con01 .Answer .questionBg {color:#9941FF; font-size:15px; background-color:rgba(153,65,255,0.15); font-weight:700; padding:6px 10px; border-radius:5px; display:inline-block}
.sub03_conWrap .con01 .Answer p {display:inline-block; font-size:14px; color:#707070; margin-left:20px}
.sub03_conWrap .con01 .Answer .icon_plus {float:right; margin-right:14px}
.sub03_conWrap .con01 .Answer .icon_minus {float:right; margin-right:14px}
.sub03_conWrap .con01 .Answer .AnswerText {font-size:14px; color:#000; margin-top:22px; display:block; margin-left:68px}
.sub03_conWrap .con01 .btn_more {text-align:center; margin-top:35px}
.sub03_conWrap .con01 .btn_more a {font-size:16px; color:#222; padding:10px 40px; border-radius:3px; border:1px solid #222; font-weight:500}
.sub03_conWrap .con01 .btn_more a:hover {color:#fff; background-color:#222}

.sub03_conWrap .con02 {background-color:#F4F2FC; padding:70px 0; margin-top:100px}
.sub03_conWrap .con02 section {max-width:1088px; margin:0 auto}
.sub03_conWrap .con02 section .Icon {overflow:hidden}
.sub03_conWrap .con02 section .Icon li {float:left; width:33.3%; text-align:center}
.sub03_conWrap .con02 section .Icon li .IconTitle {font-size:15px; color:#000; margin-top:17px}
.sub03_conWrap .con02 section .Icon li .IconsdubText {font-size:14px; color:#707070; margin-top:24px}

.sub03_conWrap .con03 {margin-top:109px}
.sub03_conWrap .con03 section {max-width:1088px; margin:0 auto; overflow:hidden}
.sub03_conWrap .con03 section .Notice {width:48%; float:left}
.sub03_conWrap .con03 section .Notice .boder-bottom {border-bottom:1px solid #B2B2B2; overflow:hidden; padding:15px 0}
.sub03_conWrap .con03 section .Notice .NoticeTitle {font-size:24px; color:#000; font-weight:500; display:inline-block}
.sub03_conWrap .con03 section .Notice .boder-bottom .more {float:right}
.sub03_conWrap .con03 section .Notice .NoticeSubText {font-size:14px; color:#707070; display:inline-block}
.sub03_conWrap .con03 section .Notice .date {font-size:14px; color:#707070; float:right; font-weight:200}
.sub03_conWrap .con03 section .Notice .NoticeSubText .new {color:#fff; font-weight:500; font-size:11px; padding:3px 8px; background-color:#E0007A; margin-right:10px}

.sub03_conWrap .con03 section .archives {width:48%; float:right}
.sub03_conWrap .con03 section .archives .boder-bottom {border-bottom:1px solid #B2B2B2; overflow:hidden; padding:15px 0}
.sub03_conWrap .con03 section .archives .NoticeTitle {font-size:24px; color:#000; font-weight:500; display:inline-block}
.sub03_conWrap .con03 section .archives .boder-bottom .more {float:right}
.sub03_conWrap .con03 section .archives .NoticeSubText {font-size:14px; color:#707070; display:inline-block}
.sub03_conWrap .con03 section .archives .date {font-size:14px; color:#707070; float:right; font-weight:200}
.sub03_conWrap .con03 section .archives .boder-bottom .fileIcon {margin-left:5px}

.sub03_conWrap .boardTitle {border-left:4px solid #9941FF; padding-left:20px; margin-bottom:72px}
.sub03_conWrap .boardTitle .titleText {font-size:28px; color:#000; font-weight:700}
.sub03_conWrap .boardTitle .subText {margin-top:15px; font-size:16px; color:#707070}

.sub03_conWrap .new2 {color:#fff; background-color:#E93978; border-radius:5px; padding:3px 6px; margin-right:8px; font-size:10px}


.sub03_conWrap .boardWrite .title {border-top: 1px solid #000; background-color:#F1F1F1; padding:22px 18px}
.sub03_conWrap .boardWrite .title p {display:inline-block; font-size:14px; color:#000}
.sub03_conWrap .boardWrite .title .date {float:right; font-size:14px; font-weight:300}
.sub03_conWrap .boardWrite .content {border-bottom: 1px solid #000; padding:22px 18px; min-height:370px; font-size:13px; color:#000; font-weight:300}
.sub03_conWrap .boardWrite .content p {font-size:14px}
.sub03_conWrap .boardWrite .content2 {border-bottom: 1px solid #d5d5d5; padding:22px 18px; min-height:370px; font-size:13px; color:#000; font-weight:300}
.sub03_conWrap .boardWrite .content2 p {font-size:14px}
.sub03_conWrap .boardWrite .content-file {border-bottom: 1px solid #000; padding:30px 18px}
.sub03_conWrap .boardWrite .content-file a {font-size:12px; color:#000; font-weight:300; display:block}
.sub03_conWrap .btn {text-align:center}
.sub03_conWrap .btnList {font-size:16px; color:#222; border-radius:3px; border:1px solid #222; padding:17px 50px}


.modal-body .boardTitle {border-left:4px solid #9941FF; padding-left:20px; margin-bottom:72px}
.modal-body .boardTitle .titleText {font-size:28px; color:#000; font-weight:700}
.modal-body .boardTitle .subText {margin-top:15px; font-size:16px; color:#707070}

.modal-body .new2 {color:#fff; background-color:#E93978; border-radius:5px; padding:3px 6px; margin-right:8px; font-size:10px}
.modal-body .boardWrite .title {border-top: 1px solid #000; background-color:#F1F1F1; padding:22px 18px}
.modal-body .boardWrite .title p {display:inline-block; font-size:14px; color:#000}
.modal-body .boardWrite .title .date {float:right; font-size:14px; font-weight:300}
.modal-body .boardWrite .content {border-bottom: 1px solid #000; padding:22px 18px; min-height:370px; font-size:13px; color:#000; font-weight:300}
.modal-body .boardWrite .content p {font-size:14px}
.modal-body .boardWrite .content2 {border-bottom: 1px solid #d5d5d5; padding:22px 18px; min-height:370px; font-size:13px; color:#000; font-weight:300}
.modal-body .boardWrite .content2 p {font-size:14px}
.modal-body .boardWrite .content-file {border-bottom: 1px solid #000; padding:30px 18px}
.modal-body .boardWrite .content-file a {font-size:12px; color:#000; font-weight:300; display:block}

/* PopupClose */
/*
.PopupBtn_Wrap {position:absolute; top:-20px; right:-25px}
#Inquiry > .modal-dialog {margin-top:100px}
.modal-body h2 {font-size:18px !important; color:#333}
*/


/* user_index */
.subTitle_h3 {font-size:24px}


/* user_join */
.user_join_h2 {font-size:30px !important; margin-top:20px !important; margin-bottom:30px !important;}
.user_sub_h2 {font-size:30px !important; color:#fff}


/* user > PopupBtn_Wrap */
.PopupBtn_Wrap {position:absolute; top:-20px; right:-20px}

/* phoneWrap > phoneTextWrap btn*/

.phoneWrap .btnStyle1.backLightGray {background:#F1F1F1; border-color:#ddd; color:#000; width:100%; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical; margin:5px 0}
.phoneWrap .btnStyle1.backLightGray:hover {background:#000; border-color:#000; color:#fff}
.modal-body .scroll-y_modal {max-height:140px; overflow-y:auto; line-height:1.4em}



/* 2022-01-13 */
#subVisualWrap02a section {background:url(../images/subVisual01.png) no-repeat center/cover; height:37vh; display:flex; align-items:center; justify-content:center}
#subVisualWrap02a section div > p {margin-top:22px; color:#fff; font-size:18px}
#subVisualWrap02a section div > div {margin-top:44px}
#subVisualWrap02a section div > div > a {color:#A142D3; font-size:17px; background-color:#fff; border-radius:5px; padding:15px 40px; font-weight:500}
#subVisualWrap02a section div div a:hover {background-color:#570792; color:#fff}
.inner1088 {width:1088px; margin:0 auto}
.userChannelList {display:flex; justify-content:space-between}
.userChannelList > li {width:249px; text-align:center; border-radius:32px 32px 0 0; overflow:hidden}
.userChannelList_box {display:flex; align-items:flex-end; border:1px solid #CECECE; box-sizing:border-box; height:180px; padding-bottom:40px}
.userChannelList_box > div {width:100%}
.userChannelList_box p {font-size:20px; font-weight:500; color:#000; line-height:29px}
.userChannelList_box a {display:inline-block; width:140px; height:40px; text-align:center; line-height:40px; font-size:16px; font-weight:400; color:#fff; background:#000; border-radius:20px; box-sizing:border-box; transition:.3s}
.userChannelList_box a:hover, .userChannelList_box a:focus {background:#a142d3}
#userChannel1-1, #userChannel1-3 {background:#F6F6FC; padding:80px 0}
#userChannel1-2, #userChannel1-4 {padding:80px 0}
.userChannelTitle {font-size:30px; font-weight:700; color:#333}
.userSmsList {display:flex; justify-content:space-between; margin-top:60px}
.userSmsList > li {width:340px; text-align:center; font-size:16px; font-weight:500}
.userBtn {display:inline-block; min-width:137px; height:42px; line-height:42px; text-align:center; border-radius:21px; box-sizing:border-box; color:#fff; font-size:16px; font-weight:700}
.userRcsList {display:flex; justify-content:space-between; margin-top:40px}
.userRcsList > li {width:527px; text-align:center; font-size:20px; font-weight:500}
.userRcsList > li span {vertical-align:middle}
.userArrow {font-size:18px; margin:0 10px; vertical-align:middle}
.userKakaoList {display:flex; justify-content:space-between; margin-top:60px}
.userKakaoList > li {width:340px; text-align:center; font-size:16px; font-weight:500}

/* 2022-02-04 */
#mainConWrap2 {border-bottom: 1px solid #D5D5D5}
#mainConWrap2 section {max-width:1088px; margin:0 auto; text-align:center}
#mainConWrap2 section h3 {margin-bottom:0}
#mainConWrap2 .CloudIcon {padding:80px 0}
#mainConWrap2 .CloudIcon:after {content:''; display:block; clear:both}
#mainConWrap2 .CloudIcon li {float:left; overflow:hidden; text-align:center; width:340px; margin-right:34px; border: 1px solid #EAEAEA; border-radius:16px; box-shadow:5px 5px 10px rgb(0 0 0 / 7%)}
#mainConWrap2 .CloudIcon li:last-child {margin-right:0}
#mainConWrap2 .CloudIcon .IconMainBox {padding:23px 0 40px 0}
#mainConWrap2 .CloudIcon .IconMainText {font-size:20px; color:#000}
#mainConWrap2 section .btn2 {margin-top:25px; text-align:center; display:block}
#mainConWrap2 section .btn2 .btnBcackWhite {font-size:15px; color:#000; font-weight:700; padding:13px 25px; background-color:#fff; border:1px solid #000; border-radius:8px}
#mainConWrap2 section .btn2 .btnBcackWhite:hover {background-color:#000; color:#fff}

.serviceCon02_2 {background-color:#F4F2FC;}
.serviceCon02_2 section {max-width:1088px; margin:0 auto; padding:80px 0}
.serviceCon02_2 section .subTitle {text-align:left; font-size:30px !important; line-height:40px; letter-spacing:-2px; font-weight:400}
.serviceCon02_2 section .subText {font-size:16px; color:#676767; margin:26px 0 45px 0}
.serviceCon02_2 section > ul {overflow:hidden; background:url('../images/send2.png') top right no-repeat; height:630px}
.serviceCon02_2 section > ul > li {overflow:hidden; float:left; width:50%}
.serviceCon02_2 section .chartWrap_sub {color:#B2B2B2; font-size:14px; margin-bottom:-20px}

.serviceCon03_2 section {max-width:1088px; margin:0 auto; padding:80px 0}
.serviceCon03_2 section .subTitle {text-align:left; font-size:30px !important; line-height:40px; letter-spacing:-2px}
.serviceCon03_2 section .subText {text-align:left; font-size:16px; color:#676767; margin:26px 0 45px 0; letter-spacing:-0.3px}
.serviceCon03_2 section .chartWrap {position:relative; padding:0 120px}
.serviceCon03_2 section .chartWrap .chartWrap_sub {color:#B2B2B2; font-size:14px; margin-bottom:10px}

.serviceCon04_2 section {max-width:1088px; margin:0 auto; padding:80px 0}
.serviceCon04_2 section .subTitle {text-align:left; font-size:30px !important; line-height:40px; letter-spacing:-2px; font-weight:400}
.serviceCon04_2 section .subText {text-align:left; font-size:16px; color:#676767; margin:26px 0 45px 0}

.serviceCon05_2 {background-color:#FECE02; background:url(../images/serviceCon05_2_bg.jpg) no-repeat; background-color:#fece02}
.serviceCon05_2 section {max-width:1088px; margin:0 auto; padding:80px 0; text-align:left}
.serviceCon05_2 section .subTitle {font-size:30px !important; line-height:40px; letter-spacing:-2px; font-weight:400; margin:15px 0 40px 0}
.serviceCon05_2 section .quiryList {width:840px; margin:0 auto; background:#fff;  padding:40px; border: 1px solid #EAEAEA; border-radius:16px; box-shadow:5px 5px 10px rgb(0 0 0 / 7%)}
.serviceCon05_2 section .quiryList > h3 {font-size:30px; font-weight:400; margin:0 0 45px 0}
.serviceCon05_2 section .quiryList .form-control {border:1px solid #c2c2c2; border-radius:5px; font-size:15px; height:60px; line-height:60px; box-shadow:none}
.serviceCon05_2 section .quiryList .form-textarea {border:1px solid #c2c2c2; border-radius:5px; font-size:15px; box-shadow:none; width:100%; padding:10px}
.serviceCon05_2 section .quiryAgree {text-align:left; font-size:15px; color:#c2c2c2; margin-top:30px}
.serviceCon05_2 section .quiryAgree input[class="checkStyle2"] + label:before {top:4px}
.serviceCon05_2 section .quiryAgree .provisionMore {border-bottom:1px solid #000}
.serviceCon05_2 section .quiryList .btnStyle2 {padding:9px 45px; font-size:16px; margin-top:20px; border-radius:8px}

#NotFoundWrap section {max-width:650px; margin:0 auto; padding:290px 0; overflow:hidden}
#NotFoundWrap section > h2 {color:#323232; font-size:20px !important; font-weight:700; margin-top:48px}
#NotFoundWrap section > p {color:#B2B2B2; font-size:14px; margin-top:10px}
#NotFoundWrap section > .rightimg {float:right; margin-top:-25px}

/* 반응형 */
@media screen and (max-width:768px) {
	#NotFoundWrap section {max-width:100%; padding:100px 0; text-align:center}
	#NotFoundWrap section img {display:block; margin:0 auto}
	#NotFoundWrap section > .logoimg {width:120px}
	#NotFoundWrap section > .rightimg {float:none; margin:40px auto; width:100px}
	#NotFoundWrap section > h2 {color:#323232; font-size:14px !important; font-weight:700; margin-top:40px}
	#NotFoundWrap section > p {color:#B2B2B2; font-size:10px; margin-top:10px}
	#NotFoundWrap section > p > span {display: block}
}

/* 2022-02-09 */
.userLogin-form > .Chrome, .userSection > .Chrome {margin-top:40px; text-align:right}
.userLogin-form > .Chrome > span, .userSection > .Chrome > span {padding-left:2px; color:#3467CB; height:30px}
.userLogin-form > .Chrome > img, .userSection > .Chrome > img {vertical-align:top}


/* 2022-02-21 */
.serviceCon05_2 {background-color:#FECE02; background:url(../images/serviceCon05_2_bg.jpg) no-repeat; background-color:#fece02; background-position: bottom;}
.serviceCon05_2 section {max-width:1088px; margin:0 auto; padding:80px 0; text-align:left}
.serviceCon05_2 section .subTitle {font-size:30px !important; line-height:40px; letter-spacing:-2px; font-weight:400; margin:15px 0 40px 0}
.serviceCon05_2 section .quiryList {width:840px; margin:0 auto; background:#fff;  padding:40px; border: 1px solid #EAEAEA; border-radius:16px; box-shadow:5px 5px 10px rgb(0 0 0 / 7%)}
.userChannelList_box .btnBcackWhite {line-height:10px; font-size:15px; color:#000; font-weight:700; padding:13px 25px; background-color:#fff; border:1px solid #000; border-radius:8px}
.userChannelList_box .btnBcackWhite:hover {background-color:#000; color:#fff}
#subVisualWrap02a section {background:url(../images/subVisual01.png) no-repeat center/cover; height:370px; display:flex; align-items:center; justify-content:center}
#subVisualWrap02 section {background:url(../images/subVisual02.png) no-repeat center/cover; height:370px; padding-top:150px}
#subVisualWrap03 section {background:url(../images/subVisual03.png) no-repeat center/cover; height:370px; padding-top:140px}

